/*
Kestra EE

All API operations, except for Superadmin-only endpoints, require a tenant identifier in the HTTP path.<br/> Endpoints designated as Superadmin-only are not tenant-scoped.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package kestra_api_client

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"os"
	"reflect"
	"strings"
	"time"
)

// ExecutionsAPIService ExecutionsAPI service
type ExecutionsAPIService service

type ApiCreateExecutionRequest struct {
	ctx          context.Context
	ApiService   *ExecutionsAPIService
	namespace    string
	id           string
	wait         *bool
	tenant       string
	labels       *[]string
	revision     *int32
	scheduleDate *time.Time
	breakpoints  *string
	kind         *ExecutionKind
}

// If the server will wait the end of the execution
func (r ApiCreateExecutionRequest) Wait(wait bool) ApiCreateExecutionRequest {
	r.wait = &wait
	return r
}

// The labels as a list of &#39;key:value&#39;
func (r ApiCreateExecutionRequest) Labels(labels []string) ApiCreateExecutionRequest {
	r.labels = &labels
	return r
}

// The flow revision or latest if null
func (r ApiCreateExecutionRequest) Revision(revision int32) ApiCreateExecutionRequest {
	r.revision = &revision
	return r
}

// Schedule the flow on a specific date
func (r ApiCreateExecutionRequest) ScheduleDate(scheduleDate time.Time) ApiCreateExecutionRequest {
	r.scheduleDate = &scheduleDate
	return r
}

// Set a list of breakpoints at specific tasks &#39;id.value&#39;, separated by a coma.
func (r ApiCreateExecutionRequest) Breakpoints(breakpoints string) ApiCreateExecutionRequest {
	r.breakpoints = &breakpoints
	return r
}

// Specific execution kind
func (r ApiCreateExecutionRequest) Kind(kind ExecutionKind) ApiCreateExecutionRequest {
	r.kind = &kind
	return r
}

func (r ApiCreateExecutionRequest) Execute() ([]ExecutionControllerExecutionResponse, *http.Response, error) {
	return r.ApiService.CreateExecutionExecute(r)
}

/*
CreateExecution Create a new execution for a flow

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param namespace The flow namespace
	@param id The flow id
	@param tenant
	@return ApiCreateExecutionRequest
*/
func (a *ExecutionsAPIService) CreateExecution(ctx context.Context, namespace string, id string, tenant string) ApiCreateExecutionRequest {
	return ApiCreateExecutionRequest{
		ApiService: a,
		ctx:        ctx,
		namespace:  namespace,
		id:         id,
		tenant:     tenant,
	}
}

// Execute executes the request
//
//	@return []ExecutionControllerExecutionResponse
func (a *ExecutionsAPIService) CreateExecutionExecute(r ApiCreateExecutionRequest) ([]ExecutionControllerExecutionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []ExecutionControllerExecutionResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExecutionsAPIService.CreateExecution")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/{tenant}/executions/{namespace}/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", url.PathEscape(parameterValueToString(r.namespace, "namespace")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"tenant"+"}", url.PathEscape(parameterValueToString(r.tenant, "tenant")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.wait == nil {
		return localVarReturnValue, nil, reportError("wait is required and must be specified")
	}

	if r.labels != nil {
		t := *r.labels
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "labels", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "labels", t, "form", "multi")
		}
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "wait", r.wait, "form", "")
	if r.revision != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "revision", r.revision, "form", "")
	}
	if r.scheduleDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scheduleDate", r.scheduleDate, "form", "")
	}
	if r.breakpoints != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "breakpoints", r.breakpoints, "form", "")
	}
	if r.kind != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "kind", r.kind, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteExecutionRequest struct {
	ctx           context.Context
	ApiService    *ExecutionsAPIService
	executionId   string
	deleteLogs    *bool
	deleteMetrics *bool
	deleteStorage *bool
	tenant        string
}

// Whether to delete execution logs
func (r ApiDeleteExecutionRequest) DeleteLogs(deleteLogs bool) ApiDeleteExecutionRequest {
	r.deleteLogs = &deleteLogs
	return r
}

// Whether to delete execution metrics
func (r ApiDeleteExecutionRequest) DeleteMetrics(deleteMetrics bool) ApiDeleteExecutionRequest {
	r.deleteMetrics = &deleteMetrics
	return r
}

// Whether to delete execution files in the internal storage
func (r ApiDeleteExecutionRequest) DeleteStorage(deleteStorage bool) ApiDeleteExecutionRequest {
	r.deleteStorage = &deleteStorage
	return r
}

func (r ApiDeleteExecutionRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteExecutionExecute(r)
}

/*
DeleteExecution Delete an execution

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param executionId The execution id
	@param tenant
	@return ApiDeleteExecutionRequest
*/
func (a *ExecutionsAPIService) DeleteExecution(ctx context.Context, executionId string, tenant string) ApiDeleteExecutionRequest {
	return ApiDeleteExecutionRequest{
		ApiService:  a,
		ctx:         ctx,
		executionId: executionId,
		tenant:      tenant,
	}
}

// Execute executes the request
func (a *ExecutionsAPIService) DeleteExecutionExecute(r ApiDeleteExecutionRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExecutionsAPIService.DeleteExecution")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/{tenant}/executions/{executionId}"
	localVarPath = strings.Replace(localVarPath, "{"+"executionId"+"}", url.PathEscape(parameterValueToString(r.executionId, "executionId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"tenant"+"}", url.PathEscape(parameterValueToString(r.tenant, "tenant")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.deleteLogs == nil {
		return nil, reportError("deleteLogs is required and must be specified")
	}
	if r.deleteMetrics == nil {
		return nil, reportError("deleteMetrics is required and must be specified")
	}
	if r.deleteStorage == nil {
		return nil, reportError("deleteStorage is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "deleteLogs", r.deleteLogs, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "deleteMetrics", r.deleteMetrics, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "deleteStorage", r.deleteStorage, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiDeleteExecutionsByIdsRequest struct {
	ctx                  context.Context
	ApiService           *ExecutionsAPIService
	deleteLogs           *bool
	deleteMetrics        *bool
	deleteStorage        *bool
	tenant               string
	requestBody          *[]string
	includeNonTerminated *bool
}

// Whether to delete execution logs
func (r ApiDeleteExecutionsByIdsRequest) DeleteLogs(deleteLogs bool) ApiDeleteExecutionsByIdsRequest {
	r.deleteLogs = &deleteLogs
	return r
}

// Whether to delete execution metrics
func (r ApiDeleteExecutionsByIdsRequest) DeleteMetrics(deleteMetrics bool) ApiDeleteExecutionsByIdsRequest {
	r.deleteMetrics = &deleteMetrics
	return r
}

// Whether to delete execution files in the internal storage
func (r ApiDeleteExecutionsByIdsRequest) DeleteStorage(deleteStorage bool) ApiDeleteExecutionsByIdsRequest {
	r.deleteStorage = &deleteStorage
	return r
}

// The execution id
func (r ApiDeleteExecutionsByIdsRequest) RequestBody(requestBody []string) ApiDeleteExecutionsByIdsRequest {
	r.requestBody = &requestBody
	return r
}

// Whether to delete non-terminated executions
func (r ApiDeleteExecutionsByIdsRequest) IncludeNonTerminated(includeNonTerminated bool) ApiDeleteExecutionsByIdsRequest {
	r.includeNonTerminated = &includeNonTerminated
	return r
}

func (r ApiDeleteExecutionsByIdsRequest) Execute() (*BulkResponse, *http.Response, error) {
	return r.ApiService.DeleteExecutionsByIdsExecute(r)
}

/*
DeleteExecutionsByIds Delete a list of executions

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param tenant
	@return ApiDeleteExecutionsByIdsRequest
*/
func (a *ExecutionsAPIService) DeleteExecutionsByIds(ctx context.Context, tenant string) ApiDeleteExecutionsByIdsRequest {
	return ApiDeleteExecutionsByIdsRequest{
		ApiService: a,
		ctx:        ctx,
		tenant:     tenant,
	}
}

// Execute executes the request
//
//	@return BulkResponse
func (a *ExecutionsAPIService) DeleteExecutionsByIdsExecute(r ApiDeleteExecutionsByIdsRequest) (*BulkResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BulkResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExecutionsAPIService.DeleteExecutionsByIds")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/{tenant}/executions/by-ids"
	localVarPath = strings.Replace(localVarPath, "{"+"tenant"+"}", url.PathEscape(parameterValueToString(r.tenant, "tenant")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.deleteLogs == nil {
		return localVarReturnValue, nil, reportError("deleteLogs is required and must be specified")
	}
	if r.deleteMetrics == nil {
		return localVarReturnValue, nil, reportError("deleteMetrics is required and must be specified")
	}
	if r.deleteStorage == nil {
		return localVarReturnValue, nil, reportError("deleteStorage is required and must be specified")
	}
	if r.requestBody == nil {
		return localVarReturnValue, nil, reportError("requestBody is required and must be specified")
	}

	if r.includeNonTerminated != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "includeNonTerminated", r.includeNonTerminated, "form", "")
	} else {
		var defaultValue bool = false
		r.includeNonTerminated = &defaultValue
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "deleteLogs", r.deleteLogs, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "deleteMetrics", r.deleteMetrics, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "deleteStorage", r.deleteStorage, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.requestBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v BulkErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteExecutionsByQueryRequest struct {
	ctx                            context.Context
	ApiService                     *ExecutionsAPIService
	deleteLogs                     *bool
	deleteMetrics                  *bool
	deleteStorage                  *bool
	tenant                         string
	deleteExecutionsByQueryRequest *DeleteExecutionsByQueryRequest
	q                              *string
	scope                          *[]FlowScope
	namespace                      *string
	flowId                         *string
	startDate                      *time.Time
	endDate                        *time.Time
	timeRange                      *string
	state                          *[]StateType
	labels                         *[]string
	triggerExecutionId             *string
	childFilter                    *ExecutionRepositoryInterfaceChildFilter
	includeNonTerminated           *bool
}

// Whether to delete execution logs
func (r ApiDeleteExecutionsByQueryRequest) DeleteLogs(deleteLogs bool) ApiDeleteExecutionsByQueryRequest {
	r.deleteLogs = &deleteLogs
	return r
}

// Whether to delete execution metrics
func (r ApiDeleteExecutionsByQueryRequest) DeleteMetrics(deleteMetrics bool) ApiDeleteExecutionsByQueryRequest {
	r.deleteMetrics = &deleteMetrics
	return r
}

// Whether to delete execution files in the internal storage
func (r ApiDeleteExecutionsByQueryRequest) DeleteStorage(deleteStorage bool) ApiDeleteExecutionsByQueryRequest {
	r.deleteStorage = &deleteStorage
	return r
}

func (r ApiDeleteExecutionsByQueryRequest) DeleteExecutionsByQueryRequest(deleteExecutionsByQueryRequest DeleteExecutionsByQueryRequest) ApiDeleteExecutionsByQueryRequest {
	r.deleteExecutionsByQueryRequest = &deleteExecutionsByQueryRequest
	return r
}

// A string filter
func (r ApiDeleteExecutionsByQueryRequest) Q(q string) ApiDeleteExecutionsByQueryRequest {
	r.q = &q
	return r
}

// The scope of the executions to include
func (r ApiDeleteExecutionsByQueryRequest) Scope(scope []FlowScope) ApiDeleteExecutionsByQueryRequest {
	r.scope = &scope
	return r
}

// A namespace filter prefix
func (r ApiDeleteExecutionsByQueryRequest) Namespace(namespace string) ApiDeleteExecutionsByQueryRequest {
	r.namespace = &namespace
	return r
}

// A flow id filter
func (r ApiDeleteExecutionsByQueryRequest) FlowId(flowId string) ApiDeleteExecutionsByQueryRequest {
	r.flowId = &flowId
	return r
}

// The start datetime
func (r ApiDeleteExecutionsByQueryRequest) StartDate(startDate time.Time) ApiDeleteExecutionsByQueryRequest {
	r.startDate = &startDate
	return r
}

// The end datetime
func (r ApiDeleteExecutionsByQueryRequest) EndDate(endDate time.Time) ApiDeleteExecutionsByQueryRequest {
	r.endDate = &endDate
	return r
}

// A time range filter relative to the current time
func (r ApiDeleteExecutionsByQueryRequest) TimeRange(timeRange string) ApiDeleteExecutionsByQueryRequest {
	r.timeRange = &timeRange
	return r
}

// A state filter
func (r ApiDeleteExecutionsByQueryRequest) State(state []StateType) ApiDeleteExecutionsByQueryRequest {
	r.state = &state
	return r
}

// A labels filter as a list of &#39;key:value&#39;
func (r ApiDeleteExecutionsByQueryRequest) Labels(labels []string) ApiDeleteExecutionsByQueryRequest {
	r.labels = &labels
	return r
}

// The trigger execution id
func (r ApiDeleteExecutionsByQueryRequest) TriggerExecutionId(triggerExecutionId string) ApiDeleteExecutionsByQueryRequest {
	r.triggerExecutionId = &triggerExecutionId
	return r
}

// A execution child filter
func (r ApiDeleteExecutionsByQueryRequest) ChildFilter(childFilter ExecutionRepositoryInterfaceChildFilter) ApiDeleteExecutionsByQueryRequest {
	r.childFilter = &childFilter
	return r
}

// Whether to delete non-terminated executions
func (r ApiDeleteExecutionsByQueryRequest) IncludeNonTerminated(includeNonTerminated bool) ApiDeleteExecutionsByQueryRequest {
	r.includeNonTerminated = &includeNonTerminated
	return r
}

func (r ApiDeleteExecutionsByQueryRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.DeleteExecutionsByQueryExecute(r)
}

/*
DeleteExecutionsByQuery Delete executions filter by query parameters

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param tenant
	@return ApiDeleteExecutionsByQueryRequest
*/
func (a *ExecutionsAPIService) DeleteExecutionsByQuery(ctx context.Context, tenant string) ApiDeleteExecutionsByQueryRequest {
	return ApiDeleteExecutionsByQueryRequest{
		ApiService: a,
		ctx:        ctx,
		tenant:     tenant,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *ExecutionsAPIService) DeleteExecutionsByQueryExecute(r ApiDeleteExecutionsByQueryRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExecutionsAPIService.DeleteExecutionsByQuery")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/{tenant}/executions/by-query"
	localVarPath = strings.Replace(localVarPath, "{"+"tenant"+"}", url.PathEscape(parameterValueToString(r.tenant, "tenant")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.deleteLogs == nil {
		return localVarReturnValue, nil, reportError("deleteLogs is required and must be specified")
	}
	if r.deleteMetrics == nil {
		return localVarReturnValue, nil, reportError("deleteMetrics is required and must be specified")
	}
	if r.deleteStorage == nil {
		return localVarReturnValue, nil, reportError("deleteStorage is required and must be specified")
	}
	if r.deleteExecutionsByQueryRequest == nil {
		return localVarReturnValue, nil, reportError("deleteExecutionsByQueryRequest is required and must be specified")
	}

	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	if r.scope != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scope", r.scope, "form", "csv")
	}
	if r.namespace != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "namespace", r.namespace, "form", "")
	}
	if r.flowId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "flowId", r.flowId, "form", "")
	}
	if r.startDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startDate", r.startDate, "form", "")
	}
	if r.endDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endDate", r.endDate, "form", "")
	}
	if r.timeRange != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "timeRange", r.timeRange, "form", "")
	}
	if r.state != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "state", r.state, "form", "csv")
	}
	if r.labels != nil {
		t := *r.labels
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "labels", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "labels", t, "form", "multi")
		}
	}
	if r.triggerExecutionId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "triggerExecutionId", r.triggerExecutionId, "form", "")
	}
	if r.childFilter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "childFilter", r.childFilter, "form", "")
	}
	if r.includeNonTerminated != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "includeNonTerminated", r.includeNonTerminated, "form", "")
	} else {
		var defaultValue bool = false
		r.includeNonTerminated = &defaultValue
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "deleteLogs", r.deleteLogs, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "deleteMetrics", r.deleteMetrics, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "deleteStorage", r.deleteStorage, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.deleteExecutionsByQueryRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDownloadFileFromExecutionRequest struct {
	ctx         context.Context
	ApiService  *ExecutionsAPIService
	executionId string
	path        *string
	tenant      string
}

// The internal storage uri
func (r ApiDownloadFileFromExecutionRequest) Path(path string) ApiDownloadFileFromExecutionRequest {
	r.path = &path
	return r
}

func (r ApiDownloadFileFromExecutionRequest) Execute() (*os.File, *http.Response, error) {
	return r.ApiService.DownloadFileFromExecutionExecute(r)
}

/*
DownloadFileFromExecution Download file for an execution

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param executionId The execution id
	@param tenant
	@return ApiDownloadFileFromExecutionRequest
*/
func (a *ExecutionsAPIService) DownloadFileFromExecution(ctx context.Context, executionId string, tenant string) ApiDownloadFileFromExecutionRequest {
	return ApiDownloadFileFromExecutionRequest{
		ApiService:  a,
		ctx:         ctx,
		executionId: executionId,
		tenant:      tenant,
	}
}

// Execute executes the request
//
//	@return *os.File
func (a *ExecutionsAPIService) DownloadFileFromExecutionExecute(r ApiDownloadFileFromExecutionRequest) (*os.File, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *os.File
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExecutionsAPIService.DownloadFileFromExecution")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/{tenant}/executions/{executionId}/file"
	localVarPath = strings.Replace(localVarPath, "{"+"executionId"+"}", url.PathEscape(parameterValueToString(r.executionId, "executionId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"tenant"+"}", url.PathEscape(parameterValueToString(r.tenant, "tenant")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.path == nil {
		return localVarReturnValue, nil, reportError("path is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "path", r.path, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/octet-stream"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEvalTaskRunExpressionRequest struct {
	ctx         context.Context
	ApiService  *ExecutionsAPIService
	executionId string
	taskRunId   string
	tenant      string
	body        *string
}

// The Pebble expression that should be evaluated
func (r ApiEvalTaskRunExpressionRequest) Body(body string) ApiEvalTaskRunExpressionRequest {
	r.body = &body
	return r
}

func (r ApiEvalTaskRunExpressionRequest) Execute() (*ExecutionControllerEvalResult, *http.Response, error) {
	return r.ApiService.EvalTaskRunExpressionExecute(r)
}

/*
EvalTaskRunExpression Evaluate a variable expression for this taskrun

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param executionId The execution id
	@param taskRunId The taskrun id
	@param tenant
	@return ApiEvalTaskRunExpressionRequest
*/
func (a *ExecutionsAPIService) EvalTaskRunExpression(ctx context.Context, executionId string, taskRunId string, tenant string) ApiEvalTaskRunExpressionRequest {
	return ApiEvalTaskRunExpressionRequest{
		ApiService:  a,
		ctx:         ctx,
		executionId: executionId,
		taskRunId:   taskRunId,
		tenant:      tenant,
	}
}

// Execute executes the request
//
//	@return ExecutionControllerEvalResult
func (a *ExecutionsAPIService) EvalTaskRunExpressionExecute(r ApiEvalTaskRunExpressionRequest) (*ExecutionControllerEvalResult, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ExecutionControllerEvalResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExecutionsAPIService.EvalTaskRunExpression")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/{tenant}/executions/{executionId}/eval/{taskRunId}"
	localVarPath = strings.Replace(localVarPath, "{"+"executionId"+"}", url.PathEscape(parameterValueToString(r.executionId, "executionId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"taskRunId"+"}", url.PathEscape(parameterValueToString(r.taskRunId, "taskRunId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"tenant"+"}", url.PathEscape(parameterValueToString(r.tenant, "tenant")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"text/plain"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiFollowDependenciesExecutionsRequest struct {
	ctx             context.Context
	ApiService      *ExecutionsAPIService
	executionId     string
	destinationOnly *bool
	expandAll       *bool
	tenant          string
}

// If true, list only destination dependencies, otherwise list also source dependencies
func (r ApiFollowDependenciesExecutionsRequest) DestinationOnly(destinationOnly bool) ApiFollowDependenciesExecutionsRequest {
	r.destinationOnly = &destinationOnly
	return r
}

// If true, expand all dependencies recursively
func (r ApiFollowDependenciesExecutionsRequest) ExpandAll(expandAll bool) ApiFollowDependenciesExecutionsRequest {
	r.expandAll = &expandAll
	return r
}

func (r ApiFollowDependenciesExecutionsRequest) Execute() (*EventExecutionStatusEvent, *http.Response, error) {
	return r.ApiService.FollowDependenciesExecutionsExecute(r)
}

/*
FollowDependenciesExecutions Follow all execution dependencies executions

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param executionId The execution id
	@param tenant
	@return ApiFollowDependenciesExecutionsRequest
*/
func (a *ExecutionsAPIService) FollowDependenciesExecutions(ctx context.Context, executionId string, tenant string) ApiFollowDependenciesExecutionsRequest {
	return ApiFollowDependenciesExecutionsRequest{
		ApiService:  a,
		ctx:         ctx,
		executionId: executionId,
		tenant:      tenant,
	}
}

// Execute executes the request
//
//	@return EventExecutionStatusEvent
func (a *ExecutionsAPIService) FollowDependenciesExecutionsExecute(r ApiFollowDependenciesExecutionsRequest) (*EventExecutionStatusEvent, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *EventExecutionStatusEvent
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExecutionsAPIService.FollowDependenciesExecutions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/{tenant}/executions/{executionId}/follow-dependencies"
	localVarPath = strings.Replace(localVarPath, "{"+"executionId"+"}", url.PathEscape(parameterValueToString(r.executionId, "executionId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"tenant"+"}", url.PathEscape(parameterValueToString(r.tenant, "tenant")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.destinationOnly == nil {
		return localVarReturnValue, nil, reportError("destinationOnly is required and must be specified")
	}
	if r.expandAll == nil {
		return localVarReturnValue, nil, reportError("expandAll is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "destinationOnly", r.destinationOnly, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "expandAll", r.expandAll, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/event-stream"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiFollowExecutionRequest struct {
	ctx         context.Context
	ApiService  *ExecutionsAPIService
	executionId string
	tenant      string
}

func (r ApiFollowExecutionRequest) Execute() (*EventExecution, *http.Response, error) {
	return r.ApiService.FollowExecutionExecute(r)
}

/*
FollowExecution Follow an execution

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param executionId The execution id
	@param tenant
	@return ApiFollowExecutionRequest
*/
func (a *ExecutionsAPIService) FollowExecution(ctx context.Context, executionId string, tenant string) ApiFollowExecutionRequest {
	return ApiFollowExecutionRequest{
		ApiService:  a,
		ctx:         ctx,
		executionId: executionId,
		tenant:      tenant,
	}
}

// Execute executes the request
//
//	@return EventExecution
func (a *ExecutionsAPIService) FollowExecutionExecute(r ApiFollowExecutionRequest) (*EventExecution, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *EventExecution
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExecutionsAPIService.FollowExecution")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/{tenant}/executions/{executionId}/follow"
	localVarPath = strings.Replace(localVarPath, "{"+"executionId"+"}", url.PathEscape(parameterValueToString(r.executionId, "executionId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"tenant"+"}", url.PathEscape(parameterValueToString(r.tenant, "tenant")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/event-stream"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiForceRunByIdsRequest struct {
	ctx         context.Context
	ApiService  *ExecutionsAPIService
	tenant      string
	requestBody *[]string
}

// The list of executions id
func (r ApiForceRunByIdsRequest) RequestBody(requestBody []string) ApiForceRunByIdsRequest {
	r.requestBody = &requestBody
	return r
}

func (r ApiForceRunByIdsRequest) Execute() (*BulkResponse, *http.Response, error) {
	return r.ApiService.ForceRunByIdsExecute(r)
}

/*
ForceRunByIds Force run a list of executions

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param tenant
	@return ApiForceRunByIdsRequest
*/
func (a *ExecutionsAPIService) ForceRunByIds(ctx context.Context, tenant string) ApiForceRunByIdsRequest {
	return ApiForceRunByIdsRequest{
		ApiService: a,
		ctx:        ctx,
		tenant:     tenant,
	}
}

// Execute executes the request
//
//	@return BulkResponse
func (a *ExecutionsAPIService) ForceRunByIdsExecute(r ApiForceRunByIdsRequest) (*BulkResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BulkResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExecutionsAPIService.ForceRunByIds")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/{tenant}/executions/force-run/by-ids"
	localVarPath = strings.Replace(localVarPath, "{"+"tenant"+"}", url.PathEscape(parameterValueToString(r.tenant, "tenant")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.requestBody == nil {
		return localVarReturnValue, nil, reportError("requestBody is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.requestBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v BulkErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiForceRunExecutionRequest struct {
	ctx         context.Context
	ApiService  *ExecutionsAPIService
	executionId string
	tenant      string
}

func (r ApiForceRunExecutionRequest) Execute() (*Execution, *http.Response, error) {
	return r.ApiService.ForceRunExecutionExecute(r)
}

/*
ForceRunExecution Force run an execution

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param executionId The execution id
	@param tenant
	@return ApiForceRunExecutionRequest
*/
func (a *ExecutionsAPIService) ForceRunExecution(ctx context.Context, executionId string, tenant string) ApiForceRunExecutionRequest {
	return ApiForceRunExecutionRequest{
		ApiService:  a,
		ctx:         ctx,
		executionId: executionId,
		tenant:      tenant,
	}
}

// Execute executes the request
//
//	@return Execution
func (a *ExecutionsAPIService) ForceRunExecutionExecute(r ApiForceRunExecutionRequest) (*Execution, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Execution
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExecutionsAPIService.ForceRunExecution")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/{tenant}/executions/{executionId}/force-run"
	localVarPath = strings.Replace(localVarPath, "{"+"executionId"+"}", url.PathEscape(parameterValueToString(r.executionId, "executionId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"tenant"+"}", url.PathEscape(parameterValueToString(r.tenant, "tenant")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiForceRunExecutionsByQueryRequest struct {
	ctx                            context.Context
	ApiService                     *ExecutionsAPIService
	tenant                         string
	deleteExecutionsByQueryRequest *DeleteExecutionsByQueryRequest
	q                              *string
	scope                          *[]FlowScope
	namespace                      *string
	flowId                         *string
	startDate                      *time.Time
	endDate                        *time.Time
	timeRange                      *string
	state                          *[]StateType
	labels                         *[]string
	triggerExecutionId             *string
	childFilter                    *ExecutionRepositoryInterfaceChildFilter
}

func (r ApiForceRunExecutionsByQueryRequest) DeleteExecutionsByQueryRequest(deleteExecutionsByQueryRequest DeleteExecutionsByQueryRequest) ApiForceRunExecutionsByQueryRequest {
	r.deleteExecutionsByQueryRequest = &deleteExecutionsByQueryRequest
	return r
}

// A string filter
func (r ApiForceRunExecutionsByQueryRequest) Q(q string) ApiForceRunExecutionsByQueryRequest {
	r.q = &q
	return r
}

// The scope of the executions to include
func (r ApiForceRunExecutionsByQueryRequest) Scope(scope []FlowScope) ApiForceRunExecutionsByQueryRequest {
	r.scope = &scope
	return r
}

// A namespace filter prefix
func (r ApiForceRunExecutionsByQueryRequest) Namespace(namespace string) ApiForceRunExecutionsByQueryRequest {
	r.namespace = &namespace
	return r
}

// A flow id filter
func (r ApiForceRunExecutionsByQueryRequest) FlowId(flowId string) ApiForceRunExecutionsByQueryRequest {
	r.flowId = &flowId
	return r
}

// The start datetime
func (r ApiForceRunExecutionsByQueryRequest) StartDate(startDate time.Time) ApiForceRunExecutionsByQueryRequest {
	r.startDate = &startDate
	return r
}

// The end datetime
func (r ApiForceRunExecutionsByQueryRequest) EndDate(endDate time.Time) ApiForceRunExecutionsByQueryRequest {
	r.endDate = &endDate
	return r
}

// A time range filter relative to the current time
func (r ApiForceRunExecutionsByQueryRequest) TimeRange(timeRange string) ApiForceRunExecutionsByQueryRequest {
	r.timeRange = &timeRange
	return r
}

// A state filter
func (r ApiForceRunExecutionsByQueryRequest) State(state []StateType) ApiForceRunExecutionsByQueryRequest {
	r.state = &state
	return r
}

// A labels filter as a list of &#39;key:value&#39;
func (r ApiForceRunExecutionsByQueryRequest) Labels(labels []string) ApiForceRunExecutionsByQueryRequest {
	r.labels = &labels
	return r
}

// The trigger execution id
func (r ApiForceRunExecutionsByQueryRequest) TriggerExecutionId(triggerExecutionId string) ApiForceRunExecutionsByQueryRequest {
	r.triggerExecutionId = &triggerExecutionId
	return r
}

// A execution child filter
func (r ApiForceRunExecutionsByQueryRequest) ChildFilter(childFilter ExecutionRepositoryInterfaceChildFilter) ApiForceRunExecutionsByQueryRequest {
	r.childFilter = &childFilter
	return r
}

func (r ApiForceRunExecutionsByQueryRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.ForceRunExecutionsByQueryExecute(r)
}

/*
ForceRunExecutionsByQuery Force run executions filter by query parameters

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param tenant
	@return ApiForceRunExecutionsByQueryRequest
*/
func (a *ExecutionsAPIService) ForceRunExecutionsByQuery(ctx context.Context, tenant string) ApiForceRunExecutionsByQueryRequest {
	return ApiForceRunExecutionsByQueryRequest{
		ApiService: a,
		ctx:        ctx,
		tenant:     tenant,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *ExecutionsAPIService) ForceRunExecutionsByQueryExecute(r ApiForceRunExecutionsByQueryRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExecutionsAPIService.ForceRunExecutionsByQuery")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/{tenant}/executions/force-run/by-query"
	localVarPath = strings.Replace(localVarPath, "{"+"tenant"+"}", url.PathEscape(parameterValueToString(r.tenant, "tenant")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.deleteExecutionsByQueryRequest == nil {
		return localVarReturnValue, nil, reportError("deleteExecutionsByQueryRequest is required and must be specified")
	}

	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	if r.scope != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scope", r.scope, "form", "csv")
	}
	if r.namespace != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "namespace", r.namespace, "form", "")
	}
	if r.flowId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "flowId", r.flowId, "form", "")
	}
	if r.startDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startDate", r.startDate, "form", "")
	}
	if r.endDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endDate", r.endDate, "form", "")
	}
	if r.timeRange != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "timeRange", r.timeRange, "form", "")
	}
	if r.state != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "state", r.state, "form", "csv")
	}
	if r.labels != nil {
		t := *r.labels
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "labels", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "labels", t, "form", "multi")
		}
	}
	if r.triggerExecutionId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "triggerExecutionId", r.triggerExecutionId, "form", "")
	}
	if r.childFilter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "childFilter", r.childFilter, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.deleteExecutionsByQueryRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetExecutionRequest struct {
	ctx         context.Context
	ApiService  *ExecutionsAPIService
	executionId string
	tenant      string
}

func (r ApiGetExecutionRequest) Execute() (*Execution, *http.Response, error) {
	return r.ApiService.GetExecutionExecute(r)
}

/*
GetExecution Get an execution

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param executionId The execution id
	@param tenant
	@return ApiGetExecutionRequest
*/
func (a *ExecutionsAPIService) GetExecution(ctx context.Context, executionId string, tenant string) ApiGetExecutionRequest {
	return ApiGetExecutionRequest{
		ApiService:  a,
		ctx:         ctx,
		executionId: executionId,
		tenant:      tenant,
	}
}

// Execute executes the request
//
//	@return Execution
func (a *ExecutionsAPIService) GetExecutionExecute(r ApiGetExecutionRequest) (*Execution, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Execution
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExecutionsAPIService.GetExecution")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/{tenant}/executions/{executionId}"
	localVarPath = strings.Replace(localVarPath, "{"+"executionId"+"}", url.PathEscape(parameterValueToString(r.executionId, "executionId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"tenant"+"}", url.PathEscape(parameterValueToString(r.tenant, "tenant")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetExecutionFlowGraphRequest struct {
	ctx         context.Context
	ApiService  *ExecutionsAPIService
	executionId string
	tenant      string
	subflows    *[]string
}

// The subflow tasks to display
func (r ApiGetExecutionFlowGraphRequest) Subflows(subflows []string) ApiGetExecutionFlowGraphRequest {
	r.subflows = &subflows
	return r
}

func (r ApiGetExecutionFlowGraphRequest) Execute() (*FlowGraph, *http.Response, error) {
	return r.ApiService.GetExecutionFlowGraphExecute(r)
}

/*
GetExecutionFlowGraph Generate a graph for an execution

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param executionId The execution id
	@param tenant
	@return ApiGetExecutionFlowGraphRequest
*/
func (a *ExecutionsAPIService) GetExecutionFlowGraph(ctx context.Context, executionId string, tenant string) ApiGetExecutionFlowGraphRequest {
	return ApiGetExecutionFlowGraphRequest{
		ApiService:  a,
		ctx:         ctx,
		executionId: executionId,
		tenant:      tenant,
	}
}

// Execute executes the request
//
//	@return FlowGraph
func (a *ExecutionsAPIService) GetExecutionFlowGraphExecute(r ApiGetExecutionFlowGraphRequest) (*FlowGraph, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *FlowGraph
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExecutionsAPIService.GetExecutionFlowGraph")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/{tenant}/executions/{executionId}/graph"
	localVarPath = strings.Replace(localVarPath, "{"+"executionId"+"}", url.PathEscape(parameterValueToString(r.executionId, "executionId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"tenant"+"}", url.PathEscape(parameterValueToString(r.tenant, "tenant")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.subflows != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "subflows", r.subflows, "form", "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetFileMetadatasFromExecutionRequest struct {
	ctx         context.Context
	ApiService  *ExecutionsAPIService
	executionId string
	path        *string
	tenant      string
}

// The internal storage uri
func (r ApiGetFileMetadatasFromExecutionRequest) Path(path string) ApiGetFileMetadatasFromExecutionRequest {
	r.path = &path
	return r
}

func (r ApiGetFileMetadatasFromExecutionRequest) Execute() (*FileMetas, *http.Response, error) {
	return r.ApiService.GetFileMetadatasFromExecutionExecute(r)
}

/*
GetFileMetadatasFromExecution Get file meta information for an execution

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param executionId The execution id
	@param tenant
	@return ApiGetFileMetadatasFromExecutionRequest
*/
func (a *ExecutionsAPIService) GetFileMetadatasFromExecution(ctx context.Context, executionId string, tenant string) ApiGetFileMetadatasFromExecutionRequest {
	return ApiGetFileMetadatasFromExecutionRequest{
		ApiService:  a,
		ctx:         ctx,
		executionId: executionId,
		tenant:      tenant,
	}
}

// Execute executes the request
//
//	@return FileMetas
func (a *ExecutionsAPIService) GetFileMetadatasFromExecutionExecute(r ApiGetFileMetadatasFromExecutionRequest) (*FileMetas, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *FileMetas
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExecutionsAPIService.GetFileMetadatasFromExecution")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/{tenant}/executions/{executionId}/file/metas"
	localVarPath = strings.Replace(localVarPath, "{"+"executionId"+"}", url.PathEscape(parameterValueToString(r.executionId, "executionId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"tenant"+"}", url.PathEscape(parameterValueToString(r.tenant, "tenant")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.path == nil {
		return localVarReturnValue, nil, reportError("path is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "path", r.path, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetFlowFromExecutionRequest struct {
	ctx        context.Context
	ApiService *ExecutionsAPIService
	namespace  string
	flowId     string
	tenant     string
	revision   *int32
}

// The flow revision
func (r ApiGetFlowFromExecutionRequest) Revision(revision int32) ApiGetFlowFromExecutionRequest {
	r.revision = &revision
	return r
}

func (r ApiGetFlowFromExecutionRequest) Execute() (*FlowForExecution, *http.Response, error) {
	return r.ApiService.GetFlowFromExecutionExecute(r)
}

/*
GetFlowFromExecution Get flow information's for an execution

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param namespace The namespace of the flow
	@param flowId The flow id
	@param tenant
	@return ApiGetFlowFromExecutionRequest
*/
func (a *ExecutionsAPIService) GetFlowFromExecution(ctx context.Context, namespace string, flowId string, tenant string) ApiGetFlowFromExecutionRequest {
	return ApiGetFlowFromExecutionRequest{
		ApiService: a,
		ctx:        ctx,
		namespace:  namespace,
		flowId:     flowId,
		tenant:     tenant,
	}
}

// Execute executes the request
//
//	@return FlowForExecution
func (a *ExecutionsAPIService) GetFlowFromExecutionExecute(r ApiGetFlowFromExecutionRequest) (*FlowForExecution, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *FlowForExecution
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExecutionsAPIService.GetFlowFromExecution")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/{tenant}/executions/flows/{namespace}/{flowId}"
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", url.PathEscape(parameterValueToString(r.namespace, "namespace")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"flowId"+"}", url.PathEscape(parameterValueToString(r.flowId, "flowId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"tenant"+"}", url.PathEscape(parameterValueToString(r.tenant, "tenant")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.revision != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "revision", r.revision, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetFlowFromExecutionByIdRequest struct {
	ctx         context.Context
	ApiService  *ExecutionsAPIService
	executionId string
	tenant      string
}

func (r ApiGetFlowFromExecutionByIdRequest) Execute() (*FlowForExecution, *http.Response, error) {
	return r.ApiService.GetFlowFromExecutionByIdExecute(r)
}

/*
GetFlowFromExecutionById Get flow information's for an execution

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param executionId The execution that you want flow information's
	@param tenant
	@return ApiGetFlowFromExecutionByIdRequest
*/
func (a *ExecutionsAPIService) GetFlowFromExecutionById(ctx context.Context, executionId string, tenant string) ApiGetFlowFromExecutionByIdRequest {
	return ApiGetFlowFromExecutionByIdRequest{
		ApiService:  a,
		ctx:         ctx,
		executionId: executionId,
		tenant:      tenant,
	}
}

// Execute executes the request
//
//	@return FlowForExecution
func (a *ExecutionsAPIService) GetFlowFromExecutionByIdExecute(r ApiGetFlowFromExecutionByIdRequest) (*FlowForExecution, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *FlowForExecution
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExecutionsAPIService.GetFlowFromExecutionById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/{tenant}/executions/{executionId}/flow"
	localVarPath = strings.Replace(localVarPath, "{"+"executionId"+"}", url.PathEscape(parameterValueToString(r.executionId, "executionId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"tenant"+"}", url.PathEscape(parameterValueToString(r.tenant, "tenant")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetLatestExecutionsRequest struct {
	ctx                                    context.Context
	ApiService                             *ExecutionsAPIService
	tenant                                 string
	executionRepositoryInterfaceFlowFilter *[]ExecutionRepositoryInterfaceFlowFilter
}

func (r ApiGetLatestExecutionsRequest) ExecutionRepositoryInterfaceFlowFilter(executionRepositoryInterfaceFlowFilter []ExecutionRepositoryInterfaceFlowFilter) ApiGetLatestExecutionsRequest {
	r.executionRepositoryInterfaceFlowFilter = &executionRepositoryInterfaceFlowFilter
	return r
}

func (r ApiGetLatestExecutionsRequest) Execute() ([]ExecutionControllerLastExecutionResponse, *http.Response, error) {
	return r.ApiService.GetLatestExecutionsExecute(r)
}

/*
GetLatestExecutions Get the latest execution for given flows

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param tenant
	@return ApiGetLatestExecutionsRequest
*/
func (a *ExecutionsAPIService) GetLatestExecutions(ctx context.Context, tenant string) ApiGetLatestExecutionsRequest {
	return ApiGetLatestExecutionsRequest{
		ApiService: a,
		ctx:        ctx,
		tenant:     tenant,
	}
}

// Execute executes the request
//
//	@return []ExecutionControllerLastExecutionResponse
func (a *ExecutionsAPIService) GetLatestExecutionsExecute(r ApiGetLatestExecutionsRequest) ([]ExecutionControllerLastExecutionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []ExecutionControllerLastExecutionResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExecutionsAPIService.GetLatestExecutions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/{tenant}/executions/latest"
	localVarPath = strings.Replace(localVarPath, "{"+"tenant"+"}", url.PathEscape(parameterValueToString(r.tenant, "tenant")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.executionRepositoryInterfaceFlowFilter == nil {
		return localVarReturnValue, nil, reportError("executionRepositoryInterfaceFlowFilter is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.executionRepositoryInterfaceFlowFilter
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiKillExecutionRequest struct {
	ctx             context.Context
	ApiService      *ExecutionsAPIService
	executionId     string
	isOnKillCascade *bool
	tenant          string
}

// Specifies whether killing the execution also kill all subflow executions.
func (r ApiKillExecutionRequest) IsOnKillCascade(isOnKillCascade bool) ApiKillExecutionRequest {
	r.isOnKillCascade = &isOnKillCascade
	return r
}

func (r ApiKillExecutionRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.KillExecutionExecute(r)
}

/*
KillExecution Kill an execution

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param executionId The execution id
	@param tenant
	@return ApiKillExecutionRequest
*/
func (a *ExecutionsAPIService) KillExecution(ctx context.Context, executionId string, tenant string) ApiKillExecutionRequest {
	return ApiKillExecutionRequest{
		ApiService:  a,
		ctx:         ctx,
		executionId: executionId,
		tenant:      tenant,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *ExecutionsAPIService) KillExecutionExecute(r ApiKillExecutionRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExecutionsAPIService.KillExecution")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/{tenant}/executions/{executionId}/kill"
	localVarPath = strings.Replace(localVarPath, "{"+"executionId"+"}", url.PathEscape(parameterValueToString(r.executionId, "executionId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"tenant"+"}", url.PathEscape(parameterValueToString(r.tenant, "tenant")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.isOnKillCascade == nil {
		return localVarReturnValue, nil, reportError("isOnKillCascade is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "isOnKillCascade", r.isOnKillCascade, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"text/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiKillExecutionsByIdsRequest struct {
	ctx         context.Context
	ApiService  *ExecutionsAPIService
	tenant      string
	requestBody *[]string
}

// The list of executions id
func (r ApiKillExecutionsByIdsRequest) RequestBody(requestBody []string) ApiKillExecutionsByIdsRequest {
	r.requestBody = &requestBody
	return r
}

func (r ApiKillExecutionsByIdsRequest) Execute() (*BulkResponse, *http.Response, error) {
	return r.ApiService.KillExecutionsByIdsExecute(r)
}

/*
KillExecutionsByIds Kill a list of executions

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param tenant
	@return ApiKillExecutionsByIdsRequest
*/
func (a *ExecutionsAPIService) KillExecutionsByIds(ctx context.Context, tenant string) ApiKillExecutionsByIdsRequest {
	return ApiKillExecutionsByIdsRequest{
		ApiService: a,
		ctx:        ctx,
		tenant:     tenant,
	}
}

// Execute executes the request
//
//	@return BulkResponse
func (a *ExecutionsAPIService) KillExecutionsByIdsExecute(r ApiKillExecutionsByIdsRequest) (*BulkResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BulkResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExecutionsAPIService.KillExecutionsByIds")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/{tenant}/executions/kill/by-ids"
	localVarPath = strings.Replace(localVarPath, "{"+"tenant"+"}", url.PathEscape(parameterValueToString(r.tenant, "tenant")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.requestBody == nil {
		return localVarReturnValue, nil, reportError("requestBody is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.requestBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v BulkErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiKillExecutionsByQueryRequest struct {
	ctx                            context.Context
	ApiService                     *ExecutionsAPIService
	tenant                         string
	deleteExecutionsByQueryRequest *DeleteExecutionsByQueryRequest
	q                              *string
	scope                          *[]FlowScope
	namespace                      *string
	flowId                         *string
	startDate                      *time.Time
	endDate                        *time.Time
	timeRange                      *string
	state                          *[]StateType
	labels                         *[]string
	triggerExecutionId             *string
	childFilter                    *ExecutionRepositoryInterfaceChildFilter
}

func (r ApiKillExecutionsByQueryRequest) DeleteExecutionsByQueryRequest(deleteExecutionsByQueryRequest DeleteExecutionsByQueryRequest) ApiKillExecutionsByQueryRequest {
	r.deleteExecutionsByQueryRequest = &deleteExecutionsByQueryRequest
	return r
}

// A string filter
func (r ApiKillExecutionsByQueryRequest) Q(q string) ApiKillExecutionsByQueryRequest {
	r.q = &q
	return r
}

// The scope of the executions to include
func (r ApiKillExecutionsByQueryRequest) Scope(scope []FlowScope) ApiKillExecutionsByQueryRequest {
	r.scope = &scope
	return r
}

// A namespace filter prefix
func (r ApiKillExecutionsByQueryRequest) Namespace(namespace string) ApiKillExecutionsByQueryRequest {
	r.namespace = &namespace
	return r
}

// A flow id filter
func (r ApiKillExecutionsByQueryRequest) FlowId(flowId string) ApiKillExecutionsByQueryRequest {
	r.flowId = &flowId
	return r
}

// The start datetime
func (r ApiKillExecutionsByQueryRequest) StartDate(startDate time.Time) ApiKillExecutionsByQueryRequest {
	r.startDate = &startDate
	return r
}

// The end datetime
func (r ApiKillExecutionsByQueryRequest) EndDate(endDate time.Time) ApiKillExecutionsByQueryRequest {
	r.endDate = &endDate
	return r
}

// A time range filter relative to the current time
func (r ApiKillExecutionsByQueryRequest) TimeRange(timeRange string) ApiKillExecutionsByQueryRequest {
	r.timeRange = &timeRange
	return r
}

// A state filter
func (r ApiKillExecutionsByQueryRequest) State(state []StateType) ApiKillExecutionsByQueryRequest {
	r.state = &state
	return r
}

// A labels filter as a list of &#39;key:value&#39;
func (r ApiKillExecutionsByQueryRequest) Labels(labels []string) ApiKillExecutionsByQueryRequest {
	r.labels = &labels
	return r
}

// The trigger execution id
func (r ApiKillExecutionsByQueryRequest) TriggerExecutionId(triggerExecutionId string) ApiKillExecutionsByQueryRequest {
	r.triggerExecutionId = &triggerExecutionId
	return r
}

// A execution child filter
func (r ApiKillExecutionsByQueryRequest) ChildFilter(childFilter ExecutionRepositoryInterfaceChildFilter) ApiKillExecutionsByQueryRequest {
	r.childFilter = &childFilter
	return r
}

func (r ApiKillExecutionsByQueryRequest) Execute() (map[string]interface{}, *http.Response, error) {
	return r.ApiService.KillExecutionsByQueryExecute(r)
}

/*
KillExecutionsByQuery Kill executions filter by query parameters

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param tenant
	@return ApiKillExecutionsByQueryRequest
*/
func (a *ExecutionsAPIService) KillExecutionsByQuery(ctx context.Context, tenant string) ApiKillExecutionsByQueryRequest {
	return ApiKillExecutionsByQueryRequest{
		ApiService: a,
		ctx:        ctx,
		tenant:     tenant,
	}
}

// Execute executes the request
//
//	@return map[string]interface{}
func (a *ExecutionsAPIService) KillExecutionsByQueryExecute(r ApiKillExecutionsByQueryRequest) (map[string]interface{}, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodDelete
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue map[string]interface{}
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ExecutionsAPIService.KillExecutionsByQuery")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/{tenant}/executions/kill/by-query"
	localVarPath = strings.Replace(localVarPath, "{"+"tenant"+"}", url.PathEscape(parameterValueToString(r.tenant, "tenant")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.deleteExecutionsByQueryRequest == nil {
		return localVarReturnValue, nil, reportError("deleteExecutionsByQueryRequest is required and must be specified")
	}

	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	if r.scope != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scope", r.scope, "form", "csv")
	}
	if r.namespace != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "namespace", r.namespace, "form", "")
	}
	if r.flowId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "flowId", r.flowId, "form", "")
	}
	if r.startDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startDate", r.startDate, "form", "")
	}
	if r.endDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endDate", r.endDate, "form", "")
	}
	if r.timeRange != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "timeRange", r.timeRange, "form", "")
	}
	if r.state != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "state", r.state, "form", "csv")
	}
	if r.labels != nil {
		t := *r.labels
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "labels", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "labels", t, "form", "multi")
		}
	}
	if r.triggerExecutionId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "triggerExecutionId", r.triggerExecutionId, "form", "")
	}
	if r.childFilter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "childFilter", r.childFilter, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.deleteExecutionsByQueryRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListExecutableDistinctNamespacesRequest struct {
	ctx        context.Context
	ApiService *ExecutionsAPIService
	tenant     string
}

func (r ApiListExecutableDistinctNamespacesRequest) Execute() ([]string, *http.Response, error) {
	return r.ApiService.ListExecutableDistinctNamespacesExecute(r)
}

/*
[...]
