/*
Kestra EE

All API operations, except for Superadmin-only endpoints, require a tenant identifier in the HTTP path.<br/> Endpoints designated as Superadmin-only are not tenant-scoped.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package kestra_api_client

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"reflect"
	"strings"
)

// BindingsAPIService BindingsAPI service
type BindingsAPIService service

type ApiBulkCreateBindingRequest struct {
	ctx                                              context.Context
	ApiService                                       *BindingsAPIService
	tenant                                           string
	abstractBindingControllerApiCreateBindingRequest *[]AbstractBindingControllerApiCreateBindingRequest
}

// The bindings
func (r ApiBulkCreateBindingRequest) AbstractBindingControllerApiCreateBindingRequest(abstractBindingControllerApiCreateBindingRequest []AbstractBindingControllerApiCreateBindingRequest) ApiBulkCreateBindingRequest {
	r.abstractBindingControllerApiCreateBindingRequest = &abstractBindingControllerApiCreateBindingRequest
	return r
}

func (r ApiBulkCreateBindingRequest) Execute() ([]AbstractBindingControllerApiBindingDetail, *http.Response, error) {
	return r.ApiService.BulkCreateBindingExecute(r)
}

/*
BulkCreateBinding Create multiple bindings

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param tenant
	@return ApiBulkCreateBindingRequest
*/
func (a *BindingsAPIService) BulkCreateBinding(ctx context.Context, tenant string) ApiBulkCreateBindingRequest {
	return ApiBulkCreateBindingRequest{
		ApiService: a,
		ctx:        ctx,
		tenant:     tenant,
	}
}

// Execute executes the request
//
//	@return []AbstractBindingControllerApiBindingDetail
func (a *BindingsAPIService) BulkCreateBindingExecute(r ApiBulkCreateBindingRequest) ([]AbstractBindingControllerApiBindingDetail, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []AbstractBindingControllerApiBindingDetail
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BindingsAPIService.BulkCreateBinding")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/{tenant}/bindings/bulk"
	localVarPath = strings.Replace(localVarPath, "{"+"tenant"+"}", url.PathEscape(parameterValueToString(r.tenant, "tenant")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.abstractBindingControllerApiCreateBindingRequest == nil {
		return localVarReturnValue, nil, reportError("abstractBindingControllerApiCreateBindingRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.abstractBindingControllerApiCreateBindingRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiBulkCreateBindingapsSuperAdminRequest struct {
	ctx                                              context.Context
	ApiService                                       *BindingsAPIService
	resourceTenant                                   string
	abstractBindingControllerApiCreateBindingRequest *[]AbstractBindingControllerApiCreateBindingRequest
}

// The bindings
func (r ApiBulkCreateBindingapsSuperAdminRequest) AbstractBindingControllerApiCreateBindingRequest(abstractBindingControllerApiCreateBindingRequest []AbstractBindingControllerApiCreateBindingRequest) ApiBulkCreateBindingapsSuperAdminRequest {
	r.abstractBindingControllerApiCreateBindingRequest = &abstractBindingControllerApiCreateBindingRequest
	return r
}

func (r ApiBulkCreateBindingapsSuperAdminRequest) Execute() ([]AbstractBindingControllerApiBindingDetail, *http.Response, error) {
	return r.ApiService.BulkCreateBindingapsSuperAdminExecute(r)
}

/*
BulkCreateBindingapsSuperAdmin Create multiple bindings

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param resourceTenant
	@return ApiBulkCreateBindingapsSuperAdminRequest
*/
func (a *BindingsAPIService) BulkCreateBindingapsSuperAdmin(ctx context.Context, resourceTenant string) ApiBulkCreateBindingapsSuperAdminRequest {
	return ApiBulkCreateBindingapsSuperAdminRequest{
		ApiService:     a,
		ctx:            ctx,
		resourceTenant: resourceTenant,
	}
}

// Execute executes the request
//
//	@return []AbstractBindingControllerApiBindingDetail
func (a *BindingsAPIService) BulkCreateBindingapsSuperAdminExecute(r ApiBulkCreateBindingapsSuperAdminRequest) ([]AbstractBindingControllerApiBindingDetail, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []AbstractBindingControllerApiBindingDetail
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BindingsAPIService.BulkCreateBindingapsSuperAdmin")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/tenants/{resourceTenant}/bindings/bulk"
	localVarPath = strings.Replace(localVarPath, "{"+"resourceTenant"+"}", url.PathEscape(parameterValueToString(r.resourceTenant, "resourceTenant")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.abstractBindingControllerApiCreateBindingRequest == nil {
		return localVarReturnValue, nil, reportError("abstractBindingControllerApiCreateBindingRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.abstractBindingControllerApiCreateBindingRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateBindingRequest struct {
	ctx                                              context.Context
	ApiService                                       *BindingsAPIService
	tenant                                           string
	abstractBindingControllerApiCreateBindingRequest *AbstractBindingControllerApiCreateBindingRequest
}

// The binding
func (r ApiCreateBindingRequest) AbstractBindingControllerApiCreateBindingRequest(abstractBindingControllerApiCreateBindingRequest AbstractBindingControllerApiCreateBindingRequest) ApiCreateBindingRequest {
	r.abstractBindingControllerApiCreateBindingRequest = &abstractBindingControllerApiCreateBindingRequest
	return r
}

func (r ApiCreateBindingRequest) Execute() (*AbstractBindingControllerApiBindingDetail, *http.Response, error) {
	return r.ApiService.CreateBindingExecute(r)
}

/*
CreateBinding Create a binding

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param tenant
	@return ApiCreateBindingRequest
*/
func (a *BindingsAPIService) CreateBinding(ctx context.Context, tenant string) ApiCreateBindingRequest {
	return ApiCreateBindingRequest{
		ApiService: a,
		ctx:        ctx,
		tenant:     tenant,
	}
}

// Execute executes the request
//
//	@return AbstractBindingControllerApiBindingDetail
func (a *BindingsAPIService) CreateBindingExecute(r ApiCreateBindingRequest) (*AbstractBindingControllerApiBindingDetail, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AbstractBindingControllerApiBindingDetail
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BindingsAPIService.CreateBinding")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/{tenant}/bindings"
	localVarPath = strings.Replace(localVarPath, "{"+"tenant"+"}", url.PathEscape(parameterValueToString(r.tenant, "tenant")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.abstractBindingControllerApiCreateBindingRequest == nil {
		return localVarReturnValue, nil, reportError("abstractBindingControllerApiCreateBindingRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.abstractBindingControllerApiCreateBindingRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateBindingapsSuperAdminRequest struct {
	ctx                                              context.Context
	ApiService                                       *BindingsAPIService
	resourceTenant                                   string
	abstractBindingControllerApiCreateBindingRequest *AbstractBindingControllerApiCreateBindingRequest
}

// The binding
func (r ApiCreateBindingapsSuperAdminRequest) AbstractBindingControllerApiCreateBindingRequest(abstractBindingControllerApiCreateBindingRequest AbstractBindingControllerApiCreateBindingRequest) ApiCreateBindingapsSuperAdminRequest {
	r.abstractBindingControllerApiCreateBindingRequest = &abstractBindingControllerApiCreateBindingRequest
	return r
}

func (r ApiCreateBindingapsSuperAdminRequest) Execute() (*AbstractBindingControllerApiBindingDetail, *http.Response, error) {
	return r.ApiService.CreateBindingapsSuperAdminExecute(r)
}

/*
CreateBindingapsSuperAdmin Create a binding

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param resourceTenant
	@return ApiCreateBindingapsSuperAdminRequest
*/
func (a *BindingsAPIService) CreateBindingapsSuperAdmin(ctx context.Context, resourceTenant string) ApiCreateBindingapsSuperAdminRequest {
	return ApiCreateBindingapsSuperAdminRequest{
		ApiService:     a,
		ctx:            ctx,
		resourceTenant: resourceTenant,
	}
}

// Execute executes the request
//
//	@return AbstractBindingControllerApiBindingDetail
func (a *BindingsAPIService) CreateBindingapsSuperAdminExecute(r ApiCreateBindingapsSuperAdminRequest) (*AbstractBindingControllerApiBindingDetail, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AbstractBindingControllerApiBindingDetail
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BindingsAPIService.CreateBindingapsSuperAdmin")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/tenants/{resourceTenant}/bindings"
	localVarPath = strings.Replace(localVarPath, "{"+"resourceTenant"+"}", url.PathEscape(parameterValueToString(r.resourceTenant, "resourceTenant")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.abstractBindingControllerApiCreateBindingRequest == nil {
		return localVarReturnValue, nil, reportError("abstractBindingControllerApiCreateBindingRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.abstractBindingControllerApiCreateBindingRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteBindingRequest struct {
	ctx        context.Context
	ApiService *BindingsAPIService
	id         string
	tenant     string
}

func (r ApiDeleteBindingRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteBindingExecute(r)
}

/*
DeleteBinding Delete a binding

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id The binding id
	@param tenant
	@return ApiDeleteBindingRequest
*/
func (a *BindingsAPIService) DeleteBinding(ctx context.Context, id string, tenant string) ApiDeleteBindingRequest {
	return ApiDeleteBindingRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
		tenant:     tenant,
	}
}

// Execute executes the request
func (a *BindingsAPIService) DeleteBindingExecute(r ApiDeleteBindingRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BindingsAPIService.DeleteBinding")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/{tenant}/bindings/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"tenant"+"}", url.PathEscape(parameterValueToString(r.tenant, "tenant")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiDeleteBindingapsSuperAdminRequest struct {
	ctx            context.Context
	ApiService     *BindingsAPIService
	id             string
	resourceTenant string
}

func (r ApiDeleteBindingapsSuperAdminRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteBindingapsSuperAdminExecute(r)
}

/*
DeleteBindingapsSuperAdmin Delete a binding

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id The binding id
	@param resourceTenant
	@return ApiDeleteBindingapsSuperAdminRequest
*/
func (a *BindingsAPIService) DeleteBindingapsSuperAdmin(ctx context.Context, id string, resourceTenant string) ApiDeleteBindingapsSuperAdminRequest {
	return ApiDeleteBindingapsSuperAdminRequest{
		ApiService:     a,
		ctx:            ctx,
		id:             id,
		resourceTenant: resourceTenant,
	}
}

// Execute executes the request
func (a *BindingsAPIService) DeleteBindingapsSuperAdminExecute(r ApiDeleteBindingapsSuperAdminRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BindingsAPIService.DeleteBindingapsSuperAdmin")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/tenants/{resourceTenant}/bindings/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"resourceTenant"+"}", url.PathEscape(parameterValueToString(r.resourceTenant, "resourceTenant")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetBindingRequest struct {
	ctx        context.Context
	ApiService *BindingsAPIService
	id         string
	tenant     string
}

func (r ApiGetBindingRequest) Execute() (*AbstractBindingControllerApiBindingDetail, *http.Response, error) {
	return r.ApiService.GetBindingExecute(r)
}

/*
GetBinding Retrieve a binding

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id The binding id
	@param tenant
	@return ApiGetBindingRequest
*/
func (a *BindingsAPIService) GetBinding(ctx context.Context, id string, tenant string) ApiGetBindingRequest {
	return ApiGetBindingRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
		tenant:     tenant,
	}
}

// Execute executes the request
//
//	@return AbstractBindingControllerApiBindingDetail
func (a *BindingsAPIService) GetBindingExecute(r ApiGetBindingRequest) (*AbstractBindingControllerApiBindingDetail, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AbstractBindingControllerApiBindingDetail
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BindingsAPIService.GetBinding")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/{tenant}/bindings/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"tenant"+"}", url.PathEscape(parameterValueToString(r.tenant, "tenant")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetBindingapsSuperAdminRequest struct {
	ctx            context.Context
	ApiService     *BindingsAPIService
	id             string
	resourceTenant string
}

func (r ApiGetBindingapsSuperAdminRequest) Execute() (*AbstractBindingControllerApiBindingDetail, *http.Response, error) {
	return r.ApiService.GetBindingapsSuperAdminExecute(r)
}

/*
GetBindingapsSuperAdmin Retrieve a binding

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id The binding id
	@param resourceTenant
	@return ApiGetBindingapsSuperAdminRequest
*/
func (a *BindingsAPIService) GetBindingapsSuperAdmin(ctx context.Context, id string, resourceTenant string) ApiGetBindingapsSuperAdminRequest {
	return ApiGetBindingapsSuperAdminRequest{
		ApiService:     a,
		ctx:            ctx,
		id:             id,
		resourceTenant: resourceTenant,
	}
}

// Execute executes the request
//
//	@return AbstractBindingControllerApiBindingDetail
func (a *BindingsAPIService) GetBindingapsSuperAdminExecute(r ApiGetBindingapsSuperAdminRequest) (*AbstractBindingControllerApiBindingDetail, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *AbstractBindingControllerApiBindingDetail
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BindingsAPIService.GetBindingapsSuperAdmin")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/tenants/{resourceTenant}/bindings/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"resourceTenant"+"}", url.PathEscape(parameterValueToString(r.resourceTenant, "resourceTenant")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSearchBindingsRequest struct {
	ctx        context.Context
	ApiService *BindingsAPIService
	page       *int32
	size       *int32
	tenant     string
	q          *string
	sort       *[]string
	type_      *BindingType
	id         *string
	namespace  *string
}

// The current page
func (r ApiSearchBindingsRequest) Page(page int32) ApiSearchBindingsRequest {
	r.page = &page
	return r
}

// The current page size
func (r ApiSearchBindingsRequest) Size(size int32) ApiSearchBindingsRequest {
	r.size = &size
	return r
}

// A string filter
func (r ApiSearchBindingsRequest) Q(q string) ApiSearchBindingsRequest {
	r.q = &q
	return r
}

// The sort of current page
func (r ApiSearchBindingsRequest) Sort(sort []string) ApiSearchBindingsRequest {
	r.sort = &sort
	return r
}

// Binding type filter
func (r ApiSearchBindingsRequest) Type_(type_ BindingType) ApiSearchBindingsRequest {
	r.type_ = &type_
	return r
}

// External id filter
func (r ApiSearchBindingsRequest) Id(id string) ApiSearchBindingsRequest {
	r.id = &id
	return r
}

// A namespace filter
func (r ApiSearchBindingsRequest) Namespace(namespace string) ApiSearchBindingsRequest {
	r.namespace = &namespace
	return r
}

func (r ApiSearchBindingsRequest) Execute() (*PagedResultsAbstractBindingControllerApiBindingDetail, *http.Response, error) {
	return r.ApiService.SearchBindingsExecute(r)
}

/*
SearchBindings Search for bindings

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param tenant
	@return ApiSearchBindingsRequest
*/
func (a *BindingsAPIService) SearchBindings(ctx context.Context, tenant string) ApiSearchBindingsRequest {
	return ApiSearchBindingsRequest{
		ApiService: a,
		ctx:        ctx,
		tenant:     tenant,
	}
}

// Execute executes the request
//
//	@return PagedResultsAbstractBindingControllerApiBindingDetail
func (a *BindingsAPIService) SearchBindingsExecute(r ApiSearchBindingsRequest) (*PagedResultsAbstractBindingControllerApiBindingDetail, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PagedResultsAbstractBindingControllerApiBindingDetail
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BindingsAPIService.SearchBindings")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/{tenant}/bindings/search"
	localVarPath = strings.Replace(localVarPath, "{"+"tenant"+"}", url.PathEscape(parameterValueToString(r.tenant, "tenant")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.page == nil {
		return localVarReturnValue, nil, reportError("page is required and must be specified")
	}
	if r.size == nil {
		return localVarReturnValue, nil, reportError("size is required and must be specified")
	}

	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "size", r.size, "form", "")
	if r.sort != nil {
		t := *r.sort
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "sort", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "sort", t, "form", "multi")
		}
	}
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	}
	if r.id != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	}
	if r.namespace != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "namespace", r.namespace, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSearchBindingsapsSuperAdminRequest struct {
	ctx            context.Context
	ApiService     *BindingsAPIService
	page           *int32
	size           *int32
	resourceTenant string
	q              *string
	sort           *[]string
	type_          *BindingType
	id             *string
	namespace      *string
}

// The current page
func (r ApiSearchBindingsapsSuperAdminRequest) Page(page int32) ApiSearchBindingsapsSuperAdminRequest {
	r.page = &page
	return r
}

// The current page size
func (r ApiSearchBindingsapsSuperAdminRequest) Size(size int32) ApiSearchBindingsapsSuperAdminRequest {
	r.size = &size
	return r
}

// A string filter
func (r ApiSearchBindingsapsSuperAdminRequest) Q(q string) ApiSearchBindingsapsSuperAdminRequest {
	r.q = &q
	return r
}

// The sort of current page
func (r ApiSearchBindingsapsSuperAdminRequest) Sort(sort []string) ApiSearchBindingsapsSuperAdminRequest {
	r.sort = &sort
	return r
}

// Binding type filter
func (r ApiSearchBindingsapsSuperAdminRequest) Type_(type_ BindingType) ApiSearchBindingsapsSuperAdminRequest {
	r.type_ = &type_
	return r
}

// External id filter
func (r ApiSearchBindingsapsSuperAdminRequest) Id(id string) ApiSearchBindingsapsSuperAdminRequest {
	r.id = &id
	return r
}

// A namespace filter
func (r ApiSearchBindingsapsSuperAdminRequest) Namespace(namespace string) ApiSearchBindingsapsSuperAdminRequest {
	r.namespace = &namespace
	return r
}

func (r ApiSearchBindingsapsSuperAdminRequest) Execute() (*PagedResultsAbstractBindingControllerApiBindingDetail, *http.Response, error) {
	return r.ApiService.SearchBindingsapsSuperAdminExecute(r)
}

/*
SearchBindingsapsSuperAdmin Search for bindings

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param resourceTenant
	@return ApiSearchBindingsapsSuperAdminRequest
*/
func (a *BindingsAPIService) SearchBindingsapsSuperAdmin(ctx context.Context, resourceTenant string) ApiSearchBindingsapsSuperAdminRequest {
	return ApiSearchBindingsapsSuperAdminRequest{
		ApiService:     a,
		ctx:            ctx,
		resourceTenant: resourceTenant,
	}
}

// Execute executes the request
//
//	@return PagedResultsAbstractBindingControllerApiBindingDetail
func (a *BindingsAPIService) SearchBindingsapsSuperAdminExecute(r ApiSearchBindingsapsSuperAdminRequest) (*PagedResultsAbstractBindingControllerApiBindingDetail, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PagedResultsAbstractBindingControllerApiBindingDetail
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BindingsAPIService.SearchBindingsapsSuperAdmin")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/tenants/{resourceTenant}/bindings/search"
	localVarPath = strings.Replace(localVarPath, "{"+"resourceTenant"+"}", url.PathEscape(parameterValueToString(r.resourceTenant, "resourceTenant")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.page == nil {
		return localVarReturnValue, nil, reportError("page is required and must be specified")
	}
	if r.size == nil {
		return localVarReturnValue, nil, reportError("size is required and must be specified")
	}

	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "size", r.size, "form", "")
	if r.sort != nil {
		t := *r.sort
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "sort", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "sort", t, "form", "multi")
		}
	}
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	}
	if r.id != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	}
	if r.namespace != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "namespace", r.namespace, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
