/*
Kestra EE

All API operations, except for Superadmin-only endpoints, require a tenant identifier in the HTTP path.<br/> Endpoints designated as Superadmin-only are not tenant-scoped.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package kestra_api_client

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

// SCIMGroupsAPIService SCIMGroupsAPI service
type SCIMGroupsAPIService service

type ApiCreateSCIMResourceByIdGroupsRequest struct {
	ctx                context.Context
	ApiService         *SCIMGroupsAPIService
	integration        string
	tenant             string
	scimUser           *ScimUser
	attributes         *string
	excludedAttributes *string
}

func (r ApiCreateSCIMResourceByIdGroupsRequest) ScimUser(scimUser ScimUser) ApiCreateSCIMResourceByIdGroupsRequest {
	r.scimUser = &scimUser
	return r
}

func (r ApiCreateSCIMResourceByIdGroupsRequest) Attributes(attributes string) ApiCreateSCIMResourceByIdGroupsRequest {
	r.attributes = &attributes
	return r
}

func (r ApiCreateSCIMResourceByIdGroupsRequest) ExcludedAttributes(excludedAttributes string) ApiCreateSCIMResourceByIdGroupsRequest {
	r.excludedAttributes = &excludedAttributes
	return r
}

func (r ApiCreateSCIMResourceByIdGroupsRequest) Execute() (*ScimResource, *http.Response, error) {
	return r.ApiService.CreateSCIMResourceByIdGroupsExecute(r)
}

/*
CreateSCIMResourceByIdGroups Method for CreateSCIMResourceByIdGroups

Create

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param integration
	@param tenant
	@return ApiCreateSCIMResourceByIdGroupsRequest
*/
func (a *SCIMGroupsAPIService) CreateSCIMResourceByIdGroups(ctx context.Context, integration string, tenant string) ApiCreateSCIMResourceByIdGroupsRequest {
	return ApiCreateSCIMResourceByIdGroupsRequest{
		ApiService:  a,
		ctx:         ctx,
		integration: integration,
		tenant:      tenant,
	}
}

// Execute executes the request
//
//	@return ScimResource
func (a *SCIMGroupsAPIService) CreateSCIMResourceByIdGroupsExecute(r ApiCreateSCIMResourceByIdGroupsRequest) (*ScimResource, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ScimResource
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SCIMGroupsAPIService.CreateSCIMResourceByIdGroups")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/{tenant}/integrations/{integration}/scim/v2/Groups"
	localVarPath = strings.Replace(localVarPath, "{"+"integration"+"}", url.PathEscape(parameterValueToString(r.integration, "integration")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"tenant"+"}", url.PathEscape(parameterValueToString(r.tenant, "tenant")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.scimUser == nil {
		return localVarReturnValue, nil, reportError("scimUser is required and must be specified")
	}

	if r.attributes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "attributes", r.attributes, "form", "")
	}
	if r.excludedAttributes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "excludedAttributes", r.excludedAttributes, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/scim+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/scim+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.scimUser
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteGroupsRequest struct {
	ctx         context.Context
	ApiService  *SCIMGroupsAPIService
	id          string
	integration string
	tenant      string
}

func (r ApiDeleteGroupsRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteGroupsExecute(r)
}

/*
DeleteGroups Method for DeleteGroups

Delete from the backing store

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@param integration
	@param tenant
	@return ApiDeleteGroupsRequest
*/
func (a *SCIMGroupsAPIService) DeleteGroups(ctx context.Context, id string, integration string, tenant string) ApiDeleteGroupsRequest {
	return ApiDeleteGroupsRequest{
		ApiService:  a,
		ctx:         ctx,
		id:          id,
		integration: integration,
		tenant:      tenant,
	}
}

// Execute executes the request
func (a *SCIMGroupsAPIService) DeleteGroupsExecute(r ApiDeleteGroupsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SCIMGroupsAPIService.DeleteGroups")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/{tenant}/integrations/{integration}/scim/v2/Groups/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"integration"+"}", url.PathEscape(parameterValueToString(r.integration, "integration")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"tenant"+"}", url.PathEscape(parameterValueToString(r.tenant, "tenant")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiFindGroupsRequest struct {
	ctx           context.Context
	ApiService    *SCIMGroupsAPIService
	integration   string
	tenant        string
	searchRequest *SearchRequest
}

func (r ApiFindGroupsRequest) SearchRequest(searchRequest SearchRequest) ApiFindGroupsRequest {
	r.searchRequest = &searchRequest
	return r
}

func (r ApiFindGroupsRequest) Execute() (*ScimResource, *http.Response, error) {
	return r.ApiService.FindGroupsExecute(r)
}

/*
FindGroups Method for FindGroups

Search

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param integration
	@param tenant
	@return ApiFindGroupsRequest
*/
func (a *SCIMGroupsAPIService) FindGroups(ctx context.Context, integration string, tenant string) ApiFindGroupsRequest {
	return ApiFindGroupsRequest{
		ApiService:  a,
		ctx:         ctx,
		integration: integration,
		tenant:      tenant,
	}
}

// Execute executes the request
//
//	@return ScimResource
func (a *SCIMGroupsAPIService) FindGroupsExecute(r ApiFindGroupsRequest) (*ScimResource, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ScimResource
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SCIMGroupsAPIService.FindGroups")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/{tenant}/integrations/{integration}/scim/v2/Groups/.search"
	localVarPath = strings.Replace(localVarPath, "{"+"integration"+"}", url.PathEscape(parameterValueToString(r.integration, "integration")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"tenant"+"}", url.PathEscape(parameterValueToString(r.tenant, "tenant")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.searchRequest == nil {
		return localVarReturnValue, nil, reportError("searchRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/scim+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/scim+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.searchRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetSCIMResourceByIdGroupsRequest struct {
	ctx                context.Context
	ApiService         *SCIMGroupsAPIService
	id                 string
	integration        string
	tenant             string
	attributes         *string
	excludedAttributes *string
}

func (r ApiGetSCIMResourceByIdGroupsRequest) Attributes(attributes string) ApiGetSCIMResourceByIdGroupsRequest {
	r.attributes = &attributes
	return r
}

func (r ApiGetSCIMResourceByIdGroupsRequest) ExcludedAttributes(excludedAttributes string) ApiGetSCIMResourceByIdGroupsRequest {
	r.excludedAttributes = &excludedAttributes
	return r
}

func (r ApiGetSCIMResourceByIdGroupsRequest) Execute() (*ScimResource, *http.Response, error) {
	return r.ApiService.GetSCIMResourceByIdGroupsExecute(r)
}

/*
GetSCIMResourceByIdGroups Method for GetSCIMResourceByIdGroups

Find by id

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@param integration
	@param tenant
	@return ApiGetSCIMResourceByIdGroupsRequest
*/
func (a *SCIMGroupsAPIService) GetSCIMResourceByIdGroups(ctx context.Context, id string, integration string, tenant string) ApiGetSCIMResourceByIdGroupsRequest {
	return ApiGetSCIMResourceByIdGroupsRequest{
		ApiService:  a,
		ctx:         ctx,
		id:          id,
		integration: integration,
		tenant:      tenant,
	}
}

// Execute executes the request
//
//	@return ScimResource
func (a *SCIMGroupsAPIService) GetSCIMResourceByIdGroupsExecute(r ApiGetSCIMResourceByIdGroupsRequest) (*ScimResource, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ScimResource
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SCIMGroupsAPIService.GetSCIMResourceByIdGroups")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/{tenant}/integrations/{integration}/scim/v2/Groups/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"integration"+"}", url.PathEscape(parameterValueToString(r.integration, "integration")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"tenant"+"}", url.PathEscape(parameterValueToString(r.tenant, "tenant")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.attributes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "attributes", r.attributes, "form", "")
	}
	if r.excludedAttributes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "excludedAttributes", r.excludedAttributes, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/scim+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPatchGroupsRequest struct {
	ctx                context.Context
	ApiService         *SCIMGroupsAPIService
	id                 string
	integration        string
	tenant             string
	patchRequest       *PatchRequest
	attributes         *string
	excludedAttributes *string
}

func (r ApiPatchGroupsRequest) PatchRequest(patchRequest PatchRequest) ApiPatchGroupsRequest {
	r.patchRequest = &patchRequest
	return r
}

func (r ApiPatchGroupsRequest) Attributes(attributes string) ApiPatchGroupsRequest {
	r.attributes = &attributes
	return r
}

func (r ApiPatchGroupsRequest) ExcludedAttributes(excludedAttributes string) ApiPatchGroupsRequest {
	r.excludedAttributes = &excludedAttributes
	return r
}

func (r ApiPatchGroupsRequest) Execute() (*http.Response, error) {
	return r.ApiService.PatchGroupsExecute(r)
}

/*
PatchGroups Method for PatchGroups

Patch a portion of the backing store

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@param integration
	@param tenant
	@return ApiPatchGroupsRequest
*/
func (a *SCIMGroupsAPIService) PatchGroups(ctx context.Context, id string, integration string, tenant string) ApiPatchGroupsRequest {
	return ApiPatchGroupsRequest{
		ApiService:  a,
		ctx:         ctx,
		id:          id,
		integration: integration,
		tenant:      tenant,
	}
}

// Execute executes the request
func (a *SCIMGroupsAPIService) PatchGroupsExecute(r ApiPatchGroupsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPatch
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SCIMGroupsAPIService.PatchGroups")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/{tenant}/integrations/{integration}/scim/v2/Groups/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"integration"+"}", url.PathEscape(parameterValueToString(r.integration, "integration")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"tenant"+"}", url.PathEscape(parameterValueToString(r.tenant, "tenant")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.patchRequest == nil {
		return nil, reportError("patchRequest is required and must be specified")
	}

	if r.attributes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "attributes", r.attributes, "form", "")
	}
	if r.excludedAttributes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "excludedAttributes", r.excludedAttributes, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/scim+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.patchRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiQueryGroupsRequest struct {
	ctx                context.Context
	ApiService         *SCIMGroupsAPIService
	integration        string
	tenant             string
	attributes         *string
	excludedAttributes *string
	filter             *string
	sortBy             *string
	sortOrder          *SortOrder
	startIndex         *int32
	count              *int32
}

func (r ApiQueryGroupsRequest) Attributes(attributes string) ApiQueryGroupsRequest {
	r.attributes = &attributes
	return r
}

func (r ApiQueryGroupsRequest) ExcludedAttributes(excludedAttributes string) ApiQueryGroupsRequest {
	r.excludedAttributes = &excludedAttributes
	return r
}

func (r ApiQueryGroupsRequest) Filter(filter string) ApiQueryGroupsRequest {
	r.filter = &filter
	return r
}

func (r ApiQueryGroupsRequest) SortBy(sortBy string) ApiQueryGroupsRequest {
	r.sortBy = &sortBy
	return r
}

func (r ApiQueryGroupsRequest) SortOrder(sortOrder SortOrder) ApiQueryGroupsRequest {
	r.sortOrder = &sortOrder
	return r
}

func (r ApiQueryGroupsRequest) StartIndex(startIndex int32) ApiQueryGroupsRequest {
	r.startIndex = &startIndex
	return r
}

func (r ApiQueryGroupsRequest) Count(count int32) ApiQueryGroupsRequest {
	r.count = &count
	return r
}

func (r ApiQueryGroupsRequest) Execute() (*ScimResource, *http.Response, error) {
	return r.ApiService.QueryGroupsExecute(r)
}

/*
QueryGroups Method for QueryGroups

Find by a combination of query parameters

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param integration
	@param tenant
	@return ApiQueryGroupsRequest
*/
func (a *SCIMGroupsAPIService) QueryGroups(ctx context.Context, integration string, tenant string) ApiQueryGroupsRequest {
	return ApiQueryGroupsRequest{
		ApiService:  a,
		ctx:         ctx,
		integration: integration,
		tenant:      tenant,
	}
}

// Execute executes the request
//
//	@return ScimResource
func (a *SCIMGroupsAPIService) QueryGroupsExecute(r ApiQueryGroupsRequest) (*ScimResource, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ScimResource
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SCIMGroupsAPIService.QueryGroups")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/{tenant}/integrations/{integration}/scim/v2/Groups"
	localVarPath = strings.Replace(localVarPath, "{"+"integration"+"}", url.PathEscape(parameterValueToString(r.integration, "integration")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"tenant"+"}", url.PathEscape(parameterValueToString(r.tenant, "tenant")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.attributes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "attributes", r.attributes, "form", "")
	}
	if r.excludedAttributes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "excludedAttributes", r.excludedAttributes, "form", "")
	}
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter, "form", "")
	}
	if r.sortBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortBy", r.sortBy, "form", "")
	}
	if r.sortOrder != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortOrder", r.sortOrder, "form", "")
	}
	if r.startIndex != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "startIndex", r.startIndex, "form", "")
	}
	if r.count != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "count", r.count, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/scim+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateGroupsRequest struct {
	ctx                context.Context
	ApiService         *SCIMGroupsAPIService
	id                 string
	integration        string
	tenant             string
	scimResource       *ScimResource
	attributes         *string
	excludedAttributes *string
}

func (r ApiUpdateGroupsRequest) ScimResource(scimResource ScimResource) ApiUpdateGroupsRequest {
	r.scimResource = &scimResource
	return r
}

func (r ApiUpdateGroupsRequest) Attributes(attributes string) ApiUpdateGroupsRequest {
	r.attributes = &attributes
	return r
}

func (r ApiUpdateGroupsRequest) ExcludedAttributes(excludedAttributes string) ApiUpdateGroupsRequest {
	r.excludedAttributes = &excludedAttributes
	return r
}

func (r ApiUpdateGroupsRequest) Execute() (*ScimResource, *http.Response, error) {
	return r.ApiService.UpdateGroupsExecute(r)
}

/*
UpdateGroups Method for UpdateGroups

Update

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@param integration
	@param tenant
	@return ApiUpdateGroupsRequest
*/
func (a *SCIMGroupsAPIService) UpdateGroups(ctx context.Context, id string, integration string, tenant string) ApiUpdateGroupsRequest {
	return ApiUpdateGroupsRequest{
		ApiService:  a,
		ctx:         ctx,
		id:          id,
		integration: integration,
		tenant:      tenant,
	}
}

// Execute executes the request
//
//	@return ScimResource
func (a *SCIMGroupsAPIService) UpdateGroupsExecute(r ApiUpdateGroupsRequest) (*ScimResource, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPut
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ScimResource
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SCIMGroupsAPIService.UpdateGroups")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/{tenant}/integrations/{integration}/scim/v2/Groups/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"integration"+"}", url.PathEscape(parameterValueToString(r.integration, "integration")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"tenant"+"}", url.PathEscape(parameterValueToString(r.tenant, "tenant")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.scimResource == nil {
		return localVarReturnValue, nil, reportError("scimResource is required and must be specified")
	}

	if r.attributes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "attributes", r.attributes, "form", "")
	}
	if r.excludedAttributes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "excludedAttributes", r.excludedAttributes, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/scim+json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/scim+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.scimResource
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
