/*
 * Kestra EE
 * All API operations, except for Superadmin-only endpoints, require a tenant identifier in the HTTP path.<br/> Endpoints designated as Superadmin-only are not tenant-scoped.
 *
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package io.kestra.sdk.api;

// Custom imports for injected code
import java.io.IOException;
import java.io.InputStreamReader;
import java.nio.charset.StandardCharsets;
import reactor.core.publisher.Flux;
import java.io.BufferedReader;
import io.kestra.sdk.model.ExecutionStatusEvent;

import com.fasterxml.jackson.core.type.TypeReference;

import io.kestra.sdk.internal.ApiException;
import io.kestra.sdk.internal.ApiClient;
import io.kestra.sdk.internal.BaseApi;
import io.kestra.sdk.internal.Configuration;
import io.kestra.sdk.internal.Pair;

import io.kestra.sdk.model.AssetTopologyGraph;
import io.kestra.sdk.model.AssetsControllerApiAsset;
import io.kestra.sdk.model.BulkErrorResponse;
import io.kestra.sdk.model.BulkResponse;
import io.kestra.sdk.model.PagedResultsAssetsControllerApiAsset;
import io.kestra.sdk.model.PagedResultsAssetsControllerApiAssetLineageEvent;
import io.kestra.sdk.model.PagedResultsAssetsControllerApiAssetUsage;
import io.kestra.sdk.model.QueryFilter;


import java.util.ArrayList;
import java.util.Collections;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.StringJoiner;

@jakarta.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen")public class AssetsApi extends BaseApi {

  public AssetsApi() {
    super(Configuration.getDefaultApiClient());
  }

  public AssetsApi(ApiClient apiClient) {
    super(apiClient);
  }

  /**
   * Retrieve an asset
   * 
   * @param id The ID of the asset (required)
   * @param tenant  (required)
   * @param allowDeleted Get asset even if soft deleted (optional, default to false)
   * @return AssetsControllerApiAsset
   * @throws ApiException if fails to make API call
   */
  public AssetsControllerApiAsset asset(@jakarta.annotation.Nonnull String id, @jakarta.annotation.Nonnull String tenant, @jakarta.annotation.Nullable Boolean allowDeleted) throws ApiException {
    return this.asset(id, tenant, allowDeleted, Collections.emptyMap());
  }

  /**
   * Retrieve an asset
   * 
   * @param id The ID of the asset (required)
   * @param tenant  (required)
   * @param allowDeleted Get asset even if soft deleted (optional, default to false)
   * @param additionalHeaders additionalHeaders for this call
   * @return AssetsControllerApiAsset
   * @throws ApiException if fails to make API call
   */
  public AssetsControllerApiAsset asset(@jakarta.annotation.Nonnull String id, @jakarta.annotation.Nonnull String tenant, @jakarta.annotation.Nullable Boolean allowDeleted, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling asset");
    }
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling asset");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/assets/{id}"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)))
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams =  new HashMap<String, Object>();
    localVarQueryParams.addAll(apiClient.parameterToPair("allowDeleted", allowDeleted));
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<AssetsControllerApiAsset> localVarReturnType = new TypeReference<AssetsControllerApiAsset>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }






  /**
   * Get an asset dependencies
   * 
   * @param id The asset id (required)
   * @param tenant  (required)
   * @param destinationOnly If true, list only destination dependencies, otherwise list also source dependencies (optional, default to false)
   * @param expandAll If true, expand all dependencies recursively (optional, default to false)
   * @return AssetTopologyGraph
   * @throws ApiException if fails to make API call
   */
  public AssetTopologyGraph assetDependencies(@jakarta.annotation.Nonnull String id, @jakarta.annotation.Nonnull String tenant, @jakarta.annotation.Nullable Boolean destinationOnly, @jakarta.annotation.Nullable Boolean expandAll) throws ApiException {
    return this.assetDependencies(id, tenant, destinationOnly, expandAll, Collections.emptyMap());
  }

  /**
   * Get an asset dependencies
   * 
   * @param id The asset id (required)
   * @param tenant  (required)
   * @param destinationOnly If true, list only destination dependencies, otherwise list also source dependencies (optional, default to false)
   * @param expandAll If true, expand all dependencies recursively (optional, default to false)
   * @param additionalHeaders additionalHeaders for this call
   * @return AssetTopologyGraph
   * @throws ApiException if fails to make API call
   */
  public AssetTopologyGraph assetDependencies(@jakarta.annotation.Nonnull String id, @jakarta.annotation.Nonnull String tenant, @jakarta.annotation.Nullable Boolean destinationOnly, @jakarta.annotation.Nullable Boolean expandAll, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling assetDependencies");
    }
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling assetDependencies");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/assets/{id}/dependencies"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)))
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams =  new HashMap<String, Object>();
    localVarQueryParams.addAll(apiClient.parameterToPair("destinationOnly", destinationOnly));
    localVarQueryParams.addAll(apiClient.parameterToPair("expandAll", expandAll));
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<AssetTopologyGraph> localVarReturnType = new TypeReference<AssetTopologyGraph>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }






  /**
   * Create a new asset
   * 
   * @param tenant  (required)
   * @param body The asset (required)
   * @return AssetsControllerApiAsset
   * @throws ApiException if fails to make API call
   */
  public AssetsControllerApiAsset createAsset(@jakarta.annotation.Nonnull String tenant, @jakarta.annotation.Nonnull String body) throws ApiException {
    return this.createAsset(tenant, body, Collections.emptyMap());
  }

  /**
   * Create a new asset
   * 
   * @param tenant  (required)
   * @param body The asset (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return AssetsControllerApiAsset
   * @throws ApiException if fails to make API call
   */
  public AssetsControllerApiAsset createAsset(@jakarta.annotation.Nonnull String tenant, @jakarta.annotation.Nonnull String body, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = body;
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling createAsset");
    }
    
    // verify the required parameter 'body' is set
    if (body == null) {
      throw new ApiException(400, "Missing the required parameter 'body' when calling createAsset");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/assets"
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams =  new HashMap<String, Object>();
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/x-yaml"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<AssetsControllerApiAsset> localVarReturnType = new TypeReference<AssetsControllerApiAsset>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }






  /**
   * Delete an asset
   * 
   * @param id The ID of the asset (required)
   * @param tenant  (required)
   * @throws ApiException if fails to make API call
   */
  public void deleteAsset(@jakarta.annotation.Nonnull String id, @jakarta.annotation.Nonnull String tenant) throws ApiException {
    this.deleteAsset(id, tenant, Collections.emptyMap());
  }

  /**
   * Delete an asset
   * 
   * @param id The ID of the asset (required)
   * @param tenant  (required)
   * @param additionalHeaders additionalHeaders for this call
   * @throws ApiException if fails to make API call
   */
  public void deleteAsset(@jakarta.annotation.Nonnull String id, @jakarta.annotation.Nonnull String tenant, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling deleteAsset");
    }
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling deleteAsset");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/assets/{id}"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)))
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams =  new HashMap<String, Object>();
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    apiClient.invokeAPI(
        localVarPath,
        "DELETE",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        null
    );
  }






  /**
   * Delete asset lineage events by query, hard-delete (purge) only
   * 
   * @param filters Filters (required)
   * @param tenant  (required)
   * @return BulkResponse
   * @throws ApiException if fails to make API call
   */
  public BulkResponse deleteAssetLineageEventsByQuery(@jakarta.annotation.Nonnull List<QueryFilter> filters, @jakarta.annotation.Nonnull String tenant) throws ApiException {
    return this.deleteAssetLineageEventsByQuery(filters, tenant, Collections.emptyMap());
  }

  /**
   * Delete asset lineage events by query, hard-delete (purge) only
   * 
   * @param filters Filters (required)
   * @param tenant  (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return BulkResponse
   * @throws ApiException if fails to make API call
   */
  public BulkResponse deleteAssetLineageEventsByQuery(@jakarta.annotation.Nonnull List<QueryFilter> filters, @jakarta.annotation.Nonnull String tenant, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'filters' is set
    if (filters == null) {
      throw new ApiException(400, "Missing the required parameter 'filters' when calling deleteAssetLineageEventsByQuery");
    }
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling deleteAssetLineageEventsByQuery");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/assets/lineage-events/by-query"
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams =  new HashMap<String, Object>();
    localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("csv", "filters", filters));
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<BulkResponse> localVarReturnType = new TypeReference<BulkResponse>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "DELETE",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }






  /**
   * Delete asset usages by query, hard-delete (purge) only
   * 
   * @param filters Filters (required)
   * @param tenant  (required)
   * @return BulkResponse
   * @throws ApiException if fails to make API call
   */
  public BulkResponse deleteAssetUsagesByQuery(@jakarta.annotation.Nonnull List<QueryFilter> filters, @jakarta.annotation.Nonnull String tenant) throws ApiException {
    return this.deleteAssetUsagesByQuery(filters, tenant, Collections.emptyMap());
  }

  /**
   * Delete asset usages by query, hard-delete (purge) only
   * 
   * @param filters Filters (required)
   * @param tenant  (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return BulkResponse
   * @throws ApiException if fails to make API call
   */
  public BulkResponse deleteAssetUsagesByQuery(@jakarta.annotation.Nonnull List<QueryFilter> filters, @jakarta.annotation.Nonnull String tenant, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'filters' is set
    if (filters == null) {
      throw new ApiException(400, "Missing the required parameter 'filters' when calling deleteAssetUsagesByQuery");
    }
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling deleteAssetUsagesByQuery");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/assets/usages/by-query"
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams =  new HashMap<String, Object>();
    localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("csv", "filters", filters));
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<BulkResponse> localVarReturnType = new TypeReference<BulkResponse>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "DELETE",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }






  /**
   * Delete assets by asset ids
   * 
   * @param tenant  (required)
   * @param requestBody The asset ids (required)
   * @return BulkResponse
   * @throws ApiException if fails to make API call
   */
  public BulkResponse deleteAssetsByIds(@jakarta.annotation.Nonnull String tenant, @jakarta.annotation.Nonnull List<String> requestBody) throws ApiException {
    return this.deleteAssetsByIds(tenant, requestBody, Collections.emptyMap());
  }

  /**
   * Delete assets by asset ids
   * 
   * @param tenant  (required)
   * @param requestBody The asset ids (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return BulkResponse
   * @throws ApiException if fails to make API call
   */
  public BulkResponse deleteAssetsByIds(@jakarta.annotation.Nonnull String tenant, @jakarta.annotation.Nonnull List<String> requestBody, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = requestBody;
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling deleteAssetsByIds");
    }
    
    // verify the required parameter 'requestBody' is set
    if (requestBody == null) {
      throw new ApiException(400, "Missing the required parameter 'requestBody' when calling deleteAssetsByIds");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/assets/by-ids"
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams =  new HashMap<String, Object>();
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<BulkResponse> localVarReturnType = new TypeReference<BulkResponse>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "DELETE",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }






  /**
   * Delete assets by query
   * 
   * @param filters Filters (required)
   * @param tenant  (required)
   * @param purge If true, will purge instead of soft-delete (optional, default to false)
   * @return BulkResponse
   * @throws ApiException if fails to make API call
   */
  public BulkResponse deleteAssetsByQuery(@jakarta.annotation.Nonnull List<QueryFilter> filters, @jakarta.annotation.Nonnull String tenant, @jakarta.annotation.Nullable Boolean purge) throws ApiException {
    return this.deleteAssetsByQuery(filters, tenant, purge, Collections.emptyMap());
  }

  /**
   * Delete assets by query
   * 
   * @param filters Filters (required)
   * @param tenant  (required)
   * @param purge If true, will purge instead of soft-delete (optional, default to false)
   * @param additionalHeaders additionalHeaders for this call
   * @return BulkResponse
   * @throws ApiException if fails to make API call
   */
  public BulkResponse deleteAssetsByQuery(@jakarta.annotation.Nonnull List<QueryFilter> filters, @jakarta.annotation.Nonnull String tenant, @jakarta.annotation.Nullable Boolean purge, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'filters' is set
    if (filters == null) {
      throw new ApiException(400, "Missing the required parameter 'filters' when calling deleteAssetsByQuery");
    }
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling deleteAssetsByQuery");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/assets/by-query"
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams =  new HashMap<String, Object>();
    localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("csv", "filters", filters));
    localVarQueryParams.addAll(apiClient.parameterToPair("purge", purge));
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<BulkResponse> localVarReturnType = new TypeReference<BulkResponse>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "DELETE",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }






  /**
   * Search for asset lineage events
   * 
   * @param filters Filters (required)
   * @param tenant  (required)
   * @param page The current page (optional, default to 1)
   * @param size The current page size (optional, default to 10)
   * @param sort The sort of current page (optional)
   * @return PagedResultsAssetsControllerApiAssetLineageEvent
   * @throws ApiException if fails to make API call
   */
  public PagedResultsAssetsControllerApiAssetLineageEvent searchAssetLineageEvents(@jakarta.annotation.Nonnull List<QueryFilter> filters, @jakarta.annotation.Nonnull String tenant, @jakarta.annotation.Nullable Integer page, @jakarta.annotation.Nullable Integer size, @jakarta.annotation.Nullable List<String> sort) throws ApiException {
    return this.searchAssetLineageEvents(filters, tenant, page, size, sort, Collections.emptyMap());
  }

  /**
   * Search for asset lineage events
   * 
   * @param filters Filters (required)
   * @param tenant  (required)
   * @param page The current page (optional, default to 1)
   * @param size The current page size (optional, default to 10)
   * @param sort The sort of current page (optional)
   * @param additionalHeaders additionalHeaders for this call
   * @return PagedResultsAssetsControllerApiAssetLineageEvent
   * @throws ApiException if fails to make API call
   */
  public PagedResultsAssetsControllerApiAssetLineageEvent searchAssetLineageEvents(@jakarta.annotation.Nonnull List<QueryFilter> filters, @jakarta.annotation.Nonnull String tenant, @jakarta.annotation.Nullable Integer page, @jakarta.annotation.Nullable Integer size, @jakarta.annotation.Nullable List<String> sort, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'filters' is set
    if (filters == null) {
      throw new ApiException(400, "Missing the required parameter 'filters' when calling searchAssetLineageEvents");
    }
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling searchAssetLineageEvents");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/assets/lineage-events/search"
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams =  new HashMap<String, Object>();
    localVarQueryParams.addAll(apiClient.parameterToPair("page", page));
    localVarQueryParams.addAll(apiClient.parameterToPair("size", size));
    localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("csv", "sort", sort));
    localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("csv", "filters", filters));
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<PagedResultsAssetsControllerApiAssetLineageEvent> localVarReturnType = new TypeReference<PagedResultsAssetsControllerApiAssetLineageEvent>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }






  /**
   * Search for asset usages
   * 
   * @param filters Filters (required)
   * @param tenant  (required)
   * @param page The current page (optional, default to 1)
   * @param size The current page size (optional, default to 10)
   * @param sort The sort of current page (optional)
   * @return PagedResultsAssetsControllerApiAssetUsage
   * @throws ApiException if fails to make API call
   */
  public PagedResultsAssetsControllerApiAssetUsage searchAssetUsages(@jakarta.annotation.Nonnull List<QueryFilter> filters, @jakarta.annotation.Nonnull String tenant, @jakarta.annotation.Nullable Integer page, @jakarta.annotation.Nullable Integer size, @jakarta.annotation.Nullable List<String> sort) throws ApiException {
    return this.searchAssetUsages(filters, tenant, page, size, sort, Collections.emptyMap());
  }

  /**
   * Search for asset usages
   * 
   * @param filters Filters (required)
   * @param tenant  (required)
   * @param page The current page (optional, default to 1)
   * @param size The current page size (optional, default to 10)
   * @param sort The sort of current page (optional)
   * @param additionalHeaders additionalHeaders for this call
   * @return PagedResultsAssetsControllerApiAssetUsage
   * @throws ApiException if fails to make API call
   */
  public PagedResultsAssetsControllerApiAssetUsage searchAssetUsages(@jakarta.annotation.Nonnull List<QueryFilter> filters, @jakarta.annotation.Nonnull String tenant, @jakarta.annotation.Nullable Integer page, @jakarta.annotation.Nullable Integer size, @jakarta.annotation.Nullable List<String> sort, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'filters' is set
    if (filters == null) {
      throw new ApiException(400, "Missing the required parameter 'filters' when calling searchAssetUsages");
    }
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling searchAssetUsages");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/assets/usages/search"
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams =  new HashMap<String, Object>();
    localVarQueryParams.addAll(apiClient.parameterToPair("page", page));
    localVarQueryParams.addAll(apiClient.parameterToPair("size", size));
    localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("csv", "sort", sort));
    localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("csv", "filters", filters));
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<PagedResultsAssetsControllerApiAssetUsage> localVarReturnType = new TypeReference<PagedResultsAssetsControllerApiAssetUsage>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }






  /**
   * Search for assets
   * 
   * @param filters Filters (required)
   * @param tenant  (required)
   * @param page The current page (optional, default to 1)
   * @param size The current page size (optional, default to 10)
   * @param sort The sort of current page (optional)
   * @return PagedResultsAssetsControllerApiAsset
   * @throws ApiException if fails to make API call
   */
  public PagedResultsAssetsControllerApiAsset searchAssets(@jakarta.annotation.Nonnull List<QueryFilter> filters, @jakarta.annotation.Nonnull String tenant, @jakarta.annotation.Nullable Integer page, @jakarta.annotation.Nullable Integer size, @jakarta.annotation.Nullable List<String> sort) throws ApiException {
    return this.searchAssets(filters, tenant, page, size, sort, Collections.emptyMap());
  }

  /**
   * Search for assets
   * 
   * @param filters Filters (required)
   * @param tenant  (required)
   * @param page The current page (optional, default to 1)
   * @param size The current page size (optional, default to 10)
   * @param sort The sort of current page (optional)
   * @param additionalHeaders additionalHeaders for this call
   * @return PagedResultsAssetsControllerApiAsset
   * @throws ApiException if fails to make API call
   */
  public PagedResultsAssetsControllerApiAsset searchAssets(@jakarta.annotation.Nonnull List<QueryFilter> filters, @jakarta.annotation.Nonnull String tenant, @jakarta.annotation.Nullable Integer page, @jakarta.annotation.Nullable Integer size, @jakarta.annotation.Nullable List<String> sort, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'filters' is set
    if (filters == null) {
      throw new ApiException(400, "Missing the required parameter 'filters' when calling searchAssets");
    }
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling searchAssets");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/assets/search"
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams =  new HashMap<String, Object>();
    localVarQueryParams.addAll(apiClient.parameterToPair("page", page));
    localVarQueryParams.addAll(apiClient.parameterToPair("size", size));
    localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("csv", "sort", sort));
    localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("csv", "filters", filters));
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<PagedResultsAssetsControllerApiAsset> localVarReturnType = new TypeReference<PagedResultsAssetsControllerApiAsset>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  @Override
  public <T> T invokeAPI(String url, String method, Object request, TypeReference<T> returnType, Map<String, String> additionalHeaders) throws ApiException {
    String localVarPath = url.replace(apiClient.getBaseURL(), "");
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarHeaderParams.putAll(additionalHeaders);

    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    return apiClient.invokeAPI(
      localVarPath,
        method,
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        request,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        returnType
    );
  }





}
