/*
 * Kestra EE
 * All API operations, except for Superadmin-only endpoints, require a tenant identifier in the HTTP path.<br/> Endpoints designated as Superadmin-only are not tenant-scoped.
 *
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package io.kestra.sdk.api;

// Custom imports for injected code
import java.io.IOException;
import java.io.InputStreamReader;
import java.nio.charset.StandardCharsets;
import reactor.core.publisher.Flux;
import java.io.BufferedReader;
import io.kestra.sdk.model.ExecutionStatusEvent;

import com.fasterxml.jackson.core.type.TypeReference;

import io.kestra.sdk.internal.ApiException;
import io.kestra.sdk.internal.ApiClient;
import io.kestra.sdk.internal.BaseApi;
import io.kestra.sdk.internal.Configuration;
import io.kestra.sdk.internal.Pair;

import io.kestra.sdk.model.BlueprintControllerApiBlueprintItemWithSource;
import io.kestra.sdk.model.BlueprintControllerApiFlowBlueprint;
import io.kestra.sdk.model.BlueprintControllerFlowBlueprintCreateOrUpdate;
import io.kestra.sdk.model.BlueprintControllerKind;
import io.kestra.sdk.model.BlueprintControllerUseBlueprintTemplateRequest;
import io.kestra.sdk.model.BlueprintControllerUseBlueprintTemplateResponse;
import io.kestra.sdk.model.BlueprintWithFlowEntity;
import io.kestra.sdk.model.PagedResultsBlueprint;
import io.kestra.sdk.model.PagedResultsBlueprintControllerApiBlueprintItem;


import java.util.ArrayList;
import java.util.Collections;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.StringJoiner;

@jakarta.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen")public class BlueprintsApi extends BaseApi {

  public BlueprintsApi() {
    super(Configuration.getDefaultApiClient());
  }

  public BlueprintsApi(ApiClient apiClient) {
    super(apiClient);
  }

  /**
   * Retrieve a blueprint
   * Retrieves details of a specific community blueprint.
   * @param id The blueprint id (required)
   * @param kind The blueprint kind (required)
   * @param tenant  (required)
   * @return BlueprintControllerApiBlueprintItemWithSource
   * @throws ApiException if fails to make API call
   */
  public BlueprintControllerApiBlueprintItemWithSource blueprint(@jakarta.annotation.Nonnull String id, @jakarta.annotation.Nonnull BlueprintControllerKind kind, @jakarta.annotation.Nonnull String tenant) throws ApiException {
    return this.blueprint(id, kind, tenant, Collections.emptyMap());
  }

  /**
   * Retrieve a blueprint
   * Retrieves details of a specific community blueprint.
   * @param id The blueprint id (required)
   * @param kind The blueprint kind (required)
   * @param tenant  (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return BlueprintControllerApiBlueprintItemWithSource
   * @throws ApiException if fails to make API call
   */
  public BlueprintControllerApiBlueprintItemWithSource blueprint(@jakarta.annotation.Nonnull String id, @jakarta.annotation.Nonnull BlueprintControllerKind kind, @jakarta.annotation.Nonnull String tenant, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling blueprint");
    }
    
    // verify the required parameter 'kind' is set
    if (kind == null) {
      throw new ApiException(400, "Missing the required parameter 'kind' when calling blueprint");
    }
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling blueprint");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/blueprints/community/{kind}/{id}"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)))
      .replaceAll("\\{" + "kind" + "\\}", apiClient.escapeString(apiClient.parameterToString(kind)))
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams =  new HashMap<String, Object>();
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] {  };

    TypeReference<BlueprintControllerApiBlueprintItemWithSource> localVarReturnType = new TypeReference<BlueprintControllerApiBlueprintItemWithSource>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }






  /**
   * Retrieve a blueprint graph
   * Retrieves the topology graph representation of a specific community blueprint.
   * @param id The blueprint id (required)
   * @param kind The blueprint kind (required)
   * @param tenant  (required)
   * @return Map&lt;String, Object&gt;
   * @throws ApiException if fails to make API call
   */
  public Map<String, Object> blueprintGraph(@jakarta.annotation.Nonnull String id, @jakarta.annotation.Nonnull BlueprintControllerKind kind, @jakarta.annotation.Nonnull String tenant) throws ApiException {
    return this.blueprintGraph(id, kind, tenant, Collections.emptyMap());
  }

  /**
   * Retrieve a blueprint graph
   * Retrieves the topology graph representation of a specific community blueprint.
   * @param id The blueprint id (required)
   * @param kind The blueprint kind (required)
   * @param tenant  (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return Map&lt;String, Object&gt;
   * @throws ApiException if fails to make API call
   */
  public Map<String, Object> blueprintGraph(@jakarta.annotation.Nonnull String id, @jakarta.annotation.Nonnull BlueprintControllerKind kind, @jakarta.annotation.Nonnull String tenant, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling blueprintGraph");
    }
    
    // verify the required parameter 'kind' is set
    if (kind == null) {
      throw new ApiException(400, "Missing the required parameter 'kind' when calling blueprintGraph");
    }
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling blueprintGraph");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/blueprints/community/{kind}/{id}/graph"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)))
      .replaceAll("\\{" + "kind" + "\\}", apiClient.escapeString(apiClient.parameterToString(kind)))
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams =  new HashMap<String, Object>();
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] {  };

    TypeReference<Map<String, Object>> localVarReturnType = new TypeReference<Map<String, Object>>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }






  /**
   * Retrieve a blueprint source code
   * Retrieves the YAML source code for a specific community blueprint.
   * @param id The blueprint id (required)
   * @param kind The blueprint kind (required)
   * @param tenant  (required)
   * @return String
   * @throws ApiException if fails to make API call
   */
  public String blueprintSource(@jakarta.annotation.Nonnull String id, @jakarta.annotation.Nonnull BlueprintControllerKind kind, @jakarta.annotation.Nonnull String tenant) throws ApiException {
    return this.blueprintSource(id, kind, tenant, Collections.emptyMap());
  }

  /**
   * Retrieve a blueprint source code
   * Retrieves the YAML source code for a specific community blueprint.
   * @param id The blueprint id (required)
   * @param kind The blueprint kind (required)
   * @param tenant  (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return String
   * @throws ApiException if fails to make API call
   */
  public String blueprintSource(@jakarta.annotation.Nonnull String id, @jakarta.annotation.Nonnull BlueprintControllerKind kind, @jakarta.annotation.Nonnull String tenant, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling blueprintSource");
    }
    
    // verify the required parameter 'kind' is set
    if (kind == null) {
      throw new ApiException(400, "Missing the required parameter 'kind' when calling blueprintSource");
    }
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling blueprintSource");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/blueprints/community/{kind}/{id}/source"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)))
      .replaceAll("\\{" + "kind" + "\\}", apiClient.escapeString(apiClient.parameterToString(kind)))
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams =  new HashMap<String, Object>();
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/yaml"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] {  };

    TypeReference<String> localVarReturnType = new TypeReference<String>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }






  /**
   * Create a Flow Blueprint
   * 
   * @param tenant  (required)
   * @param blueprintControllerFlowBlueprintCreateOrUpdate  (required)
   * @return BlueprintControllerApiFlowBlueprint
   * @throws ApiException if fails to make API call
   */
  public BlueprintControllerApiFlowBlueprint createFlowBlueprint(@jakarta.annotation.Nonnull String tenant, @jakarta.annotation.Nonnull BlueprintControllerFlowBlueprintCreateOrUpdate blueprintControllerFlowBlueprintCreateOrUpdate) throws ApiException {
    return this.createFlowBlueprint(tenant, blueprintControllerFlowBlueprintCreateOrUpdate, Collections.emptyMap());
  }

  /**
   * Create a Flow Blueprint
   * 
   * @param tenant  (required)
   * @param blueprintControllerFlowBlueprintCreateOrUpdate  (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return BlueprintControllerApiFlowBlueprint
   * @throws ApiException if fails to make API call
   */
  public BlueprintControllerApiFlowBlueprint createFlowBlueprint(@jakarta.annotation.Nonnull String tenant, @jakarta.annotation.Nonnull BlueprintControllerFlowBlueprintCreateOrUpdate blueprintControllerFlowBlueprintCreateOrUpdate, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = blueprintControllerFlowBlueprintCreateOrUpdate;
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling createFlowBlueprint");
    }
    
    // verify the required parameter 'blueprintControllerFlowBlueprintCreateOrUpdate' is set
    if (blueprintControllerFlowBlueprintCreateOrUpdate == null) {
      throw new ApiException(400, "Missing the required parameter 'blueprintControllerFlowBlueprintCreateOrUpdate' when calling createFlowBlueprint");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/blueprints/flows"
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams =  new HashMap<String, Object>();
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] {  };

    TypeReference<BlueprintControllerApiFlowBlueprint> localVarReturnType = new TypeReference<BlueprintControllerApiFlowBlueprint>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }






  /**
   * Create a new internal blueprint
   * Creates a new internal (custom) blueprint for the current tenant. Requires BLUEPRINT permission.
   * @param tenant  (required)
   * @param blueprintControllerApiBlueprintItemWithSource The internal blueprint to create (required)
   * @return BlueprintControllerApiBlueprintItemWithSource
   * @throws ApiException if fails to make API call
   * @deprecated
   */
  @Deprecated
  public BlueprintControllerApiBlueprintItemWithSource createInternalBlueprints(@jakarta.annotation.Nonnull String tenant, @jakarta.annotation.Nonnull BlueprintControllerApiBlueprintItemWithSource blueprintControllerApiBlueprintItemWithSource) throws ApiException {
    return this.createInternalBlueprints(tenant, blueprintControllerApiBlueprintItemWithSource, Collections.emptyMap());
  }

  /**
   * Create a new internal blueprint
   * Creates a new internal (custom) blueprint for the current tenant. Requires BLUEPRINT permission.
   * @param tenant  (required)
   * @param blueprintControllerApiBlueprintItemWithSource The internal blueprint to create (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return BlueprintControllerApiBlueprintItemWithSource
   * @throws ApiException if fails to make API call
   * @deprecated
   */
  @Deprecated
  public BlueprintControllerApiBlueprintItemWithSource createInternalBlueprints(@jakarta.annotation.Nonnull String tenant, @jakarta.annotation.Nonnull BlueprintControllerApiBlueprintItemWithSource blueprintControllerApiBlueprintItemWithSource, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = blueprintControllerApiBlueprintItemWithSource;
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling createInternalBlueprints");
    }
    
    // verify the required parameter 'blueprintControllerApiBlueprintItemWithSource' is set
    if (blueprintControllerApiBlueprintItemWithSource == null) {
      throw new ApiException(400, "Missing the required parameter 'blueprintControllerApiBlueprintItemWithSource' when calling createInternalBlueprints");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/blueprints/custom"
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams =  new HashMap<String, Object>();
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] {  };

    TypeReference<BlueprintControllerApiBlueprintItemWithSource> localVarReturnType = new TypeReference<BlueprintControllerApiBlueprintItemWithSource>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }






  /**
   * Delete an Flow Blueprint
   * Deletes an Flow Blueprint for the current tenant. Requires BLUEPRINT permission.
   * @param id The flow blueprint id to delete (required)
   * @param tenant  (required)
   * @throws ApiException if fails to make API call
   */
  public void deleteFlowBlueprints(@jakarta.annotation.Nonnull String id, @jakarta.annotation.Nonnull String tenant) throws ApiException {
    this.deleteFlowBlueprints(id, tenant, Collections.emptyMap());
  }

  /**
   * Delete an Flow Blueprint
   * Deletes an Flow Blueprint for the current tenant. Requires BLUEPRINT permission.
   * @param id The flow blueprint id to delete (required)
   * @param tenant  (required)
   * @param additionalHeaders additionalHeaders for this call
   * @throws ApiException if fails to make API call
   */
  public void deleteFlowBlueprints(@jakarta.annotation.Nonnull String id, @jakarta.annotation.Nonnull String tenant, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling deleteFlowBlueprints");
    }
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling deleteFlowBlueprints");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/blueprints/flows/{id}"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)))
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams =  new HashMap<String, Object>();
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] {  };

    apiClient.invokeAPI(
        localVarPath,
        "DELETE",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        null
    );
  }






  /**
   * Delete an internal blueprint
   * Deletes an internal (custom) blueprint for the current tenant. Requires BLUEPRINT permission.
   * @param id The internal blueprint id to delete (required)
   * @param tenant  (required)
   * @throws ApiException if fails to make API call
   * @deprecated
   */
  @Deprecated
  public void deleteInternalBlueprints(@jakarta.annotation.Nonnull String id, @jakarta.annotation.Nonnull String tenant) throws ApiException {
    this.deleteInternalBlueprints(id, tenant, Collections.emptyMap());
  }

  /**
   * Delete an internal blueprint
   * Deletes an internal (custom) blueprint for the current tenant. Requires BLUEPRINT permission.
   * @param id The internal blueprint id to delete (required)
   * @param tenant  (required)
   * @param additionalHeaders additionalHeaders for this call
   * @throws ApiException if fails to make API call
   * @deprecated
   */
  @Deprecated
  public void deleteInternalBlueprints(@jakarta.annotation.Nonnull String id, @jakarta.annotation.Nonnull String tenant, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling deleteInternalBlueprints");
    }
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling deleteInternalBlueprints");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/blueprints/custom/{id}"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)))
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams =  new HashMap<String, Object>();
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] {  };

    apiClient.invokeAPI(
        localVarPath,
        "DELETE",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        null
    );
  }






  /**
   * Retrieve an flow blueprint
   * Retrieves details of a specific flow blueprint. Requires BLUEPRINT permission.
   * @param id The blueprint id (required)
   * @param tenant  (required)
   * @return BlueprintControllerApiFlowBlueprint
   * @throws ApiException if fails to make API call
   */
  public BlueprintControllerApiFlowBlueprint flowBlueprint(@jakarta.annotation.Nonnull String id, @jakarta.annotation.Nonnull String tenant) throws ApiException {
    return this.flowBlueprint(id, tenant, Collections.emptyMap());
  }

  /**
   * Retrieve an flow blueprint
   * Retrieves details of a specific flow blueprint. Requires BLUEPRINT permission.
   * @param id The blueprint id (required)
   * @param tenant  (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return BlueprintControllerApiFlowBlueprint
   * @throws ApiException if fails to make API call
   */
  public BlueprintControllerApiFlowBlueprint flowBlueprint(@jakarta.annotation.Nonnull String id, @jakarta.annotation.Nonnull String tenant, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling flowBlueprint");
    }
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling flowBlueprint");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/blueprints/flow/{id}"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)))
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams =  new HashMap<String, Object>();
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] {  };

    TypeReference<BlueprintControllerApiFlowBlueprint> localVarReturnType = new TypeReference<BlueprintControllerApiFlowBlueprint>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }






  /**
   * Retrieve an flow blueprint
   * Retrieves details of a specific flow blueprint. Requires BLUEPRINT permission.
   * @param id The blueprint id (required)
   * @param tenant  (required)
   * @return BlueprintControllerApiFlowBlueprint
   * @throws ApiException if fails to make API call
   */
  public BlueprintControllerApiFlowBlueprint flowBlueprintById(@jakarta.annotation.Nonnull String id, @jakarta.annotation.Nonnull String tenant) throws ApiException {
    return this.flowBlueprintById(id, tenant, Collections.emptyMap());
  }

  /**
   * Retrieve an flow blueprint
   * Retrieves details of a specific flow blueprint. Requires BLUEPRINT permission.
   * @param id The blueprint id (required)
   * @param tenant  (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return BlueprintControllerApiFlowBlueprint
   * @throws ApiException if fails to make API call
   */
  public BlueprintControllerApiFlowBlueprint flowBlueprintById(@jakarta.annotation.Nonnull String id, @jakarta.annotation.Nonnull String tenant, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling flowBlueprintById");
    }
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling flowBlueprintById");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/blueprints/flows/{id}"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)))
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams =  new HashMap<String, Object>();
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] {  };

    TypeReference<BlueprintControllerApiFlowBlueprint> localVarReturnType = new TypeReference<BlueprintControllerApiFlowBlueprint>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }






  /**
   * Retrieve an internal blueprint
   * Retrieves details of a specific internal (custom) blueprint. Requires BLUEPRINT permission.
   * @param id The blueprint id (required)
   * @param tenant  (required)
   * @return BlueprintControllerApiFlowBlueprint
   * @throws ApiException if fails to make API call
   */
  public BlueprintControllerApiFlowBlueprint internalBlueprint(@jakarta.annotation.Nonnull String id, @jakarta.annotation.Nonnull String tenant) throws ApiException {
    return this.internalBlueprint(id, tenant, Collections.emptyMap());
  }

  /**
   * Retrieve an internal blueprint
   * Retrieves details of a specific internal (custom) blueprint. Requires BLUEPRINT permission.
   * @param id The blueprint id (required)
   * @param tenant  (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return BlueprintControllerApiFlowBlueprint
   * @throws ApiException if fails to make API call
   */
  public BlueprintControllerApiFlowBlueprint internalBlueprint(@jakarta.annotation.Nonnull String id, @jakarta.annotation.Nonnull String tenant, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling internalBlueprint");
    }
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling internalBlueprint");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/blueprints/custom/{id}"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)))
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams =  new HashMap<String, Object>();
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] {  };

    TypeReference<BlueprintControllerApiFlowBlueprint> localVarReturnType = new TypeReference<BlueprintControllerApiFlowBlueprint>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }






  /**
   * Retrieve an internal blueprint source code
   * Retrieves the YAML source code for a specific internal (custom) blueprint. Requires BLUEPRINT permission.
   * @param id The blueprint id (required)
   * @param tenant  (required)
   * @return String
   * @throws ApiException if fails to make API call
   */
  public String internalBlueprintFlow(@jakarta.annotation.Nonnull String id, @jakarta.annotation.Nonnull String tenant) throws ApiException {
    return this.internalBlueprintFlow(id, tenant, Collections.emptyMap());
  }

  /**
   * Retrieve an internal blueprint source code
   * Retrieves the YAML source code for a specific internal (custom) blueprint. Requires BLUEPRINT permission.
   * @param id The blueprint id (required)
   * @param tenant  (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return String
   * @throws ApiException if fails to make API call
   */
  public String internalBlueprintFlow(@jakarta.annotation.Nonnull String id, @jakarta.annotation.Nonnull String tenant, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling internalBlueprintFlow");
    }
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling internalBlueprintFlow");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/blueprints/custom/{id}/source"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)))
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams =  new HashMap<String, Object>();
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/yaml"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] {  };

    TypeReference<String> localVarReturnType = new TypeReference<String>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }






  /**
   * List all blueprints
   * Lists all community blueprints of the specified kind. Community blueprints are shared and versioned.
   * @param page The current page (required)
   * @param size The current page size (required)
   * @param kind The blueprint kind (required)
   * @param tenant  (required)
   * @param q A string filter (optional)
   * @param sort The sort of current page (optional)
   * @param tags A tags filter (optional)
   * @return PagedResultsBlueprintControllerApiBlueprintItem
   * @throws ApiException if fails to make API call
   */
  public PagedResultsBlueprintControllerApiBlueprintItem searchBlueprints(@jakarta.annotation.Nonnull Integer page, @jakarta.annotation.Nonnull Integer size, @jakarta.annotation.Nonnull BlueprintControllerKind kind, @jakarta.annotation.Nonnull String tenant, @jakarta.annotation.Nullable String q, @jakarta.annotation.Nullable String sort, @jakarta.annotation.Nullable List<String> tags) throws ApiException {
    return this.searchBlueprints(page, size, kind, tenant, q, sort, tags, Collections.emptyMap());
  }

  /**
   * List all blueprints
   * Lists all community blueprints of the specified kind. Community blueprints are shared and versioned.
   * @param page The current page (required)
   * @param size The current page size (required)
   * @param kind The blueprint kind (required)
   * @param tenant  (required)
   * @param q A string filter (optional)
   * @param sort The sort of current page (optional)
   * @param tags A tags filter (optional)
   * @param additionalHeaders additionalHeaders for this call
   * @return PagedResultsBlueprintControllerApiBlueprintItem
   * @throws ApiException if fails to make API call
   */
  public PagedResultsBlueprintControllerApiBlueprintItem searchBlueprints(@jakarta.annotation.Nonnull Integer page, @jakarta.annotation.Nonnull Integer size, @jakarta.annotation.Nonnull BlueprintControllerKind kind, @jakarta.annotation.Nonnull String tenant, @jakarta.annotation.Nullable String q, @jakarta.annotation.Nullable String sort, @jakarta.annotation.Nullable List<String> tags, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'page' is set
    if (page == null) {
      throw new ApiException(400, "Missing the required parameter 'page' when calling searchBlueprints");
    }
    
    // verify the required parameter 'size' is set
    if (size == null) {
      throw new ApiException(400, "Missing the required parameter 'size' when calling searchBlueprints");
    }
    
    // verify the required parameter 'kind' is set
    if (kind == null) {
      throw new ApiException(400, "Missing the required parameter 'kind' when calling searchBlueprints");
    }
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling searchBlueprints");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/blueprints/community/{kind}"
      .replaceAll("\\{" + "kind" + "\\}", apiClient.escapeString(apiClient.parameterToString(kind)))
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams =  new HashMap<String, Object>();
    localVarQueryParams.addAll(apiClient.parameterToPair("q", q));
    localVarQueryParams.addAll(apiClient.parameterToPair("sort", sort));
    localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("csv", "tags", tags));
    localVarQueryParams.addAll(apiClient.parameterToPair("page", page));
    localVarQueryParams.addAll(apiClient.parameterToPair("size", size));
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] {  };

    TypeReference<PagedResultsBlueprintControllerApiBlueprintItem> localVarReturnType = new TypeReference<PagedResultsBlueprintControllerApiBlueprintItem>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }






  /**
   * List all internal blueprints
   * Lists all internal (custom) blueprints for the current tenant. Requires BLUEPRINT permission.
   * @param page The current page (required)
   * @param size The current page size (required)
   * @param tenant  (required)
   * @param q A string filter (optional)
   * @param sort The sort of current page (optional)
   * @param tags A tags filter (optional)
   * @return PagedResultsBlueprint
   * @throws ApiException if fails to make API call
   */
  public PagedResultsBlueprint searchInternalBlueprints(@jakarta.annotation.Nonnull Integer page, @jakarta.annotation.Nonnull Integer size, @jakarta.annotation.Nonnull String tenant, @jakarta.annotation.Nullable String q, @jakarta.annotation.Nullable String sort, @jakarta.annotation.Nullable List<String> tags) throws ApiException {
    return this.searchInternalBlueprints(page, size, tenant, q, sort, tags, Collections.emptyMap());
  }

  /**
   * List all internal blueprints
   * Lists all internal (custom) blueprints for the current tenant. Requires BLUEPRINT permission.
   * @param page The current page (required)
   * @param size The current page size (required)
   * @param tenant  (required)
   * @param q A string filter (optional)
   * @param sort The sort of current page (optional)
   * @param tags A tags filter (optional)
   * @param additionalHeaders additionalHeaders for this call
   * @return PagedResultsBlueprint
   * @throws ApiException if fails to make API call
   */
  public PagedResultsBlueprint searchInternalBlueprints(@jakarta.annotation.Nonnull Integer page, @jakarta.annotation.Nonnull Integer size, @jakarta.annotation.Nonnull String tenant, @jakarta.annotation.Nullable String q, @jakarta.annotation.Nullable String sort, @jakarta.annotation.Nullable List<String> tags, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'page' is set
    if (page == null) {
      throw new ApiException(400, "Missing the required parameter 'page' when calling searchInternalBlueprints");
    }
    
    // verify the required parameter 'size' is set
    if (size == null) {
      throw new ApiException(400, "Missing the required parameter 'size' when calling searchInternalBlueprints");
    }
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling searchInternalBlueprints");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/blueprints/custom"
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams =  new HashMap<String, Object>();
    localVarQueryParams.addAll(apiClient.parameterToPair("q", q));
    localVarQueryParams.addAll(apiClient.parameterToPair("sort", sort));
    localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("csv", "tags", tags));
    localVarQueryParams.addAll(apiClient.parameterToPair("page", page));
    localVarQueryParams.addAll(apiClient.parameterToPair("size", size));
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] {  };

    TypeReference<PagedResultsBlueprint> localVarReturnType = new TypeReference<PagedResultsBlueprint>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }






  /**
   * Update a Flow Blueprint
   * 
   * @param id The flow blueprint id to update (required)
   * @param tenant  (required)
   * @param blueprintControllerFlowBlueprintCreateOrUpdate  (required)
   * @return BlueprintControllerApiFlowBlueprint
   * @throws ApiException if fails to make API call
   */
  public BlueprintControllerApiFlowBlueprint updateFlowBlueprint(@jakarta.annotation.Nonnull String id, @jakarta.annotation.Nonnull String tenant, @jakarta.annotation.Nonnull BlueprintControllerFlowBlueprintCreateOrUpdate blueprintControllerFlowBlueprintCreateOrUpdate) throws ApiException {
    return this.updateFlowBlueprint(id, tenant, blueprintControllerFlowBlueprintCreateOrUpdate, Collections.emptyMap());
  }

  /**
   * Update a Flow Blueprint
   * 
   * @param id The flow blueprint id to update (required)
   * @param tenant  (required)
   * @param blueprintControllerFlowBlueprintCreateOrUpdate  (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return BlueprintControllerApiFlowBlueprint
   * @throws ApiException if fails to make API call
   */
  public BlueprintControllerApiFlowBlueprint updateFlowBlueprint(@jakarta.annotation.Nonnull String id, @jakarta.annotation.Nonnull String tenant, @jakarta.annotation.Nonnull BlueprintControllerFlowBlueprintCreateOrUpdate blueprintControllerFlowBlueprintCreateOrUpdate, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = blueprintControllerFlowBlueprintCreateOrUpdate;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling updateFlowBlueprint");
    }
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling updateFlowBlueprint");
    }
    
    // verify the required parameter 'blueprintControllerFlowBlueprintCreateOrUpdate' is set
    if (blueprintControllerFlowBlueprintCreateOrUpdate == null) {
      throw new ApiException(400, "Missing the required parameter 'blueprintControllerFlowBlueprintCreateOrUpdate' when calling updateFlowBlueprint");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/blueprints/flows/{id}"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)))
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams =  new HashMap<String, Object>();
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] {  };

    TypeReference<BlueprintControllerApiFlowBlueprint> localVarReturnType = new TypeReference<BlueprintControllerApiFlowBlueprint>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "PUT",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }






  /**
   * Update an internal blueprint
   * Updates an existing internal (custom) blueprint for the current tenant. Requires BLUEPRINT permission.
   * @param id The id of the internal blueprint to update (required)
   * @param tenant  (required)
   * @param blueprintControllerApiBlueprintItemWithSource The new internal blueprint for update (required)
   * @return BlueprintWithFlowEntity
   * @throws ApiException if fails to make API call
   * @deprecated
   */
  @Deprecated
  public BlueprintWithFlowEntity updateInternalBlueprints(@jakarta.annotation.Nonnull String id, @jakarta.annotation.Nonnull String tenant, @jakarta.annotation.Nonnull BlueprintControllerApiBlueprintItemWithSource blueprintControllerApiBlueprintItemWithSource) throws ApiException {
    return this.updateInternalBlueprints(id, tenant, blueprintControllerApiBlueprintItemWithSource, Collections.emptyMap());
  }

  /**
   * Update an internal blueprint
   * Updates an existing internal (custom) blueprint for the current tenant. Requires BLUEPRINT permission.
   * @param id The id of the internal blueprint to update (required)
   * @param tenant  (required)
   * @param blueprintControllerApiBlueprintItemWithSource The new internal blueprint for update (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return BlueprintWithFlowEntity
   * @throws ApiException if fails to make API call
   * @deprecated
   */
  @Deprecated
  public BlueprintWithFlowEntity updateInternalBlueprints(@jakarta.annotation.Nonnull String id, @jakarta.annotation.Nonnull String tenant, @jakarta.annotation.Nonnull BlueprintControllerApiBlueprintItemWithSource blueprintControllerApiBlueprintItemWithSource, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = blueprintControllerApiBlueprintItemWithSource;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling updateInternalBlueprints");
    }
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling updateInternalBlueprints");
    }
    
    // verify the required parameter 'blueprintControllerApiBlueprintItemWithSource' is set
    if (blueprintControllerApiBlueprintItemWithSource == null) {
      throw new ApiException(400, "Missing the required parameter 'blueprintControllerApiBlueprintItemWithSource' when calling updateInternalBlueprints");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/blueprints/custom/{id}"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)))
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams =  new HashMap<String, Object>();
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] {  };

    TypeReference<BlueprintWithFlowEntity> localVarReturnType = new TypeReference<BlueprintWithFlowEntity>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "PUT",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }






  /**
   * Use a Flow Blueprint template to generate a Flow source
   * 
   * @param id The flow blueprint id to use (required)
   * @param tenant  (required)
   * @param blueprintControllerUseBlueprintTemplateRequest  (required)
   * @return BlueprintControllerUseBlueprintTemplateResponse
   * @throws ApiException if fails to make API call
   */
  public BlueprintControllerUseBlueprintTemplateResponse useBlueprintTemplate(@jakarta.annotation.Nonnull String id, @jakarta.annotation.Nonnull String tenant, @jakarta.annotation.Nonnull BlueprintControllerUseBlueprintTemplateRequest blueprintControllerUseBlueprintTemplateRequest) throws ApiException {
    return this.useBlueprintTemplate(id, tenant, blueprintControllerUseBlueprintTemplateRequest, Collections.emptyMap());
  }

  /**
   * Use a Flow Blueprint template to generate a Flow source
   * 
   * @param id The flow blueprint id to use (required)
   * @param tenant  (required)
   * @param blueprintControllerUseBlueprintTemplateRequest  (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return BlueprintControllerUseBlueprintTemplateResponse
   * @throws ApiException if fails to make API call
   */
  public BlueprintControllerUseBlueprintTemplateResponse useBlueprintTemplate(@jakarta.annotation.Nonnull String id, @jakarta.annotation.Nonnull String tenant, @jakarta.annotation.Nonnull BlueprintControllerUseBlueprintTemplateRequest blueprintControllerUseBlueprintTemplateRequest, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = blueprintControllerUseBlueprintTemplateRequest;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling useBlueprintTemplate");
    }
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling useBlueprintTemplate");
    }
    
    // verify the required parameter 'blueprintControllerUseBlueprintTemplateRequest' is set
    if (blueprintControllerUseBlueprintTemplateRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'blueprintControllerUseBlueprintTemplateRequest' when calling useBlueprintTemplate");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/blueprints/flows/{id}/use-template"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)))
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams =  new HashMap<String, Object>();
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] {  };

    TypeReference<BlueprintControllerUseBlueprintTemplateResponse> localVarReturnType = new TypeReference<BlueprintControllerUseBlueprintTemplateResponse>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  @Override
  public <T> T invokeAPI(String url, String method, Object request, TypeReference<T> returnType, Map<String, String> additionalHeaders) throws ApiException {
    String localVarPath = url.replace(apiClient.getBaseURL(), "");
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarHeaderParams.putAll(additionalHeaders);

    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] {  };

    return apiClient.invokeAPI(
      localVarPath,
        method,
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        request,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        returnType
    );
  }





}
