/*
 * Kestra EE
 * All API operations, except for Superadmin-only endpoints, require a tenant identifier in the HTTP path.<br/> Endpoints designated as Superadmin-only are not tenant-scoped.
 *
 * The version of the OpenAPI document: 1.1.4
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package io.kestra.sdk.api;

// Custom imports for injected code
import java.io.IOException;
import java.io.InputStreamReader;
import java.nio.charset.StandardCharsets;
import reactor.core.publisher.Flux;
import java.io.BufferedReader;

import com.fasterxml.jackson.core.type.TypeReference;

import io.kestra.sdk.internal.ApiException;
import io.kestra.sdk.internal.ApiClient;
import io.kestra.sdk.internal.BaseApi;
import io.kestra.sdk.internal.Configuration;
import io.kestra.sdk.internal.Pair;

import io.kestra.sdk.model.BulkResponse;
import io.kestra.sdk.model.ConcurrencyLimit;
import io.kestra.sdk.model.EventExecution;
import io.kestra.sdk.model.Execution;
import io.kestra.sdk.model.ExecutionStatusEvent;
import io.kestra.sdk.model.ExecutionControllerExecutionResponse;
import io.kestra.sdk.model.ExecutionControllerLastExecutionResponse;
import io.kestra.sdk.model.ExecutionControllerSetLabelsByIdsRequest;
import io.kestra.sdk.model.ExecutionControllerWebhookResponse;
import io.kestra.sdk.model.ExecutionKind;
import io.kestra.sdk.model.ExecutionRepositoryInterfaceFlowFilter;
import java.io.File;
import io.kestra.sdk.model.FileMetas;
import io.kestra.sdk.model.FlowForExecution;
import io.kestra.sdk.model.FlowGraph;
import io.kestra.sdk.model.Label;
import java.time.OffsetDateTime;
import io.kestra.sdk.model.PagedResultsConcurrencyLimit;
import io.kestra.sdk.model.PagedResultsExecution;
import io.kestra.sdk.model.QueryFilter;
import io.kestra.sdk.model.StateType;
import java.net.URI;


import java.util.ArrayList;
import java.util.Collections;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.StringJoiner;

@jakarta.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.16.0")public class ExecutionsApi extends BaseApi {

  public ExecutionsApi() {
    super(Configuration.getDefaultApiClient());
  }

  public ExecutionsApi(ApiClient apiClient) {
    super(apiClient);
  }

  /**
   * Create a new execution for a flow
   * 
   * @param namespace The flow namespace (required)
   * @param id The flow id (required)
   * @param wait If the server will wait the end of the execution (required)
   * @param tenant  (required)
   * @param labels The labels as a list of &#39;key:value&#39; (optional)
   * @param revision The flow revision or latest if null (optional)
   * @param scheduleDate Schedule the flow on a specific date (optional)
   * @param breakpoints Set a list of breakpoints at specific tasks &#39;id.value&#39;, separated by a coma. (optional)
   * @param kind Specific execution kind (optional)
   * @return ExecutionControllerExecutionResponse
   * @throws ApiException if fails to make API call
   */
  public ExecutionControllerExecutionResponse createExecution(@jakarta.annotation.Nonnull String namespace, @jakarta.annotation.Nonnull String id, @jakarta.annotation.Nonnull Boolean wait, @jakarta.annotation.Nonnull String tenant, @jakarta.annotation.Nullable List<String> labels, @jakarta.annotation.Nullable Integer revision, @jakarta.annotation.Nullable OffsetDateTime scheduleDate, @jakarta.annotation.Nullable String breakpoints, @jakarta.annotation.Nullable ExecutionKind kind) throws ApiException {
    return this.createExecution(namespace, id, wait, tenant, labels, revision, scheduleDate, breakpoints, kind, Collections.emptyMap(), null);
  }
  public ExecutionControllerExecutionResponse createExecution(@jakarta.annotation.Nonnull String namespace, @jakarta.annotation.Nonnull String id, @jakarta.annotation.Nonnull Boolean wait, @jakarta.annotation.Nonnull String tenant, @jakarta.annotation.Nullable List<String> labels, @jakarta.annotation.Nullable Integer revision, @jakarta.annotation.Nullable OffsetDateTime scheduleDate, @jakarta.annotation.Nullable String breakpoints, @jakarta.annotation.Nullable ExecutionKind kind, HashMap<String, Object> additionalFormDatas)  throws ApiException {
  return this.createExecution(namespace, id, wait, tenant, labels, revision, scheduleDate, breakpoints, kind, Collections.emptyMap(), additionalFormDatas);
  }

  /**
   * Create a new execution for a flow
   * 
   * @param namespace The flow namespace (required)
   * @param id The flow id (required)
   * @param wait If the server will wait the end of the execution (required)
   * @param tenant  (required)
   * @param labels The labels as a list of &#39;key:value&#39; (optional)
   * @param revision The flow revision or latest if null (optional)
   * @param scheduleDate Schedule the flow on a specific date (optional)
   * @param breakpoints Set a list of breakpoints at specific tasks &#39;id.value&#39;, separated by a coma. (optional)
   * @param kind Specific execution kind (optional)
   * @param additionalHeaders additionalHeaders for this call
   * @return ExecutionControllerExecutionResponse
   * @throws ApiException if fails to make API call
   */
  public ExecutionControllerExecutionResponse createExecution(@jakarta.annotation.Nonnull String namespace, @jakarta.annotation.Nonnull String id, @jakarta.annotation.Nonnull Boolean wait, @jakarta.annotation.Nonnull String tenant, @jakarta.annotation.Nullable List<String> labels, @jakarta.annotation.Nullable Integer revision, @jakarta.annotation.Nullable OffsetDateTime scheduleDate, @jakarta.annotation.Nullable String breakpoints, @jakarta.annotation.Nullable ExecutionKind kind, Map<String, String> additionalHeaders, HashMap<String, Object> additionalFormDatas) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'namespace' is set
    if (namespace == null) {
      throw new ApiException(400, "Missing the required parameter 'namespace' when calling createExecution");
    }
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling createExecution");
    }
    
    // verify the required parameter 'wait' is set
    if (wait == null) {
      throw new ApiException(400, "Missing the required parameter 'wait' when calling createExecution");
    }
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling createExecution");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/executions/{namespace}/{id}"
      .replaceAll("\\{" + "namespace" + "\\}", apiClient.escapeString(apiClient.parameterToString(namespace)))
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)))
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = additionalFormDatas != null ? new HashMap<String, Object>(additionalFormDatas) : new HashMap<String, Object>();
    localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "labels", labels));
    localVarQueryParams.addAll(apiClient.parameterToPair("wait", wait));
    localVarQueryParams.addAll(apiClient.parameterToPair("revision", revision));
    localVarQueryParams.addAll(apiClient.parameterToPair("scheduleDate", scheduleDate));
    localVarQueryParams.addAll(apiClient.parameterToPair("breakpoints", breakpoints));
    localVarQueryParams.addAll(apiClient.parameterToPair("kind", kind));
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "multipart/form-data"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<ExecutionControllerExecutionResponse> localVarReturnType = new TypeReference<ExecutionControllerExecutionResponse>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }






  /**
   * Delete an execution
   * 
   * @param executionId The execution id (required)
   * @param tenant  (required)
   * @param deleteLogs Whether to delete execution logs (optional, default to true)
   * @param deleteMetrics Whether to delete execution metrics (optional, default to true)
   * @param deleteStorage Whether to delete execution files in the internal storage (optional, default to true)
   * @throws ApiException if fails to make API call
   */
  public void deleteExecution(@jakarta.annotation.Nonnull String executionId, @jakarta.annotation.Nonnull String tenant, @jakarta.annotation.Nullable Boolean deleteLogs, @jakarta.annotation.Nullable Boolean deleteMetrics, @jakarta.annotation.Nullable Boolean deleteStorage) throws ApiException {
    this.deleteExecution(executionId, tenant, deleteLogs, deleteMetrics, deleteStorage, Collections.emptyMap());
  }

  /**
   * Delete an execution
   * 
   * @param executionId The execution id (required)
   * @param tenant  (required)
   * @param deleteLogs Whether to delete execution logs (optional, default to true)
   * @param deleteMetrics Whether to delete execution metrics (optional, default to true)
   * @param deleteStorage Whether to delete execution files in the internal storage (optional, default to true)
   * @param additionalHeaders additionalHeaders for this call
   * @throws ApiException if fails to make API call
   */
  public void deleteExecution(@jakarta.annotation.Nonnull String executionId, @jakarta.annotation.Nonnull String tenant, @jakarta.annotation.Nullable Boolean deleteLogs, @jakarta.annotation.Nullable Boolean deleteMetrics, @jakarta.annotation.Nullable Boolean deleteStorage, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'executionId' is set
    if (executionId == null) {
      throw new ApiException(400, "Missing the required parameter 'executionId' when calling deleteExecution");
    }
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling deleteExecution");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/executions/{executionId}"
      .replaceAll("\\{" + "executionId" + "\\}", apiClient.escapeString(apiClient.parameterToString(executionId)))
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams =  new HashMap<String, Object>();
    localVarQueryParams.addAll(apiClient.parameterToPair("deleteLogs", deleteLogs));
    localVarQueryParams.addAll(apiClient.parameterToPair("deleteMetrics", deleteMetrics));
    localVarQueryParams.addAll(apiClient.parameterToPair("deleteStorage", deleteStorage));
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    apiClient.invokeAPI(
        localVarPath,
        "DELETE",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        null
    );
  }






  /**
   * Delete a list of executions
   * 
   * @param tenant  (required)
   * @param requestBody The execution id (required)
   * @param includeNonTerminated Whether to delete non-terminated executions (optional, default to false)
   * @param deleteLogs Whether to delete execution logs (optional, default to true)
   * @param deleteMetrics Whether to delete execution metrics (optional, default to true)
   * @param deleteStorage Whether to delete execution files in the internal storage (optional, default to true)
   * @return BulkResponse
   * @throws ApiException if fails to make API call
   */
  public BulkResponse deleteExecutionsByIds(@jakarta.annotation.Nonnull String tenant, @jakarta.annotation.Nonnull List<String> requestBody, @jakarta.annotation.Nullable Boolean includeNonTerminated, @jakarta.annotation.Nullable Boolean deleteLogs, @jakarta.annotation.Nullable Boolean deleteMetrics, @jakarta.annotation.Nullable Boolean deleteStorage) throws ApiException {
    return this.deleteExecutionsByIds(tenant, requestBody, includeNonTerminated, deleteLogs, deleteMetrics, deleteStorage, Collections.emptyMap());
  }

  /**
   * Delete a list of executions
   * 
   * @param tenant  (required)
   * @param requestBody The execution id (required)
   * @param includeNonTerminated Whether to delete non-terminated executions (optional, default to false)
   * @param deleteLogs Whether to delete execution logs (optional, default to true)
   * @param deleteMetrics Whether to delete execution metrics (optional, default to true)
   * @param deleteStorage Whether to delete execution files in the internal storage (optional, default to true)
   * @param additionalHeaders additionalHeaders for this call
   * @return BulkResponse
   * @throws ApiException if fails to make API call
   */
  public BulkResponse deleteExecutionsByIds(@jakarta.annotation.Nonnull String tenant, @jakarta.annotation.Nonnull List<String> requestBody, @jakarta.annotation.Nullable Boolean includeNonTerminated, @jakarta.annotation.Nullable Boolean deleteLogs, @jakarta.annotation.Nullable Boolean deleteMetrics, @jakarta.annotation.Nullable Boolean deleteStorage, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = requestBody;
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling deleteExecutionsByIds");
    }
    
    // verify the required parameter 'requestBody' is set
    if (requestBody == null) {
      throw new ApiException(400, "Missing the required parameter 'requestBody' when calling deleteExecutionsByIds");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/executions/by-ids"
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams =  new HashMap<String, Object>();
    localVarQueryParams.addAll(apiClient.parameterToPair("includeNonTerminated", includeNonTerminated));
    localVarQueryParams.addAll(apiClient.parameterToPair("deleteLogs", deleteLogs));
    localVarQueryParams.addAll(apiClient.parameterToPair("deleteMetrics", deleteMetrics));
    localVarQueryParams.addAll(apiClient.parameterToPair("deleteStorage", deleteStorage));
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<BulkResponse> localVarReturnType = new TypeReference<BulkResponse>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "DELETE",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }






  /**
   * Delete executions filter by query parameters
   * 
   * @param tenant  (required)
   * @param filters Filters (optional)
   * @param includeNonTerminated Whether to delete non-terminated executions (optional, default to false)
   * @param deleteLogs Whether to delete execution logs (optional, default to true)
   * @param deleteMetrics Whether to delete execution metrics (optional, default to true)
   * @param deleteStorage Whether to delete execution files in the internal storage (optional, default to true)
   * @return Object
   * @throws ApiException if fails to make API call
   */
  public Object deleteExecutionsByQuery(@jakarta.annotation.Nonnull String tenant, @jakarta.annotation.Nullable List<QueryFilter> filters, @jakarta.annotation.Nullable Boolean includeNonTerminated, @jakarta.annotation.Nullable Boolean deleteLogs, @jakarta.annotation.Nullable Boolean deleteMetrics, @jakarta.annotation.Nullable Boolean deleteStorage) throws ApiException {
    return this.deleteExecutionsByQuery(tenant, filters, includeNonTerminated, deleteLogs, deleteMetrics, deleteStorage, Collections.emptyMap());
  }

  /**
   * Delete executions filter by query parameters
   * 
   * @param tenant  (required)
   * @param filters Filters (optional)
   * @param includeNonTerminated Whether to delete non-terminated executions (optional, default to false)
   * @param deleteLogs Whether to delete execution logs (optional, default to true)
   * @param deleteMetrics Whether to delete execution metrics (optional, default to true)
   * @param deleteStorage Whether to delete execution files in the internal storage (optional, default to true)
   * @param additionalHeaders additionalHeaders for this call
   * @return Object
   * @throws ApiException if fails to make API call
   */
  public Object deleteExecutionsByQuery(@jakarta.annotation.Nonnull String tenant, @jakarta.annotation.Nullable List<QueryFilter> filters, @jakarta.annotation.Nullable Boolean includeNonTerminated, @jakarta.annotation.Nullable Boolean deleteLogs, @jakarta.annotation.Nullable Boolean deleteMetrics, @jakarta.annotation.Nullable Boolean deleteStorage, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling deleteExecutionsByQuery");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/executions/by-query"
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams =  new HashMap<String, Object>();
    localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("csv", "filters", filters));
    localVarQueryParams.addAll(apiClient.parameterToPair("includeNonTerminated", includeNonTerminated));
    localVarQueryParams.addAll(apiClient.parameterToPair("deleteLogs", deleteLogs));
    localVarQueryParams.addAll(apiClient.parameterToPair("deleteMetrics", deleteMetrics));
    localVarQueryParams.addAll(apiClient.parameterToPair("deleteStorage", deleteStorage));
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<Object> localVarReturnType = new TypeReference<Object>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "DELETE",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }






  /**
   * Download file for an execution
   * 
   * @param executionId The execution id (required)
   * @param path The internal storage uri (required)
   * @param tenant  (required)
   * @return File
   * @throws ApiException if fails to make API call
   */
  public File downloadFileFromExecution(@jakarta.annotation.Nonnull String executionId, @jakarta.annotation.Nonnull URI path, @jakarta.annotation.Nonnull String tenant) throws ApiException {
    return this.downloadFileFromExecution(executionId, path, tenant, Collections.emptyMap());
  }

  /**
   * Download file for an execution
   * 
   * @param executionId The execution id (required)
   * @param path The internal storage uri (required)
   * @param tenant  (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return File
   * @throws ApiException if fails to make API call
   */
  public File downloadFileFromExecution(@jakarta.annotation.Nonnull String executionId, @jakarta.annotation.Nonnull URI path, @jakarta.annotation.Nonnull String tenant, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'executionId' is set
    if (executionId == null) {
      throw new ApiException(400, "Missing the required parameter 'executionId' when calling downloadFileFromExecution");
    }
    
    // verify the required parameter 'path' is set
    if (path == null) {
      throw new ApiException(400, "Missing the required parameter 'path' when calling downloadFileFromExecution");
    }
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling downloadFileFromExecution");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/executions/{executionId}/file"
      .replaceAll("\\{" + "executionId" + "\\}", apiClient.escapeString(apiClient.parameterToString(executionId)))
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams =  new HashMap<String, Object>();
    localVarQueryParams.addAll(apiClient.parameterToPair("path", path));
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/octet-stream"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<File> localVarReturnType = new TypeReference<File>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }






  /**
   * Get an execution
   * 
   * @param executionId The execution id (required)
   * @param tenant  (required)
   * @return Execution
   * @throws ApiException if fails to make API call
   */
  public Execution execution(@jakarta.annotation.Nonnull String executionId, @jakarta.annotation.Nonnull String tenant) throws ApiException {
    return this.execution(executionId, tenant, Collections.emptyMap());
  }

  /**
   * Get an execution
   * 
   * @param executionId The execution id (required)
   * @param tenant  (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return Execution
   * @throws ApiException if fails to make API call
   */
  public Execution execution(@jakarta.annotation.Nonnull String executionId, @jakarta.annotation.Nonnull String tenant, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'executionId' is set
    if (executionId == null) {
      throw new ApiException(400, "Missing the required parameter 'executionId' when calling execution");
    }
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling execution");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/executions/{executionId}"
      .replaceAll("\\{" + "executionId" + "\\}", apiClient.escapeString(apiClient.parameterToString(executionId)))
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams =  new HashMap<String, Object>();
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<Execution> localVarReturnType = new TypeReference<Execution>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }






  /**
   * Generate a graph for an execution
   * 
   * @param executionId The execution id (required)
   * @param tenant  (required)
   * @param subflows The subflow tasks to display (optional)
   * @return FlowGraph
   * @throws ApiException if fails to make API call
   */
  public FlowGraph executionFlowGraph(@jakarta.annotation.Nonnull String executionId, @jakarta.annotation.Nonnull String tenant, @jakarta.annotation.Nullable List<String> subflows) throws ApiException {
    return this.executionFlowGraph(executionId, tenant, subflows, Collections.emptyMap());
  }

  /**
   * Generate a graph for an execution
   * 
   * @param executionId The execution id (required)
   * @param tenant  (required)
   * @param subflows The subflow tasks to display (optional)
   * @param additionalHeaders additionalHeaders for this call
   * @return FlowGraph
   * @throws ApiException if fails to make API call
   */
  public FlowGraph executionFlowGraph(@jakarta.annotation.Nonnull String executionId, @jakarta.annotation.Nonnull String tenant, @jakarta.annotation.Nullable List<String> subflows, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'executionId' is set
    if (executionId == null) {
      throw new ApiException(400, "Missing the required parameter 'executionId' when calling executionFlowGraph");
    }
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling executionFlowGraph");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/executions/{executionId}/graph"
      .replaceAll("\\{" + "executionId" + "\\}", apiClient.escapeString(apiClient.parameterToString(executionId)))
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams =  new HashMap<String, Object>();
    localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("csv", "subflows", subflows));
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<FlowGraph> localVarReturnType = new TypeReference<FlowGraph>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }






  /**
   * Get file meta information for an execution
   * 
   * @param executionId The execution id (required)
   * @param path The internal storage uri (required)
   * @param tenant  (required)
   * @return FileMetas
   * @throws ApiException if fails to make API call
   */
  public FileMetas fileMetadatasFromExecution(@jakarta.annotation.Nonnull String executionId, @jakarta.annotation.Nonnull URI path, @jakarta.annotation.Nonnull String tenant) throws ApiException {
    return this.fileMetadatasFromExecution(executionId, path, tenant, Collections.emptyMap());
  }

  /**
   * Get file meta information for an execution
   * 
   * @param executionId The execution id (required)
   * @param path The internal storage uri (required)
   * @param tenant  (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return FileMetas
   * @throws ApiException if fails to make API call
   */
  public FileMetas fileMetadatasFromExecution(@jakarta.annotation.Nonnull String executionId, @jakarta.annotation.Nonnull URI path, @jakarta.annotation.Nonnull String tenant, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'executionId' is set
    if (executionId == null) {
      throw new ApiException(400, "Missing the required parameter 'executionId' when calling fileMetadatasFromExecution");
    }
    
    // verify the required parameter 'path' is set
    if (path == null) {
      throw new ApiException(400, "Missing the required parameter 'path' when calling fileMetadatasFromExecution");
    }
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling fileMetadatasFromExecution");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/executions/{executionId}/file/metas"
      .replaceAll("\\{" + "executionId" + "\\}", apiClient.escapeString(apiClient.parameterToString(executionId)))
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams =  new HashMap<String, Object>();
    localVarQueryParams.addAll(apiClient.parameterToPair("path", path));
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<FileMetas> localVarReturnType = new TypeReference<FileMetas>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }






  /**
   * Get flow information&#39;s for an execution
   * 
   * @param namespace The namespace of the flow (required)
   * @param flowId The flow id (required)
   * @param tenant  (required)
   * @param revision The flow revision (optional)
   * @return FlowForExecution
   * @throws ApiException if fails to make API call
   */
  public FlowForExecution flowFromExecution(@jakarta.annotation.Nonnull String namespace, @jakarta.annotation.Nonnull String flowId, @jakarta.annotation.Nonnull String tenant, @jakarta.annotation.Nullable Integer revision) throws ApiException {
    return this.flowFromExecution(namespace, flowId, tenant, revision, Collections.emptyMap());
  }

  /**
   * Get flow information&#39;s for an execution
   * 
   * @param namespace The namespace of the flow (required)
   * @param flowId The flow id (required)
   * @param tenant  (required)
   * @param revision The flow revision (optional)
   * @param additionalHeaders additionalHeaders for this call
   * @return FlowForExecution
   * @throws ApiException if fails to make API call
   */
  public FlowForExecution flowFromExecution(@jakarta.annotation.Nonnull String namespace, @jakarta.annotation.Nonnull String flowId, @jakarta.annotation.Nonnull String tenant, @jakarta.annotation.Nullable Integer revision, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'namespace' is set
    if (namespace == null) {
      throw new ApiException(400, "Missing the required parameter 'namespace' when calling flowFromExecution");
    }
    
    // verify the required parameter 'flowId' is set
    if (flowId == null) {
      throw new ApiException(400, "Missing the required parameter 'flowId' when calling flowFromExecution");
    }
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling flowFromExecution");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/executions/flows/{namespace}/{flowId}"
      .replaceAll("\\{" + "namespace" + "\\}", apiClient.escapeString(apiClient.parameterToString(namespace)))
      .replaceAll("\\{" + "flowId" + "\\}", apiClient.escapeString(apiClient.parameterToString(flowId)))
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams =  new HashMap<String, Object>();
    localVarQueryParams.addAll(apiClient.parameterToPair("revision", revision));
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<FlowForExecution> localVarReturnType = new TypeReference<FlowForExecution>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }






  /**
   * Get flow information&#39;s for an execution
   * 
   * @param executionId The execution that you want flow informations (required)
   * @param tenant  (required)
   * @return FlowForExecution
   * @throws ApiException if fails to make API call
   */
  public FlowForExecution flowFromExecutionById(@jakarta.annotation.Nonnull String executionId, @jakarta.annotation.Nonnull String tenant) throws ApiException {
    return this.flowFromExecutionById(executionId, tenant, Collections.emptyMap());
  }

  /**
   * Get flow information&#39;s for an execution
   * 
   * @param executionId The execution that you want flow informations (required)
   * @param tenant  (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return FlowForExecution
   * @throws ApiException if fails to make API call
   */
  public FlowForExecution flowFromExecutionById(@jakarta.annotation.Nonnull String executionId, @jakarta.annotation.Nonnull String tenant, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'executionId' is set
    if (executionId == null) {
      throw new ApiException(400, "Missing the required parameter 'executionId' when calling flowFromExecutionById");
    }
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling flowFromExecutionById");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/executions/{executionId}/flow"
      .replaceAll("\\{" + "executionId" + "\\}", apiClient.escapeString(apiClient.parameterToString(executionId)))
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams =  new HashMap<String, Object>();
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<FlowForExecution> localVarReturnType = new TypeReference<FlowForExecution>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }










  public Flux<ExecutionStatusEvent> followDependenciesExecution(@javax.annotation.Nonnull String executionId, @javax.annotation.Nonnull String tenant, boolean destinationOnly, boolean expandAll) throws ApiException {
    return Flux.create(sink -> {
      org.apache.hc.client5.http.impl.classic.CloseableHttpResponse response = null;
      BufferedReader reader = null;

      try {
        response = _followDependenciesExecutions(executionId, tenant, Collections.emptyMap(), destinationOnly, expandAll);
        java.io.InputStream is = response.getEntity().getContent();
        reader = new BufferedReader(new InputStreamReader(is, StandardCharsets.UTF_8));

        String line;
        StringBuilder dataBuffer = new StringBuilder();

        while (!sink.isCancelled() && (line = reader.readLine()) != null) {
          if (line.isEmpty()) {
            if (dataBuffer.length() > 0) {
              String data = dataBuffer.toString();
              dataBuffer.setLength(0);

              try {
                ExecutionStatusEvent ev = apiClient.getObjectMapper().readValue(data, ExecutionStatusEvent.class);
                sink.next(ev);
              } catch (Exception e) {
                sink.error(new ApiException(e));
                return;
              }
            }
            continue;
          }

          if (line.startsWith("data:")) {
            String payload = line.substring(5);
            if (payload.startsWith(" ")) payload = payload.substring(1);
            dataBuffer.append(payload).append('\n');
          }
        }

        if (dataBuffer.length() > 0) {
          String data = dataBuffer.toString();
          try {
            ExecutionStatusEvent ev = apiClient.getObjectMapper().readValue(data, ExecutionStatusEvent.class);
            sink.next(ev);
          } catch (Exception e) {
            sink.error(new ApiException(e));
            return;
          }
        }

        sink.complete();

      } catch (IOException e) {
        if (!sink.isCancelled()) {
          System.err.println("Stream connection closed or error occurred: " + e.getMessage());
          sink.error(new ApiException(e));
        }
      } catch (ApiException e) {
        sink.error(e);
      } finally {
        try {
          if (reader != null) reader.close();
          if (response != null) response.close();
        } catch (IOException cleanupException) {
          System.err.println("Error during stream cleanup: " + cleanupException.getMessage());
        }
      }
    });
  }

  private org.apache.hc.client5.http.impl.classic.CloseableHttpResponse _followDependenciesExecutions(@javax.annotation.Nonnull String executionId, @javax.annotation.Nonnull String tenant, Map<String, String> additionalHeaders, boolean destinationOnly, boolean expandAll) throws ApiException {
    if (executionId == null) {
      throw new ApiException(400, "Missing the required parameter 'executionId' when calling _followDependenciesExecutions");
    }
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling _followDependenciesExecutions");
    }

    String localVarPath = "/api/v1/{tenant}/executions/{executionId}/follow-dependencies"
            .replaceAll("\\{" + "executionId" + "\\}", apiClient.escapeString(apiClient.parameterToString(executionId)))
            .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    List<Pair> localVarQueryParams = new ArrayList<>();
    if (destinationOnly != false) {
      localVarQueryParams.addAll(apiClient.parameterToPair("destinationOnly", destinationOnly));
    }
    if (expandAll != false) {
      localVarQueryParams.addAll(apiClient.parameterToPair("expandAll", expandAll));
    }
    List<Pair> localVarCollectionQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    Map<String, String> localVarHeaderParams = new HashMap<>();
    Map<String, String> localVarCookieParams = new HashMap<>();

    if (additionalHeaders != null) {
      localVarHeaderParams.putAll(additionalHeaders);
    }

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    return apiClient.openEventStream(
            localVarPath,
            localVarQueryParams,
            localVarCollectionQueryParams,
            localVarQueryStringJoiner.toString(),
            localVarHeaderParams,
            localVarCookieParams,
            localVarAuthNames
    );
  }


  public Flux<EventExecution> followExecution(@javax.annotation.Nonnull String executionId, @javax.annotation.Nonnull String tenant) throws ApiException {
    return Flux.create(sink -> {
      org.apache.hc.client5.http.impl.classic.CloseableHttpResponse response = null;
      BufferedReader reader = null;

      try {
        response = _followExecutions(executionId, tenant, Collections.emptyMap());
        java.io.InputStream is = response.getEntity().getContent();
        reader = new BufferedReader(new InputStreamReader(is, StandardCharsets.UTF_8));

        String line;
        StringBuilder dataBuffer = new StringBuilder();

        while (!sink.isCancelled() && (line = reader.readLine()) != null) {
          if (line.isEmpty()) {
            if (dataBuffer.length() > 0) {
              String data = dataBuffer.toString();
              dataBuffer.setLength(0);

              try {
                EventExecution ev = apiClient.getObjectMapper().readValue(data, EventExecution.class);
                sink.next(ev);
              } catch (Exception e) {
                sink.error(new ApiException(e));
                return;
              }
            }
            continue;
          }

          if (line.startsWith("data:")) {
            String payload = line.substring(5);
            if (payload.startsWith(" ")) payload = payload.substring(1);
            dataBuffer.append(payload).append('\n');
          }
        }

        if (dataBuffer.length() > 0) {
          String data = dataBuffer.toString();
          try {
            EventExecution ev = apiClient.getObjectMapper().readValue(data, EventExecution.class);
            sink.next(ev);
          } catch (Exception e) {
            sink.error(new ApiException(e));
            return;
          }
        }

        sink.complete();

      } catch (IOException e) {
        if (!sink.isCancelled()) {
          System.err.println("Stream connection closed or error occurred: " + e.getMessage());
          sink.error(new ApiException(e));
        }
      } catch (ApiException e) {
        sink.error(e);
      } finally {
        try {
          if (reader != null) reader.close();
          if (response != null) response.close();
        } catch (IOException cleanupException) {
          System.err.println("Error during stream cleanup: " + cleanupException.getMessage());
        }
      }
    });
  }

  private org.apache.hc.client5.http.impl.classic.CloseableHttpResponse _followExecutions(@javax.annotation.Nonnull String executionId, @javax.annotation.Nonnull String tenant, Map<String, String> additionalHeaders) throws ApiException {
    if (executionId == null) {
      throw new ApiException(400, "Missing the required parameter 'executionId' when calling _followExecutions");
    }
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling _followExecutions");
    }

    String localVarPath = "/api/v1/{tenant}/executions/{executionId}/follow"
            .replaceAll("\\{" + "executionId" + "\\}", apiClient.escapeString(apiClient.parameterToString(executionId)))
            .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    List<Pair> localVarQueryParams = new ArrayList<>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<>();
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    Map<String, String> localVarHeaderParams = new HashMap<>();
    Map<String, String> localVarCookieParams = new HashMap<>();

    if (additionalHeaders != null) {
      localVarHeaderParams.putAll(additionalHeaders);
    }

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    return apiClient.openEventStream(
            localVarPath,
            localVarQueryParams,
            localVarCollectionQueryParams,
            localVarQueryStringJoiner.toString(),
            localVarHeaderParams,
            localVarCookieParams,
            localVarAuthNames
    );
  }


  /**
   * Force run a list of executions
   * 
   * @param tenant  (required)
   * @param requestBody The list of executions id (required)
   * @return BulkResponse
   * @throws ApiException if fails to make API call
   */
  public BulkResponse forceRunByIds(@jakarta.annotation.Nonnull String tenant, @jakarta.annotation.Nonnull List<String> requestBody) throws ApiException {
    return this.forceRunByIds(tenant, requestBody, Collections.emptyMap());
  }

  /**
   * Force run a list of executions
   * 
   * @param tenant  (required)
   * @param requestBody The list of executions id (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return BulkResponse
   * @throws ApiException if fails to make API call
   */
  public BulkResponse forceRunByIds(@jakarta.annotation.Nonnull String tenant, @jakarta.annotation.Nonnull List<String> requestBody, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = requestBody;
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling forceRunByIds");
    }
    
    // verify the required parameter 'requestBody' is set
    if (requestBody == null) {
      throw new ApiException(400, "Missing the required parameter 'requestBody' when calling forceRunByIds");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/executions/force-run/by-ids"
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams =  new HashMap<String, Object>();
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<BulkResponse> localVarReturnType = new TypeReference<BulkResponse>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }






  /**
   * Force run an execution
   * 
   * @param executionId The execution id (required)
   * @param tenant  (required)
   * @return Execution
   * @throws ApiException if fails to make API call
   */
  public Execution forceRunExecution(@jakarta.annotation.Nonnull String executionId, @jakarta.annotation.Nonnull String tenant) throws ApiException {
    return this.forceRunExecution(executionId, tenant, Collections.emptyMap());
  }

  /**
   * Force run an execution
   * 
   * @param executionId The execution id (required)
   * @param tenant  (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return Execution
   * @throws ApiException if fails to make API call
   */
  public Execution forceRunExecution(@jakarta.annotation.Nonnull String executionId, @jakarta.annotation.Nonnull String tenant, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'executionId' is set
    if (executionId == null) {
      throw new ApiException(400, "Missing the required parameter 'executionId' when calling forceRunExecution");
    }
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling forceRunExecution");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/executions/{executionId}/force-run"
      .replaceAll("\\{" + "executionId" + "\\}", apiClient.escapeString(apiClient.parameterToString(executionId)))
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams =  new HashMap<String, Object>();
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<Execution> localVarReturnType = new TypeReference<Execution>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }






  /**
   * Force run executions filter by query parameters
   * 
   * @param tenant  (required)
   * @param filters Filters (optional)
   * @return Object
   * @throws ApiException if fails to make API call
   */
  public Object forceRunExecutionsByQuery(@jakarta.annotation.Nonnull String tenant, @jakarta.annotation.Nullable List<QueryFilter> filters) throws ApiException {
    return this.forceRunExecutionsByQuery(tenant, filters, Collections.emptyMap());
  }

  /**
   * Force run executions filter by query parameters
   * 
   * @param tenant  (required)
   * @param filters Filters (optional)
   * @param additionalHeaders additionalHeaders for this call
   * @return Object
   * @throws ApiException if fails to make API call
   */
  public Object forceRunExecutionsByQuery(@jakarta.annotation.Nonnull String tenant, @jakarta.annotation.Nullable List<QueryFilter> filters, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling forceRunExecutionsByQuery");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/executions/force-run/by-query"
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams =  new HashMap<String, Object>();
    localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("csv", "filters", filters));
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<Object> localVarReturnType = new TypeReference<Object>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }






  /**
   * Kill an execution
   * 
   * @param executionId The execution id (required)
   * @param isOnKillCascade Specifies whether killing the execution also kill all subflow executions. (required)
   * @param tenant  (required)
   * @return Object
   * @throws ApiException if fails to make API call
   */
  public Object killExecution(@jakarta.annotation.Nonnull String executionId, @jakarta.annotation.Nonnull Boolean isOnKillCascade, @jakarta.annotation.Nonnull String tenant) throws ApiException {
    return this.killExecution(executionId, isOnKillCascade, tenant, Collections.emptyMap());
  }

  /**
   * Kill an execution
   * 
   * @param executionId The execution id (required)
   * @param isOnKillCascade Specifies whether killing the execution also kill all subflow executions. (required)
   * @param tenant  (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return Object
   * @throws ApiException if fails to make API call
   */
  public Object killExecution(@jakarta.annotation.Nonnull String executionId, @jakarta.annotation.Nonnull Boolean isOnKillCascade, @jakarta.annotation.Nonnull String tenant, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'executionId' is set
    if (executionId == null) {
      throw new ApiException(400, "Missing the required parameter 'executionId' when calling killExecution");
    }
    
    // verify the required parameter 'isOnKillCascade' is set
    if (isOnKillCascade == null) {
      throw new ApiException(400, "Missing the required parameter 'isOnKillCascade' when calling killExecution");
    }
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling killExecution");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/executions/{executionId}/kill"
      .replaceAll("\\{" + "executionId" + "\\}", apiClient.escapeString(apiClient.parameterToString(executionId)))
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams =  new HashMap<String, Object>();
    localVarQueryParams.addAll(apiClient.parameterToPair("isOnKillCascade", isOnKillCascade));
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "text/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<Object> localVarReturnType = new TypeReference<Object>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "DELETE",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }






  /**
   * Kill a list of executions
   * 
   * @param tenant  (required)
   * @param requestBody The list of executions id (required)
   * @return BulkResponse
   * @throws ApiException if fails to make API call
   */
  public BulkResponse killExecutionsByIds(@jakarta.annotation.Nonnull String tenant, @jakarta.annotation.Nonnull List<String> requestBody) throws ApiException {
    return this.killExecutionsByIds(tenant, requestBody, Collections.emptyMap());
  }

  /**
   * Kill a list of executions
   * 
   * @param tenant  (required)
   * @param requestBody The list of executions id (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return BulkResponse
   * @throws ApiException if fails to make API call
   */
  public BulkResponse killExecutionsByIds(@jakarta.annotation.Nonnull String tenant, @jakarta.annotation.Nonnull List<String> requestBody, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = requestBody;
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling killExecutionsByIds");
    }
    
    // verify the required parameter 'requestBody' is set
    if (requestBody == null) {
      throw new ApiException(400, "Missing the required parameter 'requestBody' when calling killExecutionsByIds");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/executions/kill/by-ids"
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams =  new HashMap<String, Object>();
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<BulkResponse> localVarReturnType = new TypeReference<BulkResponse>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "DELETE",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }






  /**
   * Kill executions filter by query parameters
   * 
   * @param tenant  (required)
   * @param filters Filters (optional)
   * @return Object
   * @throws ApiException if fails to make API call
   */
  public Object killExecutionsByQuery(@jakarta.annotation.Nonnull String tenant, @jakarta.annotation.Nullable List<QueryFilter> filters) throws ApiException {
    return this.killExecutionsByQuery(tenant, filters, Collections.emptyMap());
  }

  /**
   * Kill executions filter by query parameters
   * 
   * @param tenant  (required)
   * @param filters Filters (optional)
   * @param additionalHeaders additionalHeaders for this call
   * @return Object
   * @throws ApiException if fails to make API call
   */
  public Object killExecutionsByQuery(@jakarta.annotation.Nonnull String tenant, @jakarta.annotation.Nullable List<QueryFilter> filters, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling killExecutionsByQuery");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/executions/kill/by-query"
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams =  new HashMap<String, Object>();
    localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("csv", "filters", filters));
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<Object> localVarReturnType = new TypeReference<Object>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "DELETE",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }






  /**
   * Get the latest execution for given flows
   * 
   * @param tenant  (required)
   * @param executionRepositoryInterfaceFlowFilter  (required)
   * @return List&lt;ExecutionControllerLastExecutionResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public List<ExecutionControllerLastExecutionResponse> latestExecutions(@jakarta.annotation.Nonnull String tenant, @jakarta.annotation.Nonnull List<ExecutionRepositoryInterfaceFlowFilter> executionRepositoryInterfaceFlowFilter) throws ApiException {
    return this.latestExecutions(tenant, executionRepositoryInterfaceFlowFilter, Collections.emptyMap());
  }

  /**
   * Get the latest execution for given flows
   * 
   * @param tenant  (required)
   * @param executionRepositoryInterfaceFlowFilter  (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return List&lt;ExecutionControllerLastExecutionResponse&gt;
   * @throws ApiException if fails to make API call
   */
  public List<ExecutionControllerLastExecutionResponse> latestExecutions(@jakarta.annotation.Nonnull String tenant, @jakarta.annotation.Nonnull List<ExecutionRepositoryInterfaceFlowFilter> executionRepositoryInterfaceFlowFilter, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = executionRepositoryInterfaceFlowFilter;
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling latestExecutions");
    }
    
    // verify the required parameter 'executionRepositoryInterfaceFlowFilter' is set
    if (executionRepositoryInterfaceFlowFilter == null) {
      throw new ApiException(400, "Missing the required parameter 'executionRepositoryInterfaceFlowFilter' when calling latestExecutions");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/executions/latest"
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams =  new HashMap<String, Object>();
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<List<ExecutionControllerLastExecutionResponse>> localVarReturnType = new TypeReference<List<ExecutionControllerLastExecutionResponse>>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }






  /**
   * Pause a running execution.
   * 
   * @param executionId The execution id (required)
   * @param tenant  (required)
   * @throws ApiException if fails to make API call
   */
  public void pauseExecution(@jakarta.annotation.Nonnull String executionId, @jakarta.annotation.Nonnull String tenant) throws ApiException {
    this.pauseExecution(executionId, tenant, Collections.emptyMap());
  }

  /**
   * Pause a running execution.
   * 
   * @param executionId The execution id (required)
   * @param tenant  (required)
   * @param additionalHeaders additionalHeaders for this call
   * @throws ApiException if fails to make API call
   */
  public void pauseExecution(@jakarta.annotation.Nonnull String executionId, @jakarta.annotation.Nonnull String tenant, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'executionId' is set
    if (executionId == null) {
      throw new ApiException(400, "Missing the required parameter 'executionId' when calling pauseExecution");
    }
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling pauseExecution");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/executions/{executionId}/pause"
      .replaceAll("\\{" + "executionId" + "\\}", apiClient.escapeString(apiClient.parameterToString(executionId)))
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams =  new HashMap<String, Object>();
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        null
    );
  }






  /**
   * Pause a list of running executions
   * 
   * @param tenant  (required)
   * @param requestBody The list of executions id (required)
   * @return BulkResponse
   * @throws ApiException if fails to make API call
   */
  public BulkResponse pauseExecutionsByIds(@jakarta.annotation.Nonnull String tenant, @jakarta.annotation.Nonnull List<String> requestBody) throws ApiException {
    return this.pauseExecutionsByIds(tenant, requestBody, Collections.emptyMap());
  }

  /**
   * Pause a list of running executions
   * 
   * @param tenant  (required)
   * @param requestBody The list of executions id (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return BulkResponse
   * @throws ApiException if fails to make API call
   */
  public BulkResponse pauseExecutionsByIds(@jakarta.annotation.Nonnull String tenant, @jakarta.annotation.Nonnull List<String> requestBody, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = requestBody;
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling pauseExecutionsByIds");
    }
    
    // verify the required parameter 'requestBody' is set
    if (requestBody == null) {
      throw new ApiException(400, "Missing the required parameter 'requestBody' when calling pauseExecutionsByIds");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/executions/pause/by-ids"
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams =  new HashMap<String, Object>();
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<BulkResponse> localVarReturnType = new TypeReference<BulkResponse>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }






  /**
   * Pause executions filter by query parameters
   * 
   * @param tenant  (required)
   * @param filters Filters (optional)
   * @return Object
   * @throws ApiException if fails to make API call
   */
  public Object pauseExecutionsByQuery(@jakarta.annotation.Nonnull String tenant, @jakarta.annotation.Nullable List<QueryFilter> filters) throws ApiException {
    return this.pauseExecutionsByQuery(tenant, filters, Collections.emptyMap());
  }

  /**
   * Pause executions filter by query parameters
   * 
   * @param tenant  (required)
   * @param filters Filters (optional)
   * @param additionalHeaders additionalHeaders for this call
   * @return Object
   * @throws ApiException if fails to make API call
   */
  public Object pauseExecutionsByQuery(@jakarta.annotation.Nonnull String tenant, @jakarta.annotation.Nullable List<QueryFilter> filters, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling pauseExecutionsByQuery");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/executions/pause/by-query"
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams =  new HashMap<String, Object>();
    localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("csv", "filters", filters));
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<Object> localVarReturnType = new TypeReference<Object>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }






  /**
   * Create a new execution from an old one and start it from a specified task run id
   * 
   * @param executionId the original execution id to clone (required)
   * @param tenant  (required)
   * @param taskRunId The taskrun id (optional)
   * @param revision The flow revision to use for new execution (optional)
   * @param breakpoints Set a list of breakpoints at specific tasks &#39;id.value&#39;, separated by a coma. (optional)
   * @return Execution
   * @throws ApiException if fails to make API call
   */
  public Execution replayExecution(@jakarta.annotation.Nonnull String executionId, @jakarta.annotation.Nonnull String tenant, @jakarta.annotation.Nullable String taskRunId, @jakarta.annotation.Nullable Integer revision, @jakarta.annotation.Nullable String breakpoints) throws ApiException {
    return this.replayExecution(executionId, tenant, taskRunId, revision, breakpoints, Collections.emptyMap());
  }

  /**
   * Create a new execution from an old one and start it from a specified task run id
   * 
   * @param executionId the original execution id to clone (required)
   * @param tenant  (required)
   * @param taskRunId The taskrun id (optional)
   * @param revision The flow revision to use for new execution (optional)
   * @param breakpoints Set a list of breakpoints at specific tasks &#39;id.value&#39;, separated by a coma. (optional)
   * @param additionalHeaders additionalHeaders for this call
   * @return Execution
   * @throws ApiException if fails to make API call
   */
  public Execution replayExecution(@jakarta.annotation.Nonnull String executionId, @jakarta.annotation.Nonnull String tenant, @jakarta.annotation.Nullable String taskRunId, @jakarta.annotation.Nullable Integer revision, @jakarta.annotation.Nullable String breakpoints, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'executionId' is set
    if (executionId == null) {
      throw new ApiException(400, "Missing the required parameter 'executionId' when calling replayExecution");
    }
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling replayExecution");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/executions/{executionId}/replay"
      .replaceAll("\\{" + "executionId" + "\\}", apiClient.escapeString(apiClient.parameterToString(executionId)))
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams =  new HashMap<String, Object>();
    localVarQueryParams.addAll(apiClient.parameterToPair("taskRunId", taskRunId));
    localVarQueryParams.addAll(apiClient.parameterToPair("revision", revision));
    localVarQueryParams.addAll(apiClient.parameterToPair("breakpoints", breakpoints));
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<Execution> localVarReturnType = new TypeReference<Execution>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }






  /**
   * Create a new execution from an old one and start it from a specified task run id
   * 
   * @param executionId the original execution id to clone (required)
   * @param tenant  (required)
   * @param taskRunId The taskrun id (optional)
   * @param revision The flow revision to use for new execution (optional)
   * @param breakpoints Set a list of breakpoints at specific tasks &#39;id.value&#39;, separated by a coma. (optional)
   * @return Execution
   * @throws ApiException if fails to make API call
   */
  public Execution replayExecutionWithinputs(@jakarta.annotation.Nonnull String executionId, @jakarta.annotation.Nonnull String tenant, @jakarta.annotation.Nullable String taskRunId, @jakarta.annotation.Nullable Integer revision, @jakarta.annotation.Nullable String breakpoints) throws ApiException {
    return this.replayExecutionWithinputs(executionId, tenant, taskRunId, revision, breakpoints, Collections.emptyMap(), null);
  }
  public Execution replayExecutionWithinputs(@jakarta.annotation.Nonnull String executionId, @jakarta.annotation.Nonnull String tenant, @jakarta.annotation.Nullable String taskRunId, @jakarta.annotation.Nullable Integer revision, @jakarta.annotation.Nullable String breakpoints, HashMap<String, Object> additionalFormDatas)  throws ApiException {
  return this.replayExecutionWithinputs(executionId, tenant, taskRunId, revision, breakpoints, Collections.emptyMap(), additionalFormDatas);
  }

  /**
   * Create a new execution from an old one and start it from a specified task run id
   * 
   * @param executionId the original execution id to clone (required)
   * @param tenant  (required)
   * @param taskRunId The taskrun id (optional)
   * @param revision The flow revision to use for new execution (optional)
   * @param breakpoints Set a list of breakpoints at specific tasks &#39;id.value&#39;, separated by a coma. (optional)
   * @param additionalHeaders additionalHeaders for this call
   * @return Execution
   * @throws ApiException if fails to make API call
   */
  public Execution replayExecutionWithinputs(@jakarta.annotation.Nonnull String executionId, @jakarta.annotation.Nonnull String tenant, @jakarta.annotation.Nullable String taskRunId, @jakarta.annotation.Nullable Integer revision, @jakarta.annotation.Nullable String breakpoints, Map<String, String> additionalHeaders, HashMap<String, Object> additionalFormDatas) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'executionId' is set
    if (executionId == null) {
      throw new ApiException(400, "Missing the required parameter 'executionId' when calling replayExecutionWithinputs");
    }
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling replayExecutionWithinputs");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/executions/{executionId}/replay-with-inputs"
      .replaceAll("\\{" + "executionId" + "\\}", apiClient.escapeString(apiClient.parameterToString(executionId)))
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = additionalFormDatas != null ? new HashMap<String, Object>(additionalFormDatas) : new HashMap<String, Object>();
    localVarQueryParams.addAll(apiClient.parameterToPair("taskRunId", taskRunId));
    localVarQueryParams.addAll(apiClient.parameterToPair("revision", revision));
    localVarQueryParams.addAll(apiClient.parameterToPair("breakpoints", breakpoints));
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "multipart/form-data"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<Execution> localVarReturnType = new TypeReference<Execution>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }






  /**
   * Create new executions from old ones. Keep the flow revision
   * 
   * @param tenant  (required)
   * @param requestBody The list of executions id (required)
   * @param latestRevision If latest revision should be used (optional, default to false)
   * @return BulkResponse
   * @throws ApiException if fails to make API call
   */
  public BulkResponse replayExecutionsByIds(@jakarta.annotation.Nonnull String tenant, @jakarta.annotation.Nonnull List<String> requestBody, @jakarta.annotation.Nullable Boolean latestRevision) throws ApiException {
    return this.replayExecutionsByIds(tenant, requestBody, latestRevision, Collections.emptyMap());
  }

  /**
   * Create new executions from old ones. Keep the flow revision
   * 
   * @param tenant  (required)
   * @param requestBody The list of executions id (required)
   * @param latestRevision If latest revision should be used (optional, default to false)
   * @param additionalHeaders additionalHeaders for this call
   * @return BulkResponse
   * @throws ApiException if fails to make API call
   */
  public BulkResponse replayExecutionsByIds(@jakarta.annotation.Nonnull String tenant, @jakarta.annotation.Nonnull List<String> requestBody, @jakarta.annotation.Nullable Boolean latestRevision, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = requestBody;
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling replayExecutionsByIds");
    }
    
    // verify the required parameter 'requestBody' is set
    if (requestBody == null) {
      throw new ApiException(400, "Missing the required parameter 'requestBody' when calling replayExecutionsByIds");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/executions/replay/by-ids"
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams =  new HashMap<String, Object>();
    localVarQueryParams.addAll(apiClient.parameterToPair("latestRevision", latestRevision));
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<BulkResponse> localVarReturnType = new TypeReference<BulkResponse>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }






  /**
   * Create new executions from old ones filter by query parameters. Keep the flow revision
   * 
   * @param tenant  (required)
   * @param filters Filters (optional)
   * @param latestRevision If latest revision should be used (optional, default to false)
   * @return Object
   * @throws ApiException if fails to make API call
   */
  public Object replayExecutionsByQuery(@jakarta.annotation.Nonnull String tenant, @jakarta.annotation.Nullable List<QueryFilter> filters, @jakarta.annotation.Nullable Boolean latestRevision) throws ApiException {
    return this.replayExecutionsByQuery(tenant, filters, latestRevision, Collections.emptyMap());
  }

  /**
   * Create new executions from old ones filter by query parameters. Keep the flow revision
   * 
   * @param tenant  (required)
   * @param filters Filters (optional)
   * @param latestRevision If latest revision should be used (optional, default to false)
   * @param additionalHeaders additionalHeaders for this call
   * @return Object
   * @throws ApiException if fails to make API call
   */
  public Object replayExecutionsByQuery(@jakarta.annotation.Nonnull String tenant, @jakarta.annotation.Nullable List<QueryFilter> filters, @jakarta.annotation.Nullable Boolean latestRevision, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling replayExecutionsByQuery");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/executions/replay/by-query"
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams =  new HashMap<String, Object>();
    localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("csv", "filters", filters));
    localVarQueryParams.addAll(apiClient.parameterToPair("latestRevision", latestRevision));
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<Object> localVarReturnType = new TypeReference<Object>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }






  /**
   * Restart a new execution from an old one
   * 
[...]
