(
        self,
        {{#allParams}}
        {{paramName}}: {{{vendorExtensions.x-py-typing}}}{{^required}} = None{{/required}},
        {{/allParams}}
        {{#vendorExtensions.x-sdk-customization.x-multipart}}
        additional_form_datas: Optional[Dict[str, Any]] = None,
        additional_files: Optional[Dict[str, Any]] = None,
        {{/vendorExtensions.x-sdk-customization.x-multipart}}
        _request_timeout: Union[
        None,
        Annotated[StrictFloat, Field(gt=0)],
        Tuple[
        Annotated[StrictFloat, Field(gt=0)],
        Annotated[StrictFloat, Field(gt=0)]
        ]
        ] = None
    )