/*
Kestra EE

All API operations, except for Superadmin-only endpoints, require a tenant identifier in the HTTP path.<br/> Endpoints designated as Superadmin-only are not tenant-scoped.

*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package kestra_api_client

import (
	"bytes"
	"context"
    "fmt"
    "sync/atomic"
    sse "github.com/tmaxmax/go-sse"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// FlowsAPIService FlowsAPI service
type FlowsAPIService service

type ApiFlowDependenciesFromNamespaceRequest struct {
	ctx context.Context
	ApiService *FlowsAPIService
	namespace string
	tenant string
	destinationOnly *SchemasFromTypeArrayOfParameter
}

// if true, list only destination dependencies, otherwise list also source dependencies
func (r ApiFlowDependenciesFromNamespaceRequest) DestinationOnly(destinationOnly SchemasFromTypeArrayOfParameter) ApiFlowDependenciesFromNamespaceRequest {
	r.destinationOnly = &destinationOnly
	return r
}


func (r ApiFlowDependenciesFromNamespaceRequest) GetNamespace() string {
    return r.namespace
}
func (r ApiFlowDependenciesFromNamespaceRequest) GetTenant() string {
    return r.tenant
}
func (r ApiFlowDependenciesFromNamespaceRequest) GetDestinationOnly() *SchemasFromTypeArrayOfParameter {
    return r.destinationOnly
}


func (r ApiFlowDependenciesFromNamespaceRequest) Execute() (*FlowTopologyGraph, *http.Response, error) {
	return r.ApiService.FlowDependenciesFromNamespaceExecute(r)
}

/*
FlowDependenciesFromNamespace Retrieve flow dependencies

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param namespace The flow namespace
 @param tenant
 @return ApiFlowDependenciesFromNamespaceRequest
*/
func (a *FlowsAPIService) FlowDependenciesFromNamespace(ctx context.Context, namespace string, tenant string) ApiFlowDependenciesFromNamespaceRequest {
	return ApiFlowDependenciesFromNamespaceRequest{
		ApiService: a,
		ctx: ctx,
		namespace: namespace,
		tenant: tenant,
    }
}

// Execute executes the request
//  @return FlowTopologyGraph
func (a *FlowsAPIService) FlowDependenciesFromNamespaceExecute(r ApiFlowDependenciesFromNamespaceRequest) (*FlowTopologyGraph, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *FlowTopologyGraph
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FlowsAPIService.FlowDependenciesFromNamespace")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/{tenant}/namespaces/{namespace}/dependencies"
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", url.PathEscape(parameterValueToString(r.namespace, "namespace")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"tenant"+"}", url.PathEscape(parameterValueToString(r.tenant, "tenant")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.destinationOnly != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "destinationOnly", r.destinationOnly, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}





type ApiGenerateFlowGraphRequest struct {
	ctx context.Context
	ApiService *FlowsAPIService
	id string
	namespace string
	tenant string
	revision *GenerateFlowGraphRevisionParameter
	subflows *[]string
}

// The flow revision
func (r ApiGenerateFlowGraphRequest) Revision(revision GenerateFlowGraphRevisionParameter) ApiGenerateFlowGraphRequest {
	r.revision = &revision
	return r
}

// The subflow tasks to display
func (r ApiGenerateFlowGraphRequest) Subflows(subflows []string) ApiGenerateFlowGraphRequest {
	r.subflows = &subflows
	return r
}


func (r ApiGenerateFlowGraphRequest) GetId() string {
    return r.id
}
func (r ApiGenerateFlowGraphRequest) GetNamespace() string {
    return r.namespace
}
func (r ApiGenerateFlowGraphRequest) GetTenant() string {
    return r.tenant
}
func (r ApiGenerateFlowGraphRequest) GetRevision() *GenerateFlowGraphRevisionParameter {
    return r.revision
}
func (r ApiGenerateFlowGraphRequest) GetSubflows() *[]string {
    return r.subflows
}


func (r ApiGenerateFlowGraphRequest) Execute() (*FlowGraph, *http.Response, error) {
	return r.ApiService.GenerateFlowGraphExecute(r)
}

/*
GenerateFlowGraph Generate a graph for a flow

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The flow id
 @param namespace The flow namespace
 @param tenant
 @return ApiGenerateFlowGraphRequest
*/
func (a *FlowsAPIService) GenerateFlowGraph(ctx context.Context, id string, namespace string, tenant string) ApiGenerateFlowGraphRequest {
	return ApiGenerateFlowGraphRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
		namespace: namespace,
		tenant: tenant,
    }
}

// Execute executes the request
//  @return FlowGraph
func (a *FlowsAPIService) GenerateFlowGraphExecute(r ApiGenerateFlowGraphRequest) (*FlowGraph, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *FlowGraph
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FlowsAPIService.GenerateFlowGraph")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/{tenant}/flows/{namespace}/{id}/graph"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", url.PathEscape(parameterValueToString(r.namespace, "namespace")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"tenant"+"}", url.PathEscape(parameterValueToString(r.tenant, "tenant")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.revision != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "revision", r.revision, "form", "")
	}
	if r.subflows != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "subflows", r.subflows, "form", "csv")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}





type ApiGenerateFlowGraphFromSourceRequest struct {
	ctx context.Context
	ApiService *FlowsAPIService
	tenant string
	body *string
	subflows *GenerateFlowGraphFromSourceSubflowsParameter
}

// The flow source code
func (r ApiGenerateFlowGraphFromSourceRequest) Body(body string) ApiGenerateFlowGraphFromSourceRequest {
	r.body = &body
	return r
}

// The subflow tasks to display
func (r ApiGenerateFlowGraphFromSourceRequest) Subflows(subflows GenerateFlowGraphFromSourceSubflowsParameter) ApiGenerateFlowGraphFromSourceRequest {
	r.subflows = &subflows
	return r
}


func (r ApiGenerateFlowGraphFromSourceRequest) GetTenant() string {
    return r.tenant
}
func (r ApiGenerateFlowGraphFromSourceRequest) GetBody() *string {
    return r.body
}
func (r ApiGenerateFlowGraphFromSourceRequest) GetSubflows() *GenerateFlowGraphFromSourceSubflowsParameter {
    return r.subflows
}


func (r ApiGenerateFlowGraphFromSourceRequest) Execute() (*FlowGraph, *http.Response, error) {
	return r.ApiService.GenerateFlowGraphFromSourceExecute(r)
}

/*
GenerateFlowGraphFromSource Generate a graph for a flow source

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tenant
 @return ApiGenerateFlowGraphFromSourceRequest
*/
func (a *FlowsAPIService) GenerateFlowGraphFromSource(ctx context.Context, tenant string) ApiGenerateFlowGraphFromSourceRequest {
	return ApiGenerateFlowGraphFromSourceRequest{
		ApiService: a,
		ctx: ctx,
		tenant: tenant,
    }
}

// Execute executes the request
//  @return FlowGraph
func (a *FlowsAPIService) GenerateFlowGraphFromSourceExecute(r ApiGenerateFlowGraphFromSourceRequest) (*FlowGraph, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *FlowGraph
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FlowsAPIService.GenerateFlowGraphFromSource")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/{tenant}/flows/graph"
	localVarPath = strings.Replace(localVarPath, "{"+"tenant"+"}", url.PathEscape(parameterValueToString(r.tenant, "tenant")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}

	if r.subflows != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "subflows", r.subflows, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/x-yaml"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}





type ApiListDistinctNamespacesRequest struct {
	ctx context.Context
	ApiService *FlowsAPIService
	tenant string
	q *string
}

// A string filter
func (r ApiListDistinctNamespacesRequest) Q(q string) ApiListDistinctNamespacesRequest {
	r.q = &q
	return r
}


func (r ApiListDistinctNamespacesRequest) GetTenant() string {
    return r.tenant
}
func (r ApiListDistinctNamespacesRequest) GetQ() *string {
    return r.q
}


func (r ApiListDistinctNamespacesRequest) Execute() ([]string, *http.Response, error) {
	return r.ApiService.ListDistinctNamespacesExecute(r)
}

/*
ListDistinctNamespaces List all distinct namespaces

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tenant
 @return ApiListDistinctNamespacesRequest
*/
func (a *FlowsAPIService) ListDistinctNamespaces(ctx context.Context, tenant string) ApiListDistinctNamespacesRequest {
	return ApiListDistinctNamespacesRequest{
		ApiService: a,
		ctx: ctx,
		tenant: tenant,
    }
}

// Execute executes the request
//  @return []string
func (a *FlowsAPIService) ListDistinctNamespacesExecute(r ApiListDistinctNamespacesRequest) ([]string, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FlowsAPIService.ListDistinctNamespaces")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/{tenant}/flows/distinct-namespaces"
	localVarPath = strings.Replace(localVarPath, "{"+"tenant"+"}", url.PathEscape(parameterValueToString(r.tenant, "tenant")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.q != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "q", r.q, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}





type ApiSearchConcurrencyLimitsRequest struct {
	ctx context.Context
	ApiService *FlowsAPIService
	tenant string
}


func (r ApiSearchConcurrencyLimitsRequest) GetTenant() string {
    return r.tenant
}


func (r ApiSearchConcurrencyLimitsRequest) Execute() (*PagedResultsConcurrencyLimit, *http.Response, error) {
	return r.ApiService.SearchConcurrencyLimitsExecute(r)
}

/*
SearchConcurrencyLimits Search for flow concurrency limits

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tenant
 @return ApiSearchConcurrencyLimitsRequest
*/
func (a *FlowsAPIService) SearchConcurrencyLimits(ctx context.Context, tenant string) ApiSearchConcurrencyLimitsRequest {
	return ApiSearchConcurrencyLimitsRequest{
		ApiService: a,
		ctx: ctx,
		tenant: tenant,
    }
}

// Execute executes the request
//  @return PagedResultsConcurrencyLimit
func (a *FlowsAPIService) SearchConcurrencyLimitsExecute(r ApiSearchConcurrencyLimitsRequest) (*PagedResultsConcurrencyLimit, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PagedResultsConcurrencyLimit
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FlowsAPIService.SearchConcurrencyLimits")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/{tenant}/concurrency-limit/search"
	localVarPath = strings.Replace(localVarPath, "{"+"tenant"+"}", url.PathEscape(parameterValueToString(r.tenant, "tenant")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}





type ApiUpdateConcurrencyLimitRequest struct {
	ctx context.Context
	ApiService *FlowsAPIService
	namespace string
	flowId string
	tenant string
	concurrencyLimit *ConcurrencyLimit
}

func (r ApiUpdateConcurrencyLimitRequest) ConcurrencyLimit(concurrencyLimit ConcurrencyLimit) ApiUpdateConcurrencyLimitRequest {
	r.concurrencyLimit = &concurrencyLimit
	return r
}


func (r ApiUpdateConcurrencyLimitRequest) GetNamespace() string {
    return r.namespace
}
func (r ApiUpdateConcurrencyLimitRequest) GetFlowId() string {
    return r.flowId
}
func (r ApiUpdateConcurrencyLimitRequest) GetTenant() string {
    return r.tenant
}
func (r ApiUpdateConcurrencyLimitRequest) GetConcurrencyLimit() *ConcurrencyLimit {
    return r.concurrencyLimit
}


func (r ApiUpdateConcurrencyLimitRequest) Execute() (*ConcurrencyLimit, *http.Response, error) {
	return r.ApiService.UpdateConcurrencyLimitExecute(r)
}

/*
UpdateConcurrencyLimit Update a flow concurrency limit

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param namespace
 @param flowId
 @param tenant
 @return ApiUpdateConcurrencyLimitRequest
*/
func (a *FlowsAPIService) UpdateConcurrencyLimit(ctx context.Context, namespace string, flowId string, tenant string) ApiUpdateConcurrencyLimitRequest {
	return ApiUpdateConcurrencyLimitRequest{
		ApiService: a,
		ctx: ctx,
		namespace: namespace,
		flowId: flowId,
		tenant: tenant,
    }
}

// Execute executes the request
//  @return ConcurrencyLimit
func (a *FlowsAPIService) UpdateConcurrencyLimitExecute(r ApiUpdateConcurrencyLimitRequest) (*ConcurrencyLimit, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ConcurrencyLimit
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FlowsAPIService.UpdateConcurrencyLimit")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/{tenant}/concurrency-limit/{namespace}/{flowId}"
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", url.PathEscape(parameterValueToString(r.namespace, "namespace")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"flowId"+"}", url.PathEscape(parameterValueToString(r.flowId, "flowId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"tenant"+"}", url.PathEscape(parameterValueToString(r.tenant, "tenant")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.concurrencyLimit == nil {
		return localVarReturnValue, nil, reportError("concurrencyLimit is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.concurrencyLimit
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}





type ApiUpdateFlowsInNamespaceRequest struct {
	ctx context.Context
	ApiService *FlowsAPIService
	namespace string
	tenant string
	override *UpdateFlowsInNamespaceOverrideParameter
	delete *bool
}

// If namespace of all provided flows should be overridden
func (r ApiUpdateFlowsInNamespaceRequest) Override(override UpdateFlowsInNamespaceOverrideParameter) ApiUpdateFlowsInNamespaceRequest {
	r.override = &override
	return r
}

// If missing flows should be deleted
func (r ApiUpdateFlowsInNamespaceRequest) Delete(delete bool) ApiUpdateFlowsInNamespaceRequest {
	r.delete = &delete
	return r
}


func (r ApiUpdateFlowsInNamespaceRequest) GetNamespace() string {
    return r.namespace
}
func (r ApiUpdateFlowsInNamespaceRequest) GetTenant() string {
    return r.tenant
}
func (r ApiUpdateFlowsInNamespaceRequest) GetOverride() *UpdateFlowsInNamespaceOverrideParameter {
    return r.override
}
func (r ApiUpdateFlowsInNamespaceRequest) GetDelete() *bool {
    return r.delete
}


func (r ApiUpdateFlowsInNamespaceRequest) Execute() ([]FlowInterface, *http.Response, error) {
	return r.ApiService.UpdateFlowsInNamespaceExecute(r)
}

/*
UpdateFlowsInNamespace Update a complete namespace from yaml source

All flows will be created / updated for this namespace.
Existing flows missing from `flows` will be deleted if the query delete is `true`

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param namespace The flow namespace
 @param tenant
 @return ApiUpdateFlowsInNamespaceRequest
*/
func (a *FlowsAPIService) UpdateFlowsInNamespace(ctx context.Context, namespace string, tenant string) ApiUpdateFlowsInNamespaceRequest {
	return ApiUpdateFlowsInNamespaceRequest{
		ApiService: a,
		ctx: ctx,
		namespace: namespace,
		tenant: tenant,
        delete: Ptr(bool(true)),
    }
}

// Execute executes the request
//  @return []FlowInterface
func (a *FlowsAPIService) UpdateFlowsInNamespaceExecute(r ApiUpdateFlowsInNamespaceRequest) ([]FlowInterface, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []FlowInterface
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FlowsAPIService.UpdateFlowsInNamespace")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/{tenant}/flows/{namespace}"
	localVarPath = strings.Replace(localVarPath, "{"+"namespace"+"}", url.PathEscape(parameterValueToString(r.namespace, "namespace")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"tenant"+"}", url.PathEscape(parameterValueToString(r.tenant, "tenant")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.override != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "override", r.override, "form", "")
	}
	if r.delete != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "delete", r.delete, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}





type ApiValidateFlowsRequest struct {
	ctx context.Context
	ApiService *FlowsAPIService
	tenant string
	body *string
}

// Flows as YAML string or multipart files
func (r ApiValidateFlowsRequest) Body(body string) ApiValidateFlowsRequest {
	r.body = &body
	return r
}


func (r ApiValidateFlowsRequest) GetTenant() string {
    return r.tenant
}
func (r ApiValidateFlowsRequest) GetBody() *string {
    return r.body
}


func (r ApiValidateFlowsRequest) Execute() ([]ValidateConstraintViolation, *http.Response, error) {
	return r.ApiService.ValidateFlowsExecute(r)
}

/*
ValidateFlows Validate a list of flows

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tenant
 @return ApiValidateFlowsRequest
*/
func (a *FlowsAPIService) ValidateFlows(ctx context.Context, tenant string) ApiValidateFlowsRequest {
	return ApiValidateFlowsRequest{
		ApiService: a,
		ctx: ctx,
		tenant: tenant,
    }
}

// Execute executes the request
//  @return []ValidateConstraintViolation
func (a *FlowsAPIService) ValidateFlowsExecute(r ApiValidateFlowsRequest) ([]ValidateConstraintViolation, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []ValidateConstraintViolation
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FlowsAPIService.ValidateFlows")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/{tenant}/flows/validate"
	localVarPath = strings.Replace(localVarPath, "{"+"tenant"+"}", url.PathEscape(parameterValueToString(r.tenant, "tenant")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/x-yaml", "multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}





type ApiValidateTaskRequest struct {
	ctx context.Context
	ApiService *FlowsAPIService
	section *FlowControllerTaskValidationType
	tenant string
	body *map[string]interface{}
}

// The type of task
func (r ApiValidateTaskRequest) Section(section FlowControllerTaskValidationType) ApiValidateTaskRequest {
	r.section = &section
	return r
}

// A task definition that can be from tasks or triggers
func (r ApiValidateTaskRequest) Body(body map[string]interface{}) ApiValidateTaskRequest {
	r.body = &body
	return r
}


func (r ApiValidateTaskRequest) GetSection() *FlowControllerTaskValidationType {
    return r.section
}
func (r ApiValidateTaskRequest) GetTenant() string {
    return r.tenant
}
func (r ApiValidateTaskRequest) GetBody() *map[string]interface{} {
    return r.body
}


func (r ApiValidateTaskRequest) Execute() (*ValidateConstraintViolation, *http.Response, error) {
	return r.ApiService.ValidateTaskExecute(r)
}

/*
ValidateTask Validate a task

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tenant
 @return ApiValidateTaskRequest
*/
func (a *FlowsAPIService) ValidateTask(ctx context.Context, tenant string) ApiValidateTaskRequest {
	return ApiValidateTaskRequest{
		ApiService: a,
		ctx: ctx,
		tenant: tenant,
    }
}

// Execute executes the request
//  @return ValidateConstraintViolation
func (a *FlowsAPIService) ValidateTaskExecute(r ApiValidateTaskRequest) (*ValidateConstraintViolation, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ValidateConstraintViolation
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FlowsAPIService.ValidateTask")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/{tenant}/flows/validate/task"
	localVarPath = strings.Replace(localVarPath, "{"+"tenant"+"}", url.PathEscape(parameterValueToString(r.tenant, "tenant")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.section == nil {
		return localVarReturnValue, nil, reportError("section is required and must be specified")
	}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "section", r.section, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/x-yaml", "application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}





type ApiValidateTriggerRequest struct {
	ctx context.Context
	ApiService *FlowsAPIService
	tenant string
	body *map[string]interface{}
}

// The trigger
func (r ApiValidateTriggerRequest) Body(body map[string]interface{}) ApiValidateTriggerRequest {
	r.body = &body
	return r
}


func (r ApiValidateTriggerRequest) GetTenant() string {
    return r.tenant
}
func (r ApiValidateTriggerRequest) GetBody() *map[string]interface{} {
    return r.body
}


func (r ApiValidateTriggerRequest) Execute() (*ValidateConstraintViolation, *http.Response, error) {
	return r.ApiService.ValidateTriggerExecute(r)
}

/*
ValidateTrigger Validate trigger

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param tenant
 @return ApiValidateTriggerRequest
*/
func (a *FlowsAPIService) ValidateTrigger(ctx context.Context, tenant string) ApiValidateTriggerRequest {
	return ApiValidateTriggerRequest{
		ApiService: a,
		ctx: ctx,
		tenant: tenant,
    }
}

// Execute executes the request
//  @return ValidateConstraintViolation
func (a *FlowsAPIService) ValidateTriggerExecute(r ApiValidateTriggerRequest) (*ValidateConstraintViolation, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ValidateConstraintViolation
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FlowsAPIService.ValidateTrigger")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/{tenant}/flows/validate/trigger"
	localVarPath = strings.Replace(localVarPath, "{"+"tenant"+"}", url.PathEscape(parameterValueToString(r.tenant, "tenant")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.body == nil {
		return localVarReturnValue, nil, reportError("body is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}




