/*
 * Kestra EE
 * All API operations, except for Superadmin-only endpoints, require a tenant identifier in the HTTP path.<br/> Endpoints designated as Superadmin-only are not tenant-scoped.
 *
 * The version of the OpenAPI document: v1
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package io.kestra.sdk.api;

import com.fasterxml.jackson.core.type.TypeReference;

import io.kestra.sdk.internal.ApiException;
import io.kestra.sdk.internal.ApiClient;
import io.kestra.sdk.internal.BaseApi;
import io.kestra.sdk.internal.Configuration;
import io.kestra.sdk.internal.Pair;

import io.kestra.sdk.model.AppResponse;
import io.kestra.sdk.model.AppsControllerApiApp;
import io.kestra.sdk.model.AppsControllerApiAppSource;
import io.kestra.sdk.model.AppsControllerApiAppTags;
import io.kestra.sdk.model.AppsControllerApiBulkOperationRequest;
import io.kestra.sdk.model.EventAppResponse;
import java.io.File;
import io.kestra.sdk.model.FileMetas;
import io.kestra.sdk.model.HttpParameters;
import io.kestra.sdk.model.Level;
import io.kestra.sdk.model.PagedResultsAppsControllerApiApp;
import io.kestra.sdk.model.PagedResultsAppsControllerApiAppCatalogItem;
import io.kestra.sdk.model.PreviewAppRequest;
import java.net.URI;


import java.util.ArrayList;
import java.util.Collections;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.StringJoiner;

@javax.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", date = "2025-08-05T13:38:05.347663356Z[Etc/UTC]", comments = "Generator version: 7.14.0-SNAPSHOT")
public class AppsApi extends BaseApi {

  public AppsApi() {
    super(Configuration.getDefaultApiClient());
  }

  public AppsApi(ApiClient apiClient) {
    super(apiClient);
  }

  /**
   * Delete existing apps
   * 
   * @param tenant  (required)
   * @param appsControllerApiBulkOperationRequest The list of Apps UID (required)
   * @return Object
   * @throws ApiException if fails to make API call
   */
  public Object bulkDeleteApps(@javax.annotation.Nonnull String tenant, @javax.annotation.Nonnull AppsControllerApiBulkOperationRequest appsControllerApiBulkOperationRequest) throws ApiException {
    return this.bulkDeleteApps(tenant, appsControllerApiBulkOperationRequest, Collections.emptyMap());
  }


  /**
   * Delete existing apps
   * 
   * @param tenant  (required)
   * @param appsControllerApiBulkOperationRequest The list of Apps UID (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return Object
   * @throws ApiException if fails to make API call
   */
  public Object bulkDeleteApps(@javax.annotation.Nonnull String tenant, @javax.annotation.Nonnull AppsControllerApiBulkOperationRequest appsControllerApiBulkOperationRequest, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = appsControllerApiBulkOperationRequest;
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling bulkDeleteApps");
    }
    
    // verify the required parameter 'appsControllerApiBulkOperationRequest' is set
    if (appsControllerApiBulkOperationRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'appsControllerApiBulkOperationRequest' when calling bulkDeleteApps");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/apps"
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<Object> localVarReturnType = new TypeReference<Object>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "DELETE",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Disable existing apps
   * 
   * @param tenant  (required)
   * @param appsControllerApiBulkOperationRequest The list of Apps UID (required)
   * @return Object
   * @throws ApiException if fails to make API call
   */
  public Object bulkDisableApps(@javax.annotation.Nonnull String tenant, @javax.annotation.Nonnull AppsControllerApiBulkOperationRequest appsControllerApiBulkOperationRequest) throws ApiException {
    return this.bulkDisableApps(tenant, appsControllerApiBulkOperationRequest, Collections.emptyMap());
  }


  /**
   * Disable existing apps
   * 
   * @param tenant  (required)
   * @param appsControllerApiBulkOperationRequest The list of Apps UID (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return Object
   * @throws ApiException if fails to make API call
   */
  public Object bulkDisableApps(@javax.annotation.Nonnull String tenant, @javax.annotation.Nonnull AppsControllerApiBulkOperationRequest appsControllerApiBulkOperationRequest, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = appsControllerApiBulkOperationRequest;
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling bulkDisableApps");
    }
    
    // verify the required parameter 'appsControllerApiBulkOperationRequest' is set
    if (appsControllerApiBulkOperationRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'appsControllerApiBulkOperationRequest' when calling bulkDisableApps");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/apps/disable"
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<Object> localVarReturnType = new TypeReference<Object>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Enable existing apps
   * 
   * @param tenant  (required)
   * @param appsControllerApiBulkOperationRequest The list of Apps UID (required)
   * @return Object
   * @throws ApiException if fails to make API call
   */
  public Object bulkEnableApps(@javax.annotation.Nonnull String tenant, @javax.annotation.Nonnull AppsControllerApiBulkOperationRequest appsControllerApiBulkOperationRequest) throws ApiException {
    return this.bulkEnableApps(tenant, appsControllerApiBulkOperationRequest, Collections.emptyMap());
  }


  /**
   * Enable existing apps
   * 
   * @param tenant  (required)
   * @param appsControllerApiBulkOperationRequest The list of Apps UID (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return Object
   * @throws ApiException if fails to make API call
   */
  public Object bulkEnableApps(@javax.annotation.Nonnull String tenant, @javax.annotation.Nonnull AppsControllerApiBulkOperationRequest appsControllerApiBulkOperationRequest, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = appsControllerApiBulkOperationRequest;
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling bulkEnableApps");
    }
    
    // verify the required parameter 'appsControllerApiBulkOperationRequest' is set
    if (appsControllerApiBulkOperationRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'appsControllerApiBulkOperationRequest' when calling bulkEnableApps");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/apps/enable"
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<Object> localVarReturnType = new TypeReference<Object>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Export apps as a ZIP archive of YAML sources.
   * 
   * @param tenant  (required)
   * @param appsControllerApiBulkOperationRequest The list of Apps UID (required)
   * @return byte[]
   * @throws ApiException if fails to make API call
   */
  public byte[] bulkExportApps(@javax.annotation.Nonnull String tenant, @javax.annotation.Nonnull AppsControllerApiBulkOperationRequest appsControllerApiBulkOperationRequest) throws ApiException {
    return this.bulkExportApps(tenant, appsControllerApiBulkOperationRequest, Collections.emptyMap());
  }


  /**
   * Export apps as a ZIP archive of YAML sources.
   * 
   * @param tenant  (required)
   * @param appsControllerApiBulkOperationRequest The list of Apps UID (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return byte[]
   * @throws ApiException if fails to make API call
   */
  public byte[] bulkExportApps(@javax.annotation.Nonnull String tenant, @javax.annotation.Nonnull AppsControllerApiBulkOperationRequest appsControllerApiBulkOperationRequest, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = appsControllerApiBulkOperationRequest;
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling bulkExportApps");
    }
    
    // verify the required parameter 'appsControllerApiBulkOperationRequest' is set
    if (appsControllerApiBulkOperationRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'appsControllerApiBulkOperationRequest' when calling bulkExportApps");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/apps/export"
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/octet-stream"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<byte[]> localVarReturnType = new TypeReference<byte[]>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Create a new app
   * 
   * @param tenant  (required)
   * @param body The app (required)
   * @return AppsControllerApiAppSource
   * @throws ApiException if fails to make API call
   */
  public AppsControllerApiAppSource createApp(@javax.annotation.Nonnull String tenant, @javax.annotation.Nonnull String body) throws ApiException {
    return this.createApp(tenant, body, Collections.emptyMap());
  }


  /**
   * Create a new app
   * 
   * @param tenant  (required)
   * @param body The app (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return AppsControllerApiAppSource
   * @throws ApiException if fails to make API call
   */
  public AppsControllerApiAppSource createApp(@javax.annotation.Nonnull String tenant, @javax.annotation.Nonnull String body, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = body;
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling createApp");
    }
    
    // verify the required parameter 'body' is set
    if (body == null) {
      throw new ApiException(400, "Missing the required parameter 'body' when calling createApp");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/apps"
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/x-yaml"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<AppsControllerApiAppSource> localVarReturnType = new TypeReference<AppsControllerApiAppSource>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Delete an existing app
   * 
   * @param uid The ID of the app (required)
   * @param tenant  (required)
   * @return Object
   * @throws ApiException if fails to make API call
   */
  public Object deleteApp(@javax.annotation.Nonnull String uid, @javax.annotation.Nonnull String tenant) throws ApiException {
    return this.deleteApp(uid, tenant, Collections.emptyMap());
  }


  /**
   * Delete an existing app
   * 
   * @param uid The ID of the app (required)
   * @param tenant  (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return Object
   * @throws ApiException if fails to make API call
   */
  public Object deleteApp(@javax.annotation.Nonnull String uid, @javax.annotation.Nonnull String tenant, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'uid' is set
    if (uid == null) {
      throw new ApiException(400, "Missing the required parameter 'uid' when calling deleteApp");
    }
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling deleteApp");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/apps/{uid}"
      .replaceAll("\\{" + "uid" + "\\}", apiClient.escapeString(apiClient.parameterToString(uid)))
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<Object> localVarReturnType = new TypeReference<Object>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "DELETE",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Disable the app.
   * 
   * @param uid The ID of app (required)
   * @param tenant  (required)
   * @return AppsControllerApiApp
   * @throws ApiException if fails to make API call
   */
  public AppsControllerApiApp disableApp(@javax.annotation.Nonnull String uid, @javax.annotation.Nonnull String tenant) throws ApiException {
    return this.disableApp(uid, tenant, Collections.emptyMap());
  }


  /**
   * Disable the app.
   * 
   * @param uid The ID of app (required)
   * @param tenant  (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return AppsControllerApiApp
   * @throws ApiException if fails to make API call
   */
  public AppsControllerApiApp disableApp(@javax.annotation.Nonnull String uid, @javax.annotation.Nonnull String tenant, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'uid' is set
    if (uid == null) {
      throw new ApiException(400, "Missing the required parameter 'uid' when calling disableApp");
    }
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling disableApp");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/apps/{uid}/disable"
      .replaceAll("\\{" + "uid" + "\\}", apiClient.escapeString(apiClient.parameterToString(uid)))
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<AppsControllerApiApp> localVarReturnType = new TypeReference<AppsControllerApiApp>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Dispatch for a given app.
   * 
   * @param id The ID of the app. (required)
   * @param dispatch The ID to dispatch (required)
   * @param tenant  (required)
   * @param parameters  (optional)
   * @return AppResponse
   * @throws ApiException if fails to make API call
   */
  public AppResponse dispatchApp(@javax.annotation.Nonnull String id, @javax.annotation.Nonnull String dispatch, @javax.annotation.Nonnull String tenant, @javax.annotation.Nullable HttpParameters parameters) throws ApiException {
    return this.dispatchApp(id, dispatch, tenant, parameters, Collections.emptyMap());
  }


  /**
   * Dispatch for a given app.
   * 
   * @param id The ID of the app. (required)
   * @param dispatch The ID to dispatch (required)
   * @param tenant  (required)
   * @param parameters  (optional)
   * @param additionalHeaders additionalHeaders for this call
   * @return AppResponse
   * @throws ApiException if fails to make API call
   */
  public AppResponse dispatchApp(@javax.annotation.Nonnull String id, @javax.annotation.Nonnull String dispatch, @javax.annotation.Nonnull String tenant, @javax.annotation.Nullable HttpParameters parameters, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling dispatchApp");
    }
    
    // verify the required parameter 'dispatch' is set
    if (dispatch == null) {
      throw new ApiException(400, "Missing the required parameter 'dispatch' when calling dispatchApp");
    }
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling dispatchApp");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/apps/view/{id}/dispatch/{dispatch}"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)))
      .replaceAll("\\{" + "dispatch" + "\\}", apiClient.escapeString(apiClient.parameterToString(dispatch)))
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    if (parameters != null)
      localVarFormParams.put("parameters", parameters);

    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "multipart/form-data"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<AppResponse> localVarReturnType = new TypeReference<AppResponse>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Download file from an app execution
   * 
   * @param id The ID of the app. (required)
   * @param path The internal storage uri (required)
   * @param tenant  (required)
   * @return File
   * @throws ApiException if fails to make API call
   */
  public File downloadFileFromAppExecution(@javax.annotation.Nonnull String id, @javax.annotation.Nonnull URI path, @javax.annotation.Nonnull String tenant) throws ApiException {
    return this.downloadFileFromAppExecution(id, path, tenant, Collections.emptyMap());
  }


  /**
   * Download file from an app execution
   * 
   * @param id The ID of the app. (required)
   * @param path The internal storage uri (required)
   * @param tenant  (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return File
   * @throws ApiException if fails to make API call
   */
  public File downloadFileFromAppExecution(@javax.annotation.Nonnull String id, @javax.annotation.Nonnull URI path, @javax.annotation.Nonnull String tenant, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling downloadFileFromAppExecution");
    }
    
    // verify the required parameter 'path' is set
    if (path == null) {
      throw new ApiException(400, "Missing the required parameter 'path' when calling downloadFileFromAppExecution");
    }
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling downloadFileFromAppExecution");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/apps/view/{id}/file/download"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)))
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("path", path));
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<File> localVarReturnType = new TypeReference<File>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Enable the app.
   * 
   * @param uid The ID of app (required)
   * @param tenant  (required)
   * @return AppsControllerApiApp
   * @throws ApiException if fails to make API call
   */
  public AppsControllerApiApp enableApp(@javax.annotation.Nonnull String uid, @javax.annotation.Nonnull String tenant) throws ApiException {
    return this.enableApp(uid, tenant, Collections.emptyMap());
  }


  /**
   * Enable the app.
   * 
   * @param uid The ID of app (required)
   * @param tenant  (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return AppsControllerApiApp
   * @throws ApiException if fails to make API call
   */
  public AppsControllerApiApp enableApp(@javax.annotation.Nonnull String uid, @javax.annotation.Nonnull String tenant, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'uid' is set
    if (uid == null) {
      throw new ApiException(400, "Missing the required parameter 'uid' when calling enableApp");
    }
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling enableApp");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/apps/{uid}/enable"
      .replaceAll("\\{" + "uid" + "\\}", apiClient.escapeString(apiClient.parameterToString(uid)))
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<AppsControllerApiApp> localVarReturnType = new TypeReference<AppsControllerApiApp>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Retrieve an app
   * 
   * @param uid The ID of the app (required)
   * @param tenant  (required)
   * @return AppsControllerApiAppSource
   * @throws ApiException if fails to make API call
   */
  public AppsControllerApiAppSource getApp(@javax.annotation.Nonnull String uid, @javax.annotation.Nonnull String tenant) throws ApiException {
    return this.getApp(uid, tenant, Collections.emptyMap());
  }


  /**
   * Retrieve an app
   * 
   * @param uid The ID of the app (required)
   * @param tenant  (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return AppsControllerApiAppSource
   * @throws ApiException if fails to make API call
   */
  public AppsControllerApiAppSource getApp(@javax.annotation.Nonnull String uid, @javax.annotation.Nonnull String tenant, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'uid' is set
    if (uid == null) {
      throw new ApiException(400, "Missing the required parameter 'uid' when calling getApp");
    }
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling getApp");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/apps/{uid}"
      .replaceAll("\\{" + "uid" + "\\}", apiClient.escapeString(apiClient.parameterToString(uid)))
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<AppsControllerApiAppSource> localVarReturnType = new TypeReference<AppsControllerApiAppSource>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Get file meta information from an app execution
   * 
   * @param id The ID of the app. (required)
   * @param path The internal storage uri (required)
   * @param tenant  (required)
   * @return FileMetas
   * @throws ApiException if fails to make API call
   */
  public FileMetas getFileMetaFromAppExecution(@javax.annotation.Nonnull String id, @javax.annotation.Nonnull URI path, @javax.annotation.Nonnull String tenant) throws ApiException {
    return this.getFileMetaFromAppExecution(id, path, tenant, Collections.emptyMap());
  }


  /**
   * Get file meta information from an app execution
   * 
   * @param id The ID of the app. (required)
   * @param path The internal storage uri (required)
   * @param tenant  (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return FileMetas
   * @throws ApiException if fails to make API call
   */
  public FileMetas getFileMetaFromAppExecution(@javax.annotation.Nonnull String id, @javax.annotation.Nonnull URI path, @javax.annotation.Nonnull String tenant, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling getFileMetaFromAppExecution");
    }
    
    // verify the required parameter 'path' is set
    if (path == null) {
      throw new ApiException(400, "Missing the required parameter 'path' when calling getFileMetaFromAppExecution");
    }
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling getFileMetaFromAppExecution");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/apps/view/{id}/file/meta"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)))
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("path", path));
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<FileMetas> localVarReturnType = new TypeReference<FileMetas>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Get file preview from an app execution
   * 
   * @param id The ID of the app. (required)
   * @param path The internal storage uri (required)
   * @param encoding The file encoding as Java charset name. Defaults to UTF-8 (required)
   * @param tenant  (required)
   * @param maxRows The max row returns (optional)
   * @return Object
   * @throws ApiException if fails to make API call
   */
  public Object getFilePreviewFromAppExecution(@javax.annotation.Nonnull String id, @javax.annotation.Nonnull URI path, @javax.annotation.Nonnull String encoding, @javax.annotation.Nonnull String tenant, @javax.annotation.Nullable Integer maxRows) throws ApiException {
    return this.getFilePreviewFromAppExecution(id, path, encoding, tenant, maxRows, Collections.emptyMap());
  }


  /**
   * Get file preview from an app execution
   * 
   * @param id The ID of the app. (required)
   * @param path The internal storage uri (required)
   * @param encoding The file encoding as Java charset name. Defaults to UTF-8 (required)
   * @param tenant  (required)
   * @param maxRows The max row returns (optional)
   * @param additionalHeaders additionalHeaders for this call
   * @return Object
   * @throws ApiException if fails to make API call
   */
  public Object getFilePreviewFromAppExecution(@javax.annotation.Nonnull String id, @javax.annotation.Nonnull URI path, @javax.annotation.Nonnull String encoding, @javax.annotation.Nonnull String tenant, @javax.annotation.Nullable Integer maxRows, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling getFilePreviewFromAppExecution");
    }
    
    // verify the required parameter 'path' is set
    if (path == null) {
      throw new ApiException(400, "Missing the required parameter 'path' when calling getFilePreviewFromAppExecution");
    }
    
    // verify the required parameter 'encoding' is set
    if (encoding == null) {
      throw new ApiException(400, "Missing the required parameter 'encoding' when calling getFilePreviewFromAppExecution");
    }
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling getFilePreviewFromAppExecution");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/apps/view/{id}/file/preview"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)))
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("path", path));
    localVarQueryParams.addAll(apiClient.parameterToPair("maxRows", maxRows));
    localVarQueryParams.addAll(apiClient.parameterToPair("encoding", encoding));
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<Object> localVarReturnType = new TypeReference<Object>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Download logs for an app execution
   * 
   * @param uid The ID of the app. (required)
   * @param executionId The ID of the execution. (required)
   * @param tenant  (required)
   * @param minLevel The min log level filter (optional)
   * @param taskIds The tasks&#39; IDs (optional)
   * @return File
   * @throws ApiException if fails to make API call
   */
  public File getLogsFromAppExecution(@javax.annotation.Nonnull String uid, @javax.annotation.Nonnull String executionId, @javax.annotation.Nonnull String tenant, @javax.annotation.Nullable Level minLevel, @javax.annotation.Nullable List<String> taskIds) throws ApiException {
    return this.getLogsFromAppExecution(uid, executionId, tenant, minLevel, taskIds, Collections.emptyMap());
  }


  /**
   * Download logs for an app execution
   * 
   * @param uid The ID of the app. (required)
   * @param executionId The ID of the execution. (required)
   * @param tenant  (required)
   * @param minLevel The min log level filter (optional)
   * @param taskIds The tasks&#39; IDs (optional)
   * @param additionalHeaders additionalHeaders for this call
   * @return File
   * @throws ApiException if fails to make API call
   */
  public File getLogsFromAppExecution(@javax.annotation.Nonnull String uid, @javax.annotation.Nonnull String executionId, @javax.annotation.Nonnull String tenant, @javax.annotation.Nullable Level minLevel, @javax.annotation.Nullable List<String> taskIds, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'uid' is set
    if (uid == null) {
      throw new ApiException(400, "Missing the required parameter 'uid' when calling getLogsFromAppExecution");
    }
    
    // verify the required parameter 'executionId' is set
    if (executionId == null) {
      throw new ApiException(400, "Missing the required parameter 'executionId' when calling getLogsFromAppExecution");
    }
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling getLogsFromAppExecution");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/apps/view/{uid}/logs/download"
      .replaceAll("\\{" + "uid" + "\\}", apiClient.escapeString(apiClient.parameterToString(uid)))
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("executionId", executionId));
    localVarQueryParams.addAll(apiClient.parameterToPair("minLevel", minLevel));
    localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("csv", "taskIds", taskIds));
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/octet-stream"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<File> localVarReturnType = new TypeReference<File>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Get an event stream from a given app.
   * 
   * @param id The ID of the app. (required)
   * @param stream The ID of the stream to get (required)
   * @param parameters  (required)
   * @param tenant  (required)
   * @return EventAppResponse
   * @throws ApiException if fails to make API call
   */
  public EventAppResponse getStreamEventsFromApp(@javax.annotation.Nonnull String id, @javax.annotation.Nonnull String stream, @javax.annotation.Nonnull HttpParameters parameters, @javax.annotation.Nonnull String tenant) throws ApiException {
    return this.getStreamEventsFromApp(id, stream, parameters, tenant, Collections.emptyMap());
  }


  /**
   * Get an event stream from a given app.
   * 
   * @param id The ID of the app. (required)
   * @param stream The ID of the stream to get (required)
   * @param parameters  (required)
   * @param tenant  (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return EventAppResponse
   * @throws ApiException if fails to make API call
   */
  public EventAppResponse getStreamEventsFromApp(@javax.annotation.Nonnull String id, @javax.annotation.Nonnull String stream, @javax.annotation.Nonnull HttpParameters parameters, @javax.annotation.Nonnull String tenant, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling getStreamEventsFromApp");
    }
    
    // verify the required parameter 'stream' is set
    if (stream == null) {
      throw new ApiException(400, "Missing the required parameter 'stream' when calling getStreamEventsFromApp");
    }
    
    // verify the required parameter 'parameters' is set
    if (parameters == null) {
      throw new ApiException(400, "Missing the required parameter 'parameters' when calling getStreamEventsFromApp");
    }
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling getStreamEventsFromApp");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/apps/view/{id}/streams/{stream}"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)))
      .replaceAll("\\{" + "stream" + "\\}", apiClient.escapeString(apiClient.parameterToString(stream)))
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("parameters", parameters));
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "text/event-stream"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<EventAppResponse> localVarReturnType = new TypeReference<EventAppResponse>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Get all the app tags
   * 
   * @param tenant  (required)
   * @return AppsControllerApiAppTags
   * @throws ApiException if fails to make API call
   */
  public AppsControllerApiAppTags listTags(@javax.annotation.Nonnull String tenant) throws ApiException {
    return this.listTags(tenant, Collections.emptyMap());
  }


  /**
   * Get all the app tags
   * 
   * @param tenant  (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return AppsControllerApiAppTags
   * @throws ApiException if fails to make API call
   */
  public AppsControllerApiAppTags listTags(@javax.annotation.Nonnull String tenant, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling listTags");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/apps/tags"
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<AppsControllerApiAppTags> localVarReturnType = new TypeReference<AppsControllerApiAppTags>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Open an app
   * 
   * @param uid The ID of the app (required)
   * @param parameters  (required)
   * @param tenant  (required)
   * @return AppResponse
   * @throws ApiException if fails to make API call
   */
  public AppResponse openApp(@javax.annotation.Nonnull String uid, @javax.annotation.Nonnull HttpParameters parameters, @javax.annotation.Nonnull String tenant) throws ApiException {
    return this.openApp(uid, parameters, tenant, Collections.emptyMap());
  }


  /**
   * Open an app
   * 
   * @param uid The ID of the app (required)
   * @param parameters  (required)
   * @param tenant  (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return AppResponse
   * @throws ApiException if fails to make API call
   */
  public AppResponse openApp(@javax.annotation.Nonnull String uid, @javax.annotation.Nonnull HttpParameters parameters, @javax.annotation.Nonnull String tenant, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'uid' is set
    if (uid == null) {
      throw new ApiException(400, "Missing the required parameter 'uid' when calling openApp");
    }
    
    // verify the required parameter 'parameters' is set
    if (parameters == null) {
      throw new ApiException(400, "Missing the required parameter 'parameters' when calling openApp");
    }
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling openApp");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/apps/view/{uid}"
      .replaceAll("\\{" + "uid" + "\\}", apiClient.escapeString(apiClient.parameterToString(uid)))
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("parameters", parameters));
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<AppResponse> localVarReturnType = new TypeReference<AppResponse>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Open the app for the given source
   * 
   * @param tenant  (required)
   * @param previewAppRequest The app (required)
   * @return AppResponse
   * @throws ApiException if fails to make API call
   */
  public AppResponse previewApp(@javax.annotation.Nonnull String tenant, @javax.annotation.Nonnull PreviewAppRequest previewAppRequest) throws ApiException {
    return this.previewApp(tenant, previewAppRequest, Collections.emptyMap());
  }


  /**
   * Open the app for the given source
   * 
   * @param tenant  (required)
   * @param previewAppRequest The app (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return AppResponse
   * @throws ApiException if fails to make API call
   */
  public AppResponse previewApp(@javax.annotation.Nonnull String tenant, @javax.annotation.Nonnull PreviewAppRequest previewAppRequest, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = previewAppRequest;
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling previewApp");
    }
    
    // verify the required parameter 'previewAppRequest' is set
    if (previewAppRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'previewAppRequest' when calling previewApp");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/apps/preview"
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/x-yaml"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<AppResponse> localVarReturnType = new TypeReference<AppResponse>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Search for apps
   * 
   * @param page The current page (required)
   * @param size The current page size (required)
   * @param tenant  (required)
   * @param sort The sort of current page (optional)
   * @param tags A tags filter (optional)
   * @param q A string filter (optional)
   * @param namespace A namespace filter prefix (optional)
   * @param flowId A flow id filter (optional)
   * @return PagedResultsAppsControllerApiApp
   * @throws ApiException if fails to make API call
   */
  public PagedResultsAppsControllerApiApp searchApps(@javax.annotation.Nonnull Integer page, @javax.annotation.Nonnull Integer size, @javax.annotation.Nonnull String tenant, @javax.annotation.Nullable List<String> sort, @javax.annotation.Nullable List<String> tags, @javax.annotation.Nullable String q, @javax.annotation.Nullable String namespace, @javax.annotation.Nullable String flowId) throws ApiException {
    return this.searchApps(page, size, tenant, sort, tags, q, namespace, flowId, Collections.emptyMap());
  }


  /**
   * Search for apps
   * 
   * @param page The current page (required)
   * @param size The current page size (required)
   * @param tenant  (required)
   * @param sort The sort of current page (optional)
   * @param tags A tags filter (optional)
   * @param q A string filter (optional)
   * @param namespace A namespace filter prefix (optional)
   * @param flowId A flow id filter (optional)
   * @param additionalHeaders additionalHeaders for this call
   * @return PagedResultsAppsControllerApiApp
   * @throws ApiException if fails to make API call
   */
  public PagedResultsAppsControllerApiApp searchApps(@javax.annotation.Nonnull Integer page, @javax.annotation.Nonnull Integer size, @javax.annotation.Nonnull String tenant, @javax.annotation.Nullable List<String> sort, @javax.annotation.Nullable List<String> tags, @javax.annotation.Nullable String q, @javax.annotation.Nullable String namespace, @javax.annotation.Nullable String flowId, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'page' is set
    if (page == null) {
      throw new ApiException(400, "Missing the required parameter 'page' when calling searchApps");
    }
    
    // verify the required parameter 'size' is set
    if (size == null) {
      throw new ApiException(400, "Missing the required parameter 'size' when calling searchApps");
    }
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling searchApps");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/apps/search"
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("page", page));
    localVarQueryParams.addAll(apiClient.parameterToPair("size", size));
    localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("csv", "sort", sort));
    localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("csv", "tags", tags));
    localVarQueryParams.addAll(apiClient.parameterToPair("q", q));
    localVarQueryParams.addAll(apiClient.parameterToPair("namespace", namespace));
    localVarQueryParams.addAll(apiClient.parameterToPair("flowId", flowId));
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<PagedResultsAppsControllerApiApp> localVarReturnType = new TypeReference<PagedResultsAppsControllerApiApp>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Search for apps from catalog
   * 
   * @param page The current page (required)
   * @param size The current page size (required)
   * @param tenant  (required)
   * @param tags Tags filter (optional)
   * @param q String filter (optional)
   * @return PagedResultsAppsControllerApiAppCatalogItem
   * @throws ApiException if fails to make API call
   */
  public PagedResultsAppsControllerApiAppCatalogItem searchAppsFromCatalog(@javax.annotation.Nonnull Integer page, @javax.annotation.Nonnull Integer size, @javax.annotation.Nonnull String tenant, @javax.annotation.Nullable List<String> tags, @javax.annotation.Nullable String q) throws ApiException {
    return this.searchAppsFromCatalog(page, size, tenant, tags, q, Collections.emptyMap());
  }


  /**
   * Search for apps from catalog
   * 
   * @param page The current page (required)
   * @param size The current page size (required)
   * @param tenant  (required)
   * @param tags Tags filter (optional)
   * @param q String filter (optional)
   * @param additionalHeaders additionalHeaders for this call
   * @return PagedResultsAppsControllerApiAppCatalogItem
   * @throws ApiException if fails to make API call
   */
  public PagedResultsAppsControllerApiAppCatalogItem searchAppsFromCatalog(@javax.annotation.Nonnull Integer page, @javax.annotation.Nonnull Integer size, @javax.annotation.Nonnull String tenant, @javax.annotation.Nullable List<String> tags, @javax.annotation.Nullable String q, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'page' is set
    if (page == null) {
      throw new ApiException(400, "Missing the required parameter 'page' when calling searchAppsFromCatalog");
    }
    
    // verify the required parameter 'size' is set
    if (size == null) {
      throw new ApiException(400, "Missing the required parameter 'size' when calling searchAppsFromCatalog");
    }
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling searchAppsFromCatalog");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/apps/catalog"
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("page", page));
    localVarQueryParams.addAll(apiClient.parameterToPair("size", size));
    localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("csv", "tags", tags));
    localVarQueryParams.addAll(apiClient.parameterToPair("q", q));
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<PagedResultsAppsControllerApiAppCatalogItem> localVarReturnType = new TypeReference<PagedResultsAppsControllerApiAppCatalogItem>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Update an existing app
   * 
   * @param uid The ID of the app (required)
   * @param tenant  (required)
   * @param body The app (required)
   * @return AppsControllerApiAppSource
   * @throws ApiException if fails to make API call
   */
  public AppsControllerApiAppSource updateApp(@javax.annotation.Nonnull String uid, @javax.annotation.Nonnull String tenant, @javax.annotation.Nonnull String body) throws ApiException {
    return this.updateApp(uid, tenant, body, Collections.emptyMap());
  }


  /**
   * Update an existing app
   * 
   * @param uid The ID of the app (required)
   * @param tenant  (required)
   * @param body The app (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return AppsControllerApiAppSource
   * @throws ApiException if fails to make API call
   */
  public AppsControllerApiAppSource updateApp(@javax.annotation.Nonnull String uid, @javax.annotation.Nonnull String tenant, @javax.annotation.Nonnull String body, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = body;
    
    // verify the required parameter 'uid' is set
    if (uid == null) {
      throw new ApiException(400, "Missing the required parameter 'uid' when calling updateApp");
    }
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling updateApp");
    }
    
    // verify the required parameter 'body' is set
    if (body == null) {
      throw new ApiException(400, "Missing the required parameter 'body' when calling updateApp");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/apps/{uid}"
      .replaceAll("\\{" + "uid" + "\\}", apiClient.escapeString(apiClient.parameterToString(uid)))
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/x-yaml"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<AppsControllerApiAppSource> localVarReturnType = new TypeReference<AppsControllerApiAppSource>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "PUT",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  @Override
  public <T> T invokeAPI(String url, String method, Object request, TypeReference<T> returnType, Map<String, String> additionalHeaders) throws ApiException {
    String localVarPath = url.replace(apiClient.getBaseURL(), "");
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarHeaderParams.putAll(additionalHeaders);

    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/x-yaml"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    return apiClient.invokeAPI(
      localVarPath,
        method,
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        request,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        returnType
    );
  }
}
