/*
 * Kestra EE
 * All API operations, except for Superadmin-only endpoints, require a tenant identifier in the HTTP path.<br/> Endpoints designated as Superadmin-only are not tenant-scoped.
 *
 * The version of the OpenAPI document: v1
 * 
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */

package io.kestra.sdk.api;

import com.fasterxml.jackson.core.type.TypeReference;

import io.kestra.sdk.internal.ApiException;
import io.kestra.sdk.internal.ApiClient;
import io.kestra.sdk.internal.BaseApi;
import io.kestra.sdk.internal.Configuration;
import io.kestra.sdk.internal.Pair;

import io.kestra.sdk.model.AuditLogControllerApiAuditLogItem;
import io.kestra.sdk.model.AuditLogControllerAuditLogDiff;
import io.kestra.sdk.model.AuditLogControllerAuditLogOption;
import io.kestra.sdk.model.AuditLogControllerFindRequest;
import io.kestra.sdk.model.CrudEventType;
import java.time.OffsetDateTime;
import io.kestra.sdk.model.PagedResultsAuditLogControllerApiAuditLogItem;
import io.kestra.sdk.model.ResourceType1;


import java.util.ArrayList;
import java.util.Collections;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.StringJoiner;

@javax.annotation.Generated(value = "org.openapitools.codegen.languages.JavaClientCodegen", comments = "Generator version: 7.16.0-SNAPSHOT")
public class AuditLogsApi extends BaseApi {

  public AuditLogsApi() {
    super(Configuration.getDefaultApiClient());
  }

  public AuditLogsApi(ApiClient apiClient) {
    super(apiClient);
  }

  /**
   * Export all audit logs as a streamed CSV file
   * 
   * @param tenant  (required)
   * @param q A string filter (optional)
   * @param namespace A namespace filter (optional)
   * @param flowId A flow id filter (optional)
   * @param executionId An execution filter (optional)
   * @param userId A user id filter (optional)
   * @param id A id filter (optional)
   * @param resources A resource filter (optional)
   * @param startDate The start datetime (optional)
   * @param endDate The end datetime (optional)
   * @param details A list of auditLog details (optional)
   * @param type The event that create the audit log (optional)
   * @return List&lt;Object&gt;
   * @throws ApiException if fails to make API call
   */
  public List<Object> exportAuditLogs(@javax.annotation.Nonnull String tenant, @javax.annotation.Nullable String q, @javax.annotation.Nullable String namespace, @javax.annotation.Nullable String flowId, @javax.annotation.Nullable String executionId, @javax.annotation.Nullable String userId, @javax.annotation.Nullable String id, @javax.annotation.Nullable List<ResourceType1> resources, @javax.annotation.Nullable OffsetDateTime startDate, @javax.annotation.Nullable OffsetDateTime endDate, @javax.annotation.Nullable Map<String, String> details, @javax.annotation.Nullable CrudEventType type) throws ApiException {
    return this.exportAuditLogs(tenant, q, namespace, flowId, executionId, userId, id, resources, startDate, endDate, details, type, Collections.emptyMap());
  }


  /**
   * Export all audit logs as a streamed CSV file
   * 
   * @param tenant  (required)
   * @param q A string filter (optional)
   * @param namespace A namespace filter (optional)
   * @param flowId A flow id filter (optional)
   * @param executionId An execution filter (optional)
   * @param userId A user id filter (optional)
   * @param id A id filter (optional)
   * @param resources A resource filter (optional)
   * @param startDate The start datetime (optional)
   * @param endDate The end datetime (optional)
   * @param details A list of auditLog details (optional)
   * @param type The event that create the audit log (optional)
   * @param additionalHeaders additionalHeaders for this call
   * @return List&lt;Object&gt;
   * @throws ApiException if fails to make API call
   */
  public List<Object> exportAuditLogs(@javax.annotation.Nonnull String tenant, @javax.annotation.Nullable String q, @javax.annotation.Nullable String namespace, @javax.annotation.Nullable String flowId, @javax.annotation.Nullable String executionId, @javax.annotation.Nullable String userId, @javax.annotation.Nullable String id, @javax.annotation.Nullable List<ResourceType1> resources, @javax.annotation.Nullable OffsetDateTime startDate, @javax.annotation.Nullable OffsetDateTime endDate, @javax.annotation.Nullable Map<String, String> details, @javax.annotation.Nullable CrudEventType type, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling exportAuditLogs");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/auditlogs/export"
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("q", q));
    localVarQueryParams.addAll(apiClient.parameterToPair("namespace", namespace));
    localVarQueryParams.addAll(apiClient.parameterToPair("flowId", flowId));
    localVarQueryParams.addAll(apiClient.parameterToPair("executionId", executionId));
    localVarQueryParams.addAll(apiClient.parameterToPair("userId", userId));
    localVarQueryParams.addAll(apiClient.parameterToPair("id", id));
    localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("csv", "resources", resources));
    localVarQueryParams.addAll(apiClient.parameterToPair("startDate", startDate));
    localVarQueryParams.addAll(apiClient.parameterToPair("endDate", endDate));
    localVarQueryParams.addAll(apiClient.parameterToPair("details", details));
    localVarQueryParams.addAll(apiClient.parameterToPair("type", type));
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "text/csv"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<List<Object>> localVarReturnType = new TypeReference<List<Object>>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Find a specific audit log
   * 
   * @param tenant  (required)
   * @param auditLogControllerFindRequest The find request (required)
   * @return AuditLogControllerApiAuditLogItem
   * @throws ApiException if fails to make API call
   */
  public AuditLogControllerApiAuditLogItem findAuditLog(@javax.annotation.Nonnull String tenant, @javax.annotation.Nonnull AuditLogControllerFindRequest auditLogControllerFindRequest) throws ApiException {
    return this.findAuditLog(tenant, auditLogControllerFindRequest, Collections.emptyMap());
  }


  /**
   * Find a specific audit log
   * 
   * @param tenant  (required)
   * @param auditLogControllerFindRequest The find request (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return AuditLogControllerApiAuditLogItem
   * @throws ApiException if fails to make API call
   */
  public AuditLogControllerApiAuditLogItem findAuditLog(@javax.annotation.Nonnull String tenant, @javax.annotation.Nonnull AuditLogControllerFindRequest auditLogControllerFindRequest, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = auditLogControllerFindRequest;
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling findAuditLog");
    }
    
    // verify the required parameter 'auditLogControllerFindRequest' is set
    if (auditLogControllerFindRequest == null) {
      throw new ApiException(400, "Missing the required parameter 'auditLogControllerFindRequest' when calling findAuditLog");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/auditlogs/find"
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      "application/json"
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<AuditLogControllerApiAuditLogItem> localVarReturnType = new TypeReference<AuditLogControllerApiAuditLogItem>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "POST",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Retrieve the diff between audit logs from global resource like users
   * Retrieves the diff between the current version and a selected previous version of a given resource based on audit logs.
   * @param id The id of the audit log (required)
   * @param previousId The id of a previous audit log to compare with (optional)
   * @return AuditLogControllerAuditLogDiff
   * @throws ApiException if fails to make API call
   */
  public AuditLogControllerAuditLogDiff getGlobalResourceDiffFromAuditLog(@javax.annotation.Nonnull String id, @javax.annotation.Nullable String previousId) throws ApiException {
    return this.getGlobalResourceDiffFromAuditLog(id, previousId, Collections.emptyMap());
  }


  /**
   * Retrieve the diff between audit logs from global resource like users
   * Retrieves the diff between the current version and a selected previous version of a given resource based on audit logs.
   * @param id The id of the audit log (required)
   * @param previousId The id of a previous audit log to compare with (optional)
   * @param additionalHeaders additionalHeaders for this call
   * @return AuditLogControllerAuditLogDiff
   * @throws ApiException if fails to make API call
   */
  public AuditLogControllerAuditLogDiff getGlobalResourceDiffFromAuditLog(@javax.annotation.Nonnull String id, @javax.annotation.Nullable String previousId, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling getGlobalResourceDiffFromAuditLog");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/auditlogs/{id}/diff"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("previousId", previousId));
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<AuditLogControllerAuditLogDiff> localVarReturnType = new TypeReference<AuditLogControllerAuditLogDiff>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Retrieve the diff between audit logs
   * Retrieves the diff between the current version and a selected previous version of a given resource based on audit logs.
   * @param id The id of the audit log (required)
   * @param tenant  (required)
   * @param previousId The id of a previous audit log to compare with (optional)
   * @return AuditLogControllerAuditLogDiff
   * @throws ApiException if fails to make API call
   */
  public AuditLogControllerAuditLogDiff getResourceDiffFromAuditLog(@javax.annotation.Nonnull String id, @javax.annotation.Nonnull String tenant, @javax.annotation.Nullable String previousId) throws ApiException {
    return this.getResourceDiffFromAuditLog(id, tenant, previousId, Collections.emptyMap());
  }


  /**
   * Retrieve the diff between audit logs
   * Retrieves the diff between the current version and a selected previous version of a given resource based on audit logs.
   * @param id The id of the audit log (required)
   * @param tenant  (required)
   * @param previousId The id of a previous audit log to compare with (optional)
   * @param additionalHeaders additionalHeaders for this call
   * @return AuditLogControllerAuditLogDiff
   * @throws ApiException if fails to make API call
   */
  public AuditLogControllerAuditLogDiff getResourceDiffFromAuditLog(@javax.annotation.Nonnull String id, @javax.annotation.Nonnull String tenant, @javax.annotation.Nullable String previousId, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'id' is set
    if (id == null) {
      throw new ApiException(400, "Missing the required parameter 'id' when calling getResourceDiffFromAuditLog");
    }
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling getResourceDiffFromAuditLog");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/auditlogs/{id}/diff"
      .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(apiClient.parameterToString(id)))
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("previousId", previousId));
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<AuditLogControllerAuditLogDiff> localVarReturnType = new TypeReference<AuditLogControllerAuditLogDiff>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Find all audit logs about a specific resource.
   * 
   * @param detailId The resource Id (required)
   * @param tenant  (required)
   * @return List&lt;AuditLogControllerAuditLogOption&gt;
   * @throws ApiException if fails to make API call
   */
  public List<AuditLogControllerAuditLogOption> listAuditLogFromResourceId(@javax.annotation.Nonnull String detailId, @javax.annotation.Nonnull String tenant) throws ApiException {
    return this.listAuditLogFromResourceId(detailId, tenant, Collections.emptyMap());
  }


  /**
   * Find all audit logs about a specific resource.
   * 
   * @param detailId The resource Id (required)
   * @param tenant  (required)
   * @param additionalHeaders additionalHeaders for this call
   * @return List&lt;AuditLogControllerAuditLogOption&gt;
   * @throws ApiException if fails to make API call
   */
  public List<AuditLogControllerAuditLogOption> listAuditLogFromResourceId(@javax.annotation.Nonnull String detailId, @javax.annotation.Nonnull String tenant, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'detailId' is set
    if (detailId == null) {
      throw new ApiException(400, "Missing the required parameter 'detailId' when calling listAuditLogFromResourceId");
    }
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling listAuditLogFromResourceId");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/auditlogs/history/{detailId}"
      .replaceAll("\\{" + "detailId" + "\\}", apiClient.escapeString(apiClient.parameterToString(detailId)))
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<List<AuditLogControllerAuditLogOption>> localVarReturnType = new TypeReference<List<AuditLogControllerAuditLogOption>>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Search for audit logs
   * 
   * @param page The current page (required)
   * @param size The current page size (required)
   * @param tenant  (required)
   * @param q A string filter (optional)
   * @param sort The sort of current page (optional)
   * @param namespace A namespace filter (optional)
   * @param flowId A flow id filter (optional)
   * @param executionId An execution filter (optional)
   * @param userId A user id filter (optional)
   * @param id A id filter (optional)
   * @param resources A resource filter (optional)
   * @param startDate The start datetime (optional)
   * @param endDate The end datetime (optional)
   * @param details A list of auditLog details (optional)
   * @param type The event that create the audit log (optional)
   * @return PagedResultsAuditLogControllerApiAuditLogItem
   * @throws ApiException if fails to make API call
   */
  public PagedResultsAuditLogControllerApiAuditLogItem searchAuditLogs(@javax.annotation.Nonnull Integer page, @javax.annotation.Nonnull Integer size, @javax.annotation.Nonnull String tenant, @javax.annotation.Nullable String q, @javax.annotation.Nullable List<String> sort, @javax.annotation.Nullable String namespace, @javax.annotation.Nullable String flowId, @javax.annotation.Nullable String executionId, @javax.annotation.Nullable String userId, @javax.annotation.Nullable String id, @javax.annotation.Nullable List<ResourceType1> resources, @javax.annotation.Nullable OffsetDateTime startDate, @javax.annotation.Nullable OffsetDateTime endDate, @javax.annotation.Nullable Map<String, String> details, @javax.annotation.Nullable CrudEventType type) throws ApiException {
    return this.searchAuditLogs(page, size, tenant, q, sort, namespace, flowId, executionId, userId, id, resources, startDate, endDate, details, type, Collections.emptyMap());
  }


  /**
   * Search for audit logs
   * 
   * @param page The current page (required)
   * @param size The current page size (required)
   * @param tenant  (required)
   * @param q A string filter (optional)
   * @param sort The sort of current page (optional)
   * @param namespace A namespace filter (optional)
   * @param flowId A flow id filter (optional)
   * @param executionId An execution filter (optional)
   * @param userId A user id filter (optional)
   * @param id A id filter (optional)
   * @param resources A resource filter (optional)
   * @param startDate The start datetime (optional)
   * @param endDate The end datetime (optional)
   * @param details A list of auditLog details (optional)
   * @param type The event that create the audit log (optional)
   * @param additionalHeaders additionalHeaders for this call
   * @return PagedResultsAuditLogControllerApiAuditLogItem
   * @throws ApiException if fails to make API call
   */
  public PagedResultsAuditLogControllerApiAuditLogItem searchAuditLogs(@javax.annotation.Nonnull Integer page, @javax.annotation.Nonnull Integer size, @javax.annotation.Nonnull String tenant, @javax.annotation.Nullable String q, @javax.annotation.Nullable List<String> sort, @javax.annotation.Nullable String namespace, @javax.annotation.Nullable String flowId, @javax.annotation.Nullable String executionId, @javax.annotation.Nullable String userId, @javax.annotation.Nullable String id, @javax.annotation.Nullable List<ResourceType1> resources, @javax.annotation.Nullable OffsetDateTime startDate, @javax.annotation.Nullable OffsetDateTime endDate, @javax.annotation.Nullable Map<String, String> details, @javax.annotation.Nullable CrudEventType type, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'page' is set
    if (page == null) {
      throw new ApiException(400, "Missing the required parameter 'page' when calling searchAuditLogs");
    }
    
    // verify the required parameter 'size' is set
    if (size == null) {
      throw new ApiException(400, "Missing the required parameter 'size' when calling searchAuditLogs");
    }
    
    // verify the required parameter 'tenant' is set
    if (tenant == null) {
      throw new ApiException(400, "Missing the required parameter 'tenant' when calling searchAuditLogs");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/{tenant}/auditlogs/search"
      .replaceAll("\\{" + "tenant" + "\\}", apiClient.escapeString(apiClient.parameterToString(tenant)));

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("q", q));
    localVarQueryParams.addAll(apiClient.parameterToPair("page", page));
    localVarQueryParams.addAll(apiClient.parameterToPair("size", size));
    localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("csv", "sort", sort));
    localVarQueryParams.addAll(apiClient.parameterToPair("namespace", namespace));
    localVarQueryParams.addAll(apiClient.parameterToPair("flowId", flowId));
    localVarQueryParams.addAll(apiClient.parameterToPair("executionId", executionId));
    localVarQueryParams.addAll(apiClient.parameterToPair("userId", userId));
    localVarQueryParams.addAll(apiClient.parameterToPair("id", id));
    localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("csv", "resources", resources));
    localVarQueryParams.addAll(apiClient.parameterToPair("startDate", startDate));
    localVarQueryParams.addAll(apiClient.parameterToPair("endDate", endDate));
    localVarQueryParams.addAll(apiClient.parameterToPair("details", details));
    localVarQueryParams.addAll(apiClient.parameterToPair("type", type));
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<PagedResultsAuditLogControllerApiAuditLogItem> localVarReturnType = new TypeReference<PagedResultsAuditLogControllerApiAuditLogItem>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  /**
   * Search for audit logs across all tenants, required to be SuperAdmin
   * 
   * @param page The current page (required)
   * @param size The current page size (required)
   * @param q A string filter (optional)
   * @param sort The sort of current page (optional)
   * @param namespace A namespace filter (optional)
   * @param flowId A flow id filter (optional)
   * @param executionId An execution filter (optional)
   * @param userId A user id filter (optional)
   * @param id A id filter (optional)
   * @param resource A resource filter (optional)
   * @param startDate The start datetime (optional)
   * @param endDate The end datetime (optional)
   * @param details A list of auditLog details (optional)
   * @param type The event that create the audit log (optional)
   * @return PagedResultsAuditLogControllerApiAuditLogItem
   * @throws ApiException if fails to make API call
   */
  public PagedResultsAuditLogControllerApiAuditLogItem searchAuditLogsForAllTenants(@javax.annotation.Nonnull Integer page, @javax.annotation.Nonnull Integer size, @javax.annotation.Nullable String q, @javax.annotation.Nullable List<String> sort, @javax.annotation.Nullable String namespace, @javax.annotation.Nullable String flowId, @javax.annotation.Nullable String executionId, @javax.annotation.Nullable String userId, @javax.annotation.Nullable String id, @javax.annotation.Nullable ResourceType1 resource, @javax.annotation.Nullable OffsetDateTime startDate, @javax.annotation.Nullable OffsetDateTime endDate, @javax.annotation.Nullable Map<String, String> details, @javax.annotation.Nullable CrudEventType type) throws ApiException {
    return this.searchAuditLogsForAllTenants(page, size, q, sort, namespace, flowId, executionId, userId, id, resource, startDate, endDate, details, type, Collections.emptyMap());
  }


  /**
   * Search for audit logs across all tenants, required to be SuperAdmin
   * 
   * @param page The current page (required)
   * @param size The current page size (required)
   * @param q A string filter (optional)
   * @param sort The sort of current page (optional)
   * @param namespace A namespace filter (optional)
   * @param flowId A flow id filter (optional)
   * @param executionId An execution filter (optional)
   * @param userId A user id filter (optional)
   * @param id A id filter (optional)
   * @param resource A resource filter (optional)
   * @param startDate The start datetime (optional)
   * @param endDate The end datetime (optional)
   * @param details A list of auditLog details (optional)
   * @param type The event that create the audit log (optional)
   * @param additionalHeaders additionalHeaders for this call
   * @return PagedResultsAuditLogControllerApiAuditLogItem
   * @throws ApiException if fails to make API call
   */
  public PagedResultsAuditLogControllerApiAuditLogItem searchAuditLogsForAllTenants(@javax.annotation.Nonnull Integer page, @javax.annotation.Nonnull Integer size, @javax.annotation.Nullable String q, @javax.annotation.Nullable List<String> sort, @javax.annotation.Nullable String namespace, @javax.annotation.Nullable String flowId, @javax.annotation.Nullable String executionId, @javax.annotation.Nullable String userId, @javax.annotation.Nullable String id, @javax.annotation.Nullable ResourceType1 resource, @javax.annotation.Nullable OffsetDateTime startDate, @javax.annotation.Nullable OffsetDateTime endDate, @javax.annotation.Nullable Map<String, String> details, @javax.annotation.Nullable CrudEventType type, Map<String, String> additionalHeaders) throws ApiException {
    Object localVarPostBody = null;
    
    // verify the required parameter 'page' is set
    if (page == null) {
      throw new ApiException(400, "Missing the required parameter 'page' when calling searchAuditLogsForAllTenants");
    }
    
    // verify the required parameter 'size' is set
    if (size == null) {
      throw new ApiException(400, "Missing the required parameter 'size' when calling searchAuditLogsForAllTenants");
    }
    
    // create path and map variables
    String localVarPath = "/api/v1/auditlogs/search";

    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    String localVarQueryParameterBaseName;
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarQueryParams.addAll(apiClient.parameterToPair("q", q));
    localVarQueryParams.addAll(apiClient.parameterToPair("page", page));
    localVarQueryParams.addAll(apiClient.parameterToPair("size", size));
    localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("csv", "sort", sort));
    localVarQueryParams.addAll(apiClient.parameterToPair("namespace", namespace));
    localVarQueryParams.addAll(apiClient.parameterToPair("flowId", flowId));
    localVarQueryParams.addAll(apiClient.parameterToPair("executionId", executionId));
    localVarQueryParams.addAll(apiClient.parameterToPair("userId", userId));
    localVarQueryParams.addAll(apiClient.parameterToPair("id", id));
    localVarQueryParams.addAll(apiClient.parameterToPair("resource", resource));
    localVarQueryParams.addAll(apiClient.parameterToPair("startDate", startDate));
    localVarQueryParams.addAll(apiClient.parameterToPair("endDate", endDate));
    localVarQueryParams.addAll(apiClient.parameterToPair("details", details));
    localVarQueryParams.addAll(apiClient.parameterToPair("type", type));
    
    localVarHeaderParams.putAll(additionalHeaders);

    
    
    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    TypeReference<PagedResultsAuditLogControllerApiAuditLogItem> localVarReturnType = new TypeReference<PagedResultsAuditLogControllerApiAuditLogItem>() {};
    return apiClient.invokeAPI(
        localVarPath,
        "GET",
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        localVarPostBody,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        localVarReturnType
    );
  }

  @Override
  public <T> T invokeAPI(String url, String method, Object request, TypeReference<T> returnType, Map<String, String> additionalHeaders) throws ApiException {
    String localVarPath = url.replace(apiClient.getBaseURL(), "");
    StringJoiner localVarQueryStringJoiner = new StringJoiner("&");
    List<Pair> localVarQueryParams = new ArrayList<Pair>();
    List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
    Map<String, String> localVarHeaderParams = new HashMap<String, String>();
    Map<String, String> localVarCookieParams = new HashMap<String, String>();
    Map<String, Object> localVarFormParams = new HashMap<String, Object>();

    localVarHeaderParams.putAll(additionalHeaders);

    final String[] localVarAccepts = {
      "application/json"
    };
    final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);

    final String[] localVarContentTypes = {
      
    };
    final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);

    String[] localVarAuthNames = new String[] { "basicAuth", "bearerAuth" };

    return apiClient.invokeAPI(
      localVarPath,
        method,
        localVarQueryParams,
        localVarCollectionQueryParams,
        localVarQueryStringJoiner.toString(),
        request,
        localVarHeaderParams,
        localVarCookieParams,
        localVarFormParams,
        localVarAccept,
        localVarContentType,
        localVarAuthNames,
        returnType
    );
  }
}
