{
  "name": "@kestra-io/kestra-api",
  "type": "module",
  "version": "{{npmVersion}}",
  "description": "Client API for Kestra",
  "license": "MIT",
  "exports": {
    ".": "./dist/KestraClient.mjs",
    "./package.json": "./package.json"
  },
  "main": "./dist/KestraClient.mjs",
  "module": "./dist/KestraClient.mjs",
  "types": "./dist/KestraClient.d.mts",
  "files": [
    "dist"
  ],
  "scripts": {
    "build": "tsdown",
    "dev": "tsdown --watch",
    "test": "vitest",
    "typecheck": "tsc --noEmit",
    "prepublishOnly": "pnpm run build"
  },
  "dependencies": {
    "@types/axios": "*",
    "axios": "*"
  },
  "devDependencies": {
    "@types/node": "^24.10.1",
    "bumpp": "^10.3.2",
    "tsdown": "^0.17.0",
    "typescript": "^5.9.3",
    "vitest": "^4.0.15"
  }
}
