{{>licenseInfo}}

{{=< >=}}
import ApiClient from "../ApiClient";
import polyfilledEventSource from "@sanity/eventsource"
<#imports>import <&import> from '../<#modelPackage><&modelPackage>/</modelPackage><import>';
</imports>

<#emitJSDoc>/**
* <baseName> service.
* @module <#invokerPackage><&invokerPackage>/</invokerPackage><#apiPackage><&apiPackage>/</apiPackage><classname>
*/</emitJSDoc>
export default class <&classname> {

    <#emitJSDoc>/**
    * Constructs a new <&classname>. <#description>
    * <description></description>
    * @alias module:<#invokerPackage><&invokerPackage>/</invokerPackage><#apiPackage><&apiPackage>/</apiPackage><classname>
    * @class
    * @param {module:<#invokerPackage><&invokerPackage>/</invokerPackage>ApiClient} [apiClient] Optional API client implementation to use,
    * default to {@link module:<#invokerPackage><&invokerPackage>/</invokerPackage>ApiClient#instance} if unspecified.
    */</emitJSDoc>
    constructor(apiClient) {
        this.apiClient = apiClient || ApiClient.instance;
    }

<#operations><#operation>

            <^vendorExtensions.x-sdk-customization.x-skipped>

            <#emitJSDoc><^usePromises>
    /**
     * Callback function to receive the result of the <&operationId> operation.
     * @callback module:<#invokerPackage><&invokerPackage>/</invokerPackage><#apiPackage><&apiPackage>/</apiPackage><&classname>~<&operationId>Callback
     * @param {String} error Error message, if any.
     * @param <#vendorExtensions.x-jsdoc-type>{<&vendorExtensions.x-jsdoc-type>} data The data returned by the service call.</vendorExtensions.x-jsdoc-type><^vendorExtensions.x-jsdoc-type>data This operation does not return a value.</vendorExtensions.x-jsdoc-type>
     * @param {String} response The complete HTTP response.
     */</usePromises>

    /**<#summary>
    * <&summary></summary><#notes>
    * <&notes></notes><#allParams><#required>
    * @param {<&vendorExtensions.x-jsdoc-type>} <&paramName> <&description></required></allParams><#hasOptionalParams>
    * @param {Object} opts Optional parameters<#allParams><^required>
    * @param {<&vendorExtensions.x-jsdoc-type>} [<&paramName><#defaultValue> = <&.>)</defaultValue>] <&description></required></allParams></hasOptionalParams>
    <#vendorExtensions.x-sdk-customization.x-multipart>
    * @param {Object} [formData] Extra multipart fields/files (key → value). Values may be strings, File/Blob (browser) or Buffer/stream (Node).
    </vendorExtensions.x-sdk-customization.x-multipart><^usePromises>
    * @param {module:<#invokerPackage><&invokerPackage>/</invokerPackage><#apiPackage><&apiPackage>/</apiPackage><&classname>~<&operationId>Callback} callback The callback function, accepting three arguments: error, data, response<#returnType>
    * data is of type: {@link <&vendorExtensions.x-jsdoc-type>}</returnType></usePromises><#usePromises>
    * @return {Promise< <&vendorExtensions.x-jsdoc-type> >}</usePromises>
    */
</emitJSDoc>    <operationId><#usePromises>WithHttpInfo</usePromises>(<vendorExtensions.x-codegen-arg-list><#vendorExtensions.x-sdk-customization.x-multipart>, formData</vendorExtensions.x-sdk-customization.x-multipart>) {
      <#vendorExtensions.x-codegen-has-optional-params>
      opts = opts || {};
      </vendorExtensions.x-codegen-has-optional-params>
      let postBody = <#bodyParam><#required><paramName></required><^required>opts['<paramName>']</required></bodyParam><^bodyParam>null</bodyParam>;
<#allParams>
<#required>
      // verify the required parameter '<paramName>' is set
      if (<paramName> === undefined || <paramName> === null) {
        throw new Error("Missing the required parameter '<paramName>' when calling <operationId>");
      }
</required>
</allParams>

      let pathParams = {<#pathParams>
        '<baseName>': <#required><paramName></required><^required>opts['<paramName>']</required><^-last>,</-last></pathParams>
      };
      let queryParams = {<#queryParams>
        '<baseName>': <#collectionFormat>this.apiClient.buildCollectionParam(<#required><paramName></required><^required>opts['<paramName>']</required>, '<collectionFormat>')</collectionFormat><^collectionFormat><#required><paramName></required><^required>opts['<paramName>']</required></collectionFormat><^-last>,</-last></queryParams>
      };
      let headerParams = {<#headerParams>
        '<baseName>': <#required><paramName></required><^required>opts['<paramName>']</required><^-last>,</-last></headerParams>
      };
      let formParams = {<#formParams>
        '<baseName>': <#collectionFormat>this.apiClient.buildCollectionParam(<#required><paramName></required><^required>opts['<paramName>']</required>, '<collectionFormat>')</collectionFormat><^collectionFormat><#required><paramName></required><^required>opts['<paramName>']</required></collectionFormat><^-last>,</-last></formParams>
      };

      let authNames = [<#authMethods>'<name>'<^-last>, </-last></authMethods>];
      let contentTypes = [<#consumes>'<& mediaType>'<^-last>, </-last></consumes>];
      let accepts = [<#produces>'<& mediaType>'<^-last>, </-last></produces>];
      let returnType = <#vendorExtensions.x-return-type><&vendorExtensions.x-return-type></vendorExtensions.x-return-type><^vendorExtensions.x-return-type>null</vendorExtensions.x-return-type>;
      <#vendorExtensions.x-sdk-customization.x-multipart>
      // Merge explicit formData parameter (only for multipart ops)
      if (formData && typeof formData === 'object') {
        for (const [k, v] of Object.entries(formData)) {
          if (v !== undefined && v !== null) {
            formParams[k] = v;
          }
        }
      }
      </vendorExtensions.x-sdk-customization.x-multipart>
      <#servers.0>
      let basePaths = [<#servers>'<url>'<^-last>, </-last></servers>];
      let basePath = basePaths[0]; // by default use the first one in "servers" defined in OpenAPI
      if (typeof opts['_base_path_index'] !== 'undefined') {
        if (opts['_base_path_index']  >= basePaths.length || opts['_base_path_index'] <  0) {
          throw new Error("Invalid index " + opts['_base_path_index'] + " when selecting the host settings. Must be less than " + basePaths.length);
        }
        basePath = basePaths[opts['_base_path_index']];
      }

      </servers.0>
      return this.apiClient.callApi(
        '<&path>', '<httpMethod>',
        pathParams, queryParams, headerParams, formParams, postBody,
        authNames, contentTypes, accepts, returnType, <#servers.0>basePath</servers.0><^servers.0>null</servers.0><^usePromises>, callback</usePromises>
      );
    }
<#usePromises>
<#emitJSDoc>

    /**<#summary>
    * <&summary></summary><#notes>
    * <&notes></notes><#allParams><#required>
    * @param {<&vendorExtensions.x-jsdoc-type>} <&paramName> <&description></required></allParams><#hasOptionalParams>
    * @param {Object} [opts] Optional parameters<#allParams><^required>
    * @param {<&vendorExtensions.x-jsdoc-type>} [opts.<&paramName><#defaultValue> (default to <&.>)</defaultValue>] <&description></required></allParams></hasOptionalParams>
    <#vendorExtensions.x-sdk-customization.x-multipart>
    * @param {Object} [formData] Extra multipart fields/files (key → value). Values may be strings, File/Blob (browser) or Buffer/stream (Node).
    </vendorExtensions.x-sdk-customization.x-multipart><^usePromises>
    * @param {module:<#invokerPackage><&invokerPackage>/</invokerPackage><#apiPackage><&apiPackage>/</apiPackage><&classname>~<&operationId>Callback} callback The callback function, accepting three arguments: error, data, response<#returnType>
    * data is of type: {@link <&vendorExtensions.x-jsdoc-type>}</returnType></usePromises><#usePromises>
    * @return {Promise< <&vendorExtensions.x-jsdoc-type> >}</usePromises>
    */
</emitJSDoc>
    <operationId>(<vendorExtensions.x-codegen-arg-list><#vendorExtensions.x-sdk-customization.x-multipart>, formData</vendorExtensions.x-sdk-customization.x-multipart>) {
      return this.<operationId>WithHttpInfo(<vendorExtensions.x-codegen-arg-list><#vendorExtensions.x-sdk-customization.x-multipart>, formData</vendorExtensions.x-sdk-customization.x-multipart>)
        .then(function(response_and_data) {
          return response_and_data.data;
        });
    }
</usePromises>


</vendorExtensions.x-sdk-customization.x-skipped>


<#vendorExtensions.x-sdk-customization.x-replace-follow-execution>
    /**
     * Custom implementation for following execution via Server-Sent Events (SSE)<#allParams>
     * @param {<&vendorExtensions.x-jsdoc-type>} <baseName></allParams>
     * @param {Object} [options] Optional parameters
     * @param {Function} [options.EventSource] Custom EventSource constructor (for Node.js environment)
     * @return {EventSource} EventSource object to listen to execution events
     */
    <operationId>(<vendorExtensions.x-codegen-arg-list>, options = {} ) {
      // an EventSource implementation must be provided in Node.js environment
      // in browser environment, the native EventSource cannot be used ieither since it cannot
      // send the right http headers (like Authorization)
      const EventSourceImpl = options.EventSource ?? polyfilledEventSource;
      if (!EventSourceImpl) {
        throw new Error("EventSource implementation must be provided in options.EventSource");
      }
        let url = this.apiClient.buildUrl('<&path>', {<#pathParams>
            '<baseName>': <#required><paramName></required><^required>opts['<paramName>']</required><^-last>,</-last></pathParams>
        });

        const headers = this.apiClient.buildAuthHeaders([<#authMethods>'<name>'<^-last>, </-last></authMethods>]);

        // create EventSource
        const eventSource = new EventSourceImpl(url, { headers });
        return eventSource;
    }
</vendorExtensions.x-sdk-customization.x-replace-follow-execution>


<#vendorExtensions.x-sdk-customization.x-replace-follow-dependencies-execution>
    /**
     * Custom implementation for following execution via Server-Sent Events (SSE)<#allParams>
     * @param {<&vendorExtensions.x-jsdoc-type>} <baseName></allParams>
     * @param {Object} [options] Optional parameters
     * @param {Function} [options.EventSource] Custom EventSource constructor (for Node.js environment)
     * @return {EventSource} EventSource object to listen to execution events
     */
    <operationId>(<vendorExtensions.x-codegen-arg-list>, options = {} ) {
      // an EventSource implementation must be provided in Node.js environment
      // in browser environment, the native EventSource cannot be used ieither since it cannot
      // send the right http headers (like Authorization)
      const EventSourceImpl = options.EventSource ?? polyfilledEventSource;
      if (!EventSourceImpl) {
        throw new Error("EventSource implementation must be provided in options.EventSource");
      }
        let url = this.apiClient.buildUrl('<&path>', {<#pathParams>
            '<baseName>': <#required><paramName></required><^required>opts['<paramName>']</required><^-last>,</-last></pathParams>
        });

        const headers = this.apiClient.buildAuthHeaders([<#authMethods>'<name>'<^-last>, </-last></authMethods>]);

        // create EventSource
        const eventSource = new EventSourceImpl(url, { headers });
        return eventSource;
    }
</vendorExtensions.x-sdk-customization.x-replace-follow-dependencies-execution>
</operation></operations>

}
<={{ }}=>
