{
  "name": "{{{projectName}}}",
  "version": "{{{projectVersion}}}",
  "description": "{{{projectDescription}}}",
  "license": "{{licenseName}}",
  "type": "module",
  "scripts": {
    "build": "tsdown",
    "dev": "tsdown --watch",
    "test": "vitest run",
    "typecheck": "tsc --noEmit",
    "prepublishOnly": "npm run build"
  },
  "browser": {
    "fs": false
  },
{{#npmRepository}}
  "publishConfig":{
    "registry":"{{npmRepository}}"
  },
{{/npmRepository}}
  "exports": {
    ".": "./dist{{#invokerPackage}}/{{.}}{{/invokerPackage}}/KestraClient.mjs",
    "./package.json": "./package.json"
  },
  "main": "dist{{#invokerPackage}}/{{.}}{{/invokerPackage}}/KestraClient.mjs",
  "module": "dist{{#invokerPackage}}/{{.}}{{/invokerPackage}}/KestraClient.mjs",
  "types": "dist{{#invokerPackage}}/{{.}}{{/invokerPackage}}/KestraClient.d.mts",
  "files": [
    "dist"
  ],
  "dependencies": {
    "superagent": "^5.3.0"
  },
  "devDependencies": {
    "@types/node": "^24.10.1",
    "bumpp": "^10.3.2",
    "tsdown": "^0.17.0",
    "typescript": "^5.9.3",
    "vitest": "^4.0.15"
  }
}
