name: Javascript SDK release

on:
  workflow_call:
    secrets:
      NPM_TOKEN:
        required: true
      GCP_SERVICE_ACCOUNT:
        required: true
      APPLICATION_SECRETS:
        required: false

  workflow_dispatch:
    inputs:
      skip-test:
        description: 'Skip test'
        required: false
        type: string
        default: "false"

permissions:
  contents: read
  id-token: write


jobs:
  npm:
    name: Publish to Npm
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./javascript/javascript-sdk

    steps:
      - uses: actions/checkout@v6

      - name: Get OIDC Token
        env:
          AUDIENCE: "npm:registry.npmjs.org"
        run: |
          TOKEN_JSON=$(curl -s -H "Authorization: bearer $ACTIONS_ID_TOKEN_REQUEST_TOKEN" "$ACTIONS_ID_TOKEN_REQUEST_URL&audience=$AUDIENCE")
          ID_TOKEN=$(echo "$TOKEN_JSON" | jq -r .value)
          echo "NODE_AUTH_TOKEN=$ID_TOKEN" >> "$GITHUB_ENV"

      - uses: actions/setup-node@v6
        with:
          node-version: '22.12'
          registry-url: 'https://registry.npmjs.org'

      # Trusted publishing need npm 11.+
      - name: Upgrade npm
        run: |
          npm install -g npm@latest
          npm version

      - name: Set version
        id: set_version
        run: echo "VERSION=${GITHUB_REF#refs/tags/v}" >> $GITHUB_ENV

      - name: Install dependencies
        run: npm install

      - name: build
        run: npm run build

      - name: GCP - Auth with github service account
        uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: ${{ secrets.GCP_SERVICE_ACCOUNT }}

      - name: configure docker access to GCP registry for EE image
        run: gcloud auth configure-docker europe-west1-docker.pkg.dev

      - name: Test with vitest
        working-directory: ./javascript/
        env:
          APPLICATION_SECRETS: ${{ secrets.APPLICATION_SECRETS }}
        run: |
          echo $APPLICATION_SECRETS | base64 -d > ../test-utils/docker-setup/application-secrets.yml
          ./run-tests.sh

      - name: Publish to npm
        run: npm publish --access public
        if: startsWith(github.ref, 'refs/tags/v')
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}